<div class="container my-4 d-none">
  <div class="row">
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp font-weight-medium">
      <mat-label>{{'Start Date'}}</mat-label>
      <label>
        <input type="text" required
               matInput [matDatepicker]="startDate">
      </label>
      <mat-datepicker-toggle matSuffix [for]="startDate" disableRipple>
        <mat-icon matDatepickerToggleIcon class="mb-3">
          <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99"
               viewBox="0 0 23.99 23.99">
            <g>
              <g>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(17.268 9)"
                  fill="#1d252d"/>
                <path
                  d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(13.268 9)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(9.268 13)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(13.268 13)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(17.268 13)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(13.268 17)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(17.268 17)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(5.268 9)" fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(5.268 13)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(5.268 17)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(9.268 17)"
                  fill="#1d252d"/>
                <circle
                  cx="1" cy="1" r="1"
                  transform="translate(9.268 9)" fill="#1d252d"/>
              </g>
            </g>
          </svg>
        </mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field>
        <label>
          <input matInput placeholder="Course Name">
        </label>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="gray-input">
        <label>
          <input matInput placeholder="Course Name">
        </label>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field floatLabel="never">
                <span matPrefix class="mx-2">
            <fa-icon [icon]="faSearch" class="text-color-gray"></fa-icon>
        </span>
        <label>
          <input type="text" matInput placeholder="Type your placeholder">
        </label>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="gray-input" floatLabel="never">
                <span matPrefix class="mx-2">
            <fa-icon [icon]="faSearch" class="text-color-gray"></fa-icon>
        </span>
        <label>
          <input type="text" matInput placeholder="Type your placeholder">
        </label>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always">
        <label class="w-100">
          <textarea matInput placeholder="Type your placeholder" rows="5"></textarea>
        </label>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">option 1</mat-radio-button>
        <mat-radio-button value="2">option 2</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-12">
      <mat-checkbox>option 1</mat-checkbox>
      <mat-checkbox class="gray-checkbox">option 2</mat-checkbox>
      <mat-checkbox class="gray-checkbox">option 3</mat-checkbox>
    </div>
    <div class="col-12">
      <div class="gray-select">
        <div class="select-container">
          <mat-form-field class="font-16-imp font-weight-medium w-100">
                        <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
            <mat-select multiple placeholder="Type your placeholder">
              <mat-option>1</mat-option>
              <mat-option>2</mat-option>
              <mat-option>3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12">
      <mat-form-field class="w-100 font-16-imp font-weight-medium">
                <span matSuffix class="d-flex">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        <mat-select placeholder="Type your placeholder">
          <mat-option value="1">option 1</mat-option>
          <mat-option value="2">option 2</mat-option>
          <mat-option value="3">option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-button-toggle-group class="d-flex justify-content-between border-0 no-border-radius mx-n2">
        <mat-button-toggle class="border-0 button-toggle flex-grow-1 mx-2" value="1" disableRipple>option 1
        </mat-button-toggle>
        <mat-button-toggle class="border-0 button-toggle flex-grow-1 mx-2" value="2" disableRipple>option 2
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
