<div class="row mt-3 mt-md-0">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 my-3 my-md-0">
            <mat-form-field class="w-100 font-16-imp font-weight-medium gray-datepicker">
              <mat-label>{{'Start Date'}}</mat-label>
              <label>
                <input type="text" required
                       matInput [matDatepicker]="startDate">
              </label>
              <mat-datepicker-toggle matSuffix [for]="startDate" disableRipple>
                <mat-icon matDatepickerToggleIcon class="mb-3">
                  <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99" viewBox="0 0 23.99 23.99">
                    <g>
                      <g>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(17.268 9)"
                          fill="#1d252d"/>
                        <path
                          d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(13.268 9)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(9.268 13)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(13.268 13)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(17.268 13)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(13.268 17)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(17.268 17)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(5.268 9)" fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(5.268 13)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(5.268 17)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(9.268 17)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(9.268 9)" fill="#1d252d"/>
                      </g>
                    </g>
                  </svg>
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6 my-3 my-md-0">
            <mat-form-field class="w-100 font-16-imp font-weight-medium gray-datepicker">
              <mat-label>{{'End Date'}}</mat-label>
              <label>
                <input type="text" required
                       matInput [matDatepicker]="endDate">
              </label>
              <mat-datepicker-toggle matSuffix [for]="endDate" disableRipple>
                <mat-icon matDatepickerToggleIcon class="mb-3">
                  <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99" viewBox="0 0 23.99 23.99">
                    <g>
                      <g>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(17.268 9)"
                          fill="#1d252d"/>
                        <path
                          d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(13.268 9)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(9.268 13)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(13.268 13)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(17.268 13)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(13.268 17)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(17.268 17)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(5.268 9)" fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(5.268 13)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(5.268 17)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(9.268 17)"
                          fill="#1d252d"/>
                        <circle
                          cx="1" cy="1" r="1"
                          transform="translate(9.268 9)" fill="#1d252d"/>
                      </g>
                    </g>
                  </svg>
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>

          </div>
        </div>
      </div>
      <div class="col-md-3 my-3 my-md-0">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-medium w-100">
                                    <span matSuffix class="d-flex">

                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </span>
              <mat-select placeholder="Department">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 justify-content-end d-flex">
    <mat-form-field floatLabel="never">
                <span matPrefix class="mx-2">
            <fa-icon [icon]="faSearch" class="text-color-gray"></fa-icon>
        </span>
      <label>
        <input type="text" matInput placeholder="Type your placeholder">
      </label>
    </mat-form-field>
  </div>

</div>




