<mat-tab-group class="case-stages-tabs" #stageTabs [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index;">
    <ng-template mat-tab-label>
      <div class="d-flex flex-column align-items-center">
        <span class="check-circle">
          <svg xmlns="http://www.w3.org/2000/svg" width="10.452" height="10.096" viewBox="0 0 13.452 10.096">
            <path
              d="M7.98,14.167,5.194,11.381a.8.8,0,0,0-1.132,1.132l3.356,3.356a.8.8,0,0,0,1.132,0l8.495-8.495a.8.8,0,0,0-1.132-1.132Z"
              transform="translate(-3.828 -6.007)" fill="#00C48C"/>
          </svg>
        </span>
        <h3 class="font-18 font-weight-medium mb-0">{{tab.name}}</h3>
        <p class="font-14 font-weight-normal mb-0">{{tab.date}}</p>
        <span class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="10.196" height="22.479" viewBox="0 0 10.196 22.479">
            <g id="Group_12966" transform="translate(-683.517 -970.602)">
              <path id="triangle" d="M11,0,22,9.483H0Z" transform="translate(693 971) rotate(90)"
                    fill="#02c389"/>
              <path id="border" d="M5301.046,5552.917l9.019,11.093-9.019,10.749"
                    transform="translate(-4617 -4582)" fill="none" stroke="#fff" stroke-width="1"/>
            </g>
          </svg>

        </span>

      </div>
    </ng-template>
    <mat-tab-group class="case-stages-inner-tabs" *ngIf="index!==0">
      <mat-tab label="Events">
        <!-- when there is no data -->
        <div class="d-flex align-items-center justify-content-center flex-column p-5" *ngIf="eventsList.length===0">
          <svg xmlns="http://www.w3.org/2000/svg" width="104.75" height="104.75" viewBox="0 0 104.75 104.75">
            <defs>
              <clipPath id="clip-path">
                <path
                  d="M363.75-411.344a13.094,13.094,0,0,1-13.094,13.094H259v-82.927a13.094,13.094,0,0,1,13.094-13.094h13.094V-503h8.729v8.729h34.917V-503h8.729v8.729h13.094a13.094,13.094,0,0,1,13.094,13.094Zm-8.729-48.01H267.729v52.375h82.927a4.365,4.365,0,0,0,4.365-4.365ZM315.74-424.437v8.729H307.01v-8.729Zm21.823,0v8.729h-8.729v-8.729Zm-43.646,0v8.729h-8.729v-8.729Zm21.823-24.005v8.729H307.01v-8.729Zm21.823,0v8.729h-8.729v-8.729Zm-43.646,0v8.729h-8.729v-8.729Zm-8.729-37.1H272.094a4.364,4.364,0,0,0-4.365,4.365v13.094h87.292v-13.094a4.365,4.365,0,0,0-4.365-4.365H337.563v10.911h-8.729v-10.911H293.917v10.911h-8.729Z"
                  fill="#c2c9cc" clip-rule="evenodd"/>
              </clipPath>
              <clipPath id="clip-path-2">
                <path d="M259-398.25H363.75V-503H259Z"
                      transform="translate(-259 503)" fill="#c2c9cc"/>
              </clipPath>
            </defs>
            <g transform="translate(-259 503)" clip-path="url(#clip-path)">
              <g transform="translate(259 -503)" clip-path="url(#clip-path-2)">
                <path d="M254-508H383.691v129.69H254Z"
                      transform="translate(-266.47 495.53)" fill="#c2c9cc"/>
              </g>
            </g>
          </svg>
          <p class="font-26 font-weight-normal text-color-onyx my-4">No Events added </p>
          <button class="btn button-primary px-5" (click)="openAddEvent()"><span>Add First event</span></button>
        </div>
        <div class="p-3" *ngIf="hasEvent">
          <div class="row events-list">
            <div class="col-12 col-md-6 event-item" *ngFor="let event of eventsList;">
              <div class="d-flex flex-column h-100">
                <div class="d-flex align-items-center justify-content-between p-3 bg-color-primary-purple">
                  <div class="d-flex flex-column">
                    <h3 class="font-17 font-weight-medium text-color-white">Meeting with ahmed el ghamaday</h3>
                    <div class="d-flex align-items-center">
                      <div class="d-flex align-items-center">
                        <span class="d-inline-flex">
                          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                            <path id="Path_10262" data-name="Path 10262" d="M274-489.875A1.875,1.875,0,0,1,272.125-488H259v-11.875a1.875,1.875,0,0,1,1.875-1.875h1.875V-503H264v1.25h5V-503h1.25v1.25h1.875A1.875,1.875,0,0,1,274-499.875Zm-1.25-6.875h-12.5v7.5h11.875a.625.625,0,0,0,.625-.625Zm-5.625,5v1.25h-1.25v-1.25Zm3.125,0v1.25H269v-1.25Zm-6.25,0v1.25h-1.25v-1.25Zm3.125-3.437v1.25h-1.25v-1.25Zm3.125,0v1.25H269v-1.25Zm-6.25,0v1.25h-1.25v-1.25Zm-1.25-5.313h-1.875a.625.625,0,0,0-.625.625V-498h12.5v-1.875a.625.625,0,0,0-.625-.625H270.25v1.563H269V-500.5h-5v1.563h-1.25Z" transform="translate(-259 503)" fill="#ff375e" fill-rule="evenodd"/>
                          </svg>
                        </span>
                        <span class="mx-1"></span>
                        <span class="font-12 text-color-white">Due Jan 31,2020 - Moharm 20,1441</span>
                      </div>
                      <span class="mx-2"></span>
                      <div class="d-flex align-items-center">
                        <span class="d-inline-flex">
                          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                            <path id="Calls_Copy_7" data-name="Calls Copy 7" d="M8.125,7.115V3.438H6.875V7.885l5.9,2.966A6.252,6.252,0,1,1,13.75,7.5H15a7.5,7.5,0,1,0-.8,3.369l.281-.559Z" fill="#ff375e" fill-rule="evenodd"/>
                          </svg>
                        </span>
                        <span class="mx-1"></span>
                        <span class="font-12 text-color-white">At 12:00 AM</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-self-start">
                    <button class="button-link-square">
                      <span class="d-inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.072" height="14.072" viewBox="0 0 14.072 14.072">
                          <path id="Path_10362" data-name="Path 10362" d="M11.807,2.293,10.743,3.357l.824.824L6.9,7.921,5.789,6.806,4.725,7.87l2.859,2.859L3,15.312v1.053H4.053l4.583-4.584L11.5,14.64l1.064-1.064-1.05-1.051L15.2,7.811l.811.811,1.064-1.064Zm.821,2.966,1.489,1.49-3.612,4.62L8.059,8.923Z" transform="translate(-3 -2.293)" fill="#fff"/>
                        </svg>
                      </span>
                    </button>
                    <button class="button-link-square">
                      <span class="d-inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="4" height="16.002" viewBox="0 0 4 16.002">
                          <g id="Group_12141" data-name="Group 12141" transform="translate(-856 -1162.999)">
                            <path id="Union_22" data-name="Union 22" d="M-7119-15092a2,2,0,0,1,2-2,2,2,0,0,1,2,2,2,2,0,0,1-2,2A2,2,0,0,1-7119-15092Zm0-6a2,2,0,0,1,2-2,2,2,0,0,1,2,2,2,2,0,0,1-2,2A2,2,0,0,1-7119-15098Zm0-6a2,2,0,0,1,2-2,2,2,0,0,1,2,2,2,2,0,0,1-2,2A2,2,0,0,1-7119-15104Z" transform="translate(7975.001 16269)" fill="#fff"/>
                          </g>
                        </svg>
                      </span>
                    </button>
                  </div>
                </div>
                <div class="d-flex flex-column p-3 event-content flex-grow-1">
                  <div class="tasks-list-container flex-grow-1">
                    <div class="case-info-list">
                      <div class="row m-0">
                        <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
                          <div class="row">
                            <div class="col-12 col-md-6 info-key">Circle No</div>
                            <div class="col-12 col-md-6 info-value">252</div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
                          <div class="row">
                            <div class="col-12 col-md-6 info-key">Floor</div>
                            <div class="col-12 col-md-6 info-value">7th</div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 case-info-row">
                          <div class="row">
                            <div class="col-12 col-md-6 info-key">City</div>
                            <div class="col-12 col-md-6 info-value">Al Raydah</div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 case-info-row">
                          <div class="row">
                            <div class="col-12 col-md-6 info-key">Office No</div>
                            <div class="col-12 col-md-6 info-value">15</div>
                          </div>
                        </div>
                        <div class="col-12 case-info-row bg-color-light-gray">
                          <div class="row">
                            <div class="col-12 info-key">Description </div>
                            <div class="col-12 info-value font-12-imp font-weight-normal-imp">Each of us is expected to act in a way
                              that
                              promotes
                              the
                              Company’s best interests.  Personal relationships with suppliers,dealers, and customers must not affect your ability to act in a ma Personal relationships with suppliers,dealers, and customersner</div>
                          </div>
                        </div>
                        <div class="col-12 case-info-row">
                          <div class="row">
                            <div class="col-12 info-key mb-2">Attaches </div>
                            <div class="col-6">
                              <app-docs-uploader [editMode]="true"></app-docs-uploader>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 case-info-row d-flex justify-content-end">
                          <button class="add-task-btn bg-color-transparent border-0 px-0 font-14-imp" >
                            <span>3 Files More</span>
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                      <span class="font-11 text-color-dark-gray">Judge</span>
                      <span class="font-12 text-color-primary-purple">Osama Elzahrani</span>
                    </div>
                    <button class="add-task-btn bg-color-transparent border-0 px-0">
                    <span class="icon">
                      <fa-icon class="font-14 mx-2" [icon]="faPlus"></fa-icon>
                    </span>
                      <span class="mx-2">Add new task</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 event-item">
              <div class="d-flex align-items-center justify-content-center h-100" *ngIf="!hasNextEvent">
                <button class="btn button-secondary font-17 font-weight-medium px-5"
                        (click)="openAddNextEvent()"><span>Add next event</span></button>
              </div>
              <div class="d-flex flex-column h-100" *ngIf="hasNextEvent">
                <div class="d-flex align-items-center justify-content-between p-3 bg-color-primary-purple">
                  <div class="d-flex flex-column">
                    <h3 class="font-17 font-weight-medium text-color-white">Meeting with ahmed el ghamaday</h3>
                    <div class="d-flex align-items-center">
                      <div class="d-flex align-items-center">
                        <span class="d-inline-flex">
                          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                            <path id="Path_10262" data-name="Path 10262" d="M274-489.875A1.875,1.875,0,0,1,272.125-488H259v-11.875a1.875,1.875,0,0,1,1.875-1.875h1.875V-503H264v1.25h5V-503h1.25v1.25h1.875A1.875,1.875,0,0,1,274-499.875Zm-1.25-6.875h-12.5v7.5h11.875a.625.625,0,0,0,.625-.625Zm-5.625,5v1.25h-1.25v-1.25Zm3.125,0v1.25H269v-1.25Zm-6.25,0v1.25h-1.25v-1.25Zm3.125-3.437v1.25h-1.25v-1.25Zm3.125,0v1.25H269v-1.25Zm-6.25,0v1.25h-1.25v-1.25Zm-1.25-5.313h-1.875a.625.625,0,0,0-.625.625V-498h12.5v-1.875a.625.625,0,0,0-.625-.625H270.25v1.563H269V-500.5h-5v1.563h-1.25Z" transform="translate(-259 503)" fill="#ff375e" fill-rule="evenodd"/>
                          </svg>
                        </span>
                        <span class="mx-1"></span>
                        <span class="font-12 text-color-white">Due Jan 31,2020 - Moharm 20,1441</span>
                      </div>
                      <span class="mx-2"></span>
                      <div class="d-flex align-items-center">
                        <span class="d-inline-flex">
                          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                            <path id="Calls_Copy_7" data-name="Calls Copy 7" d="M8.125,7.115V3.438H6.875V7.885l5.9,2.966A6.252,6.252,0,1,1,13.75,7.5H15a7.5,7.5,0,1,0-.8,3.369l.281-.559Z" fill="#ff375e" fill-rule="evenodd"/>
                          </svg>
                        </span>
                        <span class="mx-1"></span>
                        <span class="font-12 text-color-white">At 12:00 AM</span>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-self-start">
                    <button class="button-link-square">
                      <span class="d-inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14.072" height="14.072" viewBox="0 0 14.072 14.072">
                          <path id="Path_10362" data-name="Path 10362" d="M11.807,2.293,10.743,3.357l.824.824L6.9,7.921,5.789,6.806,4.725,7.87l2.859,2.859L3,15.312v1.053H4.053l4.583-4.584L11.5,14.64l1.064-1.064-1.05-1.051L15.2,7.811l.811.811,1.064-1.064Zm.821,2.966,1.489,1.49-3.612,4.62L8.059,8.923Z" transform="translate(-3 -2.293)" fill="#fff"/>
                        </svg>
                      </span>
                    </button>
                    <button class="button-link-square">
                      <span class="d-inline-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="4" height="16.002" viewBox="0 0 4 16.002">
                          <g id="Group_12141" data-name="Group 12141" transform="translate(-856 -1162.999)">
                            <path id="Union_22" data-name="Union 22" d="M-7119-15092a2,2,0,0,1,2-2,2,2,0,0,1,2,2,2,2,0,0,1-2,2A2,2,0,0,1-7119-15092Zm0-6a2,2,0,0,1,2-2,2,2,0,0,1,2,2,2,2,0,0,1-2,2A2,2,0,0,1-7119-15098Zm0-6a2,2,0,0,1,2-2,2,2,0,0,1,2,2,2,2,0,0,1-2,2A2,2,0,0,1-7119-15104Z" transform="translate(7975.001 16269)" fill="#fff"/>
                          </g>
                        </svg>
                      </span>
                    </button>
                  </div>
                  <!--                  <svg xmlns="http://www.w3.org/2000/svg" width="24.329" height="24.329" viewBox="0 0 24.329 24.329">-->
                  <!--                    <defs>-->
                  <!--                      <clipPath id="clip-path">-->
                  <!--                        <path-->
                  <!--                          d="M283.329-481.712a3.041,3.041,0,0,1-3.041,3.041H259v-19.26a3.041,3.041,0,0,1,3.041-3.041h3.041V-503h2.027v2.027h8.109V-503h2.027v2.027h3.041a3.041,3.041,0,0,1,3.041,3.041ZM281.3-492.863H261.027V-480.7h19.26a1.014,1.014,0,0,0,1.014-1.014Zm-9.123,8.11v2.027h-2.027v-2.027Zm5.068,0v2.027h-2.027v-2.027Zm-10.137,0v2.027h-2.027v-2.027Zm5.068-5.575v2.027h-2.027v-2.027Zm5.068,0v2.027h-2.027v-2.027Zm-10.137,0v2.027h-2.027v-2.027Zm-2.027-8.616h-3.041a1.014,1.014,0,0,0-1.014,1.014v3.041H281.3v-3.041a1.014,1.014,0,0,0-1.014-1.014h-3.041v2.534h-2.027v-2.534H267.11v2.534h-2.027Z"-->
                  <!--                          transform="translate(-259 503)" fill="#fff" clip-rule="evenodd"/>-->
                  <!--                      </clipPath>-->
                  <!--                      <clipPath id="clip-path-2">-->
                  <!--                        <path d="M259-478.671h24.329V-503H259Z" transform="translate(-259 503)" fill="#fff"/>-->
                  <!--                      </clipPath>-->
                  <!--                    </defs>-->
                  <!--                    <g transform="translate(-101 -819)">-->
                  <!--                      <g transform="translate(101 819)" clip-path="url(#clip-path)">-->
                  <!--                        <g transform="translate(0 0)" clip-path="url(#clip-path-2)">-->
                  <!--                          <path d="M254-508h30.121v30.121H254Z" transform="translate(-256.896 505.104)" fill="#fff"/>-->
                  <!--                        </g>-->
                  <!--                      </g>-->
                  <!--                    </g>-->
                  <!--                  </svg>-->
                  <!--                  <h3 class="font-17 font-weight-medium text-color-white mb-0 mx-3">{{event.name}}</h3>-->
                  <!--                  <h3 class="font-17 font-weight-normal text-color-white mb-0">{{event.date}}</h3>-->
                </div>
                <div class="d-flex flex-column p-3 event-content flex-grow-1">
                  <div class="tasks-list-container flex-grow-1">
                    <div class="case-info-list">
                      <div class="row m-0">
                        <div class="col-12 case-info-row bg-color-light-gray">
                          <div class="row">
                            <div class="col-12 info-key">Description </div>
                            <div class="col-12 info-value font-12-imp font-weight-normal-imp">Each of us is expected to act in a way
                              that
                              promotes
                              the
                              Company’s best interests.  Personal relationships with suppliers,dealers, and customers must not affect your ability to act in a ma Personal relationships with suppliers,dealers, and customersner</div>
                          </div>
                        </div>
                        <div class="col-12 case-info-row">
                          <div class="row">
                            <div class="col-12 info-key">Notes </div>
                            <div class="col-12 info-value font-12-imp font-weight-normal-imp">Each of us is expected to act in a way
                              that
                              promotes
                              the
                              Company’s best interests.  Personal relationships with suppliers,dealers, and customers must not affect your ability to act in a ma Personal relationships with suppliers,dealers, and customersner</div>
                          </div>
                        </div>
                        <div class="col-12 case-info-row">
                          <div class="row">
                            <div class="col-12 info-key mb-2">Attaches </div>
                            <div class="col-6">
                              <app-docs-uploader [editMode]="true"></app-docs-uploader>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 case-info-row d-flex justify-content-end">
                          <button class="add-task-btn bg-color-transparent border-0 px-0 font-14-imp">
                            <span>3 Files More</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex flex-column">
                      <span class="font-11 text-color-dark-gray">Judge</span>
                      <span class="font-12 text-color-primary-purple">Osama Elzahrani</span>
                    </div>
                    <button class="add-task-btn bg-color-transparent border-0 px-0">
                    <span class="icon">
                      <fa-icon class="font-14 mx-2" [icon]="faPlus"></fa-icon>
                    </span>
                      <span class="mx-2">Add new task</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Notes">
        <!-- when there is no data -->
        <div class="d-flex align-items-center justify-content-center flex-column p-5" *ngIf="notesList.length===0">
          <svg xmlns="http://www.w3.org/2000/svg" width="65.726" height="65.489" viewBox="0 0 65.726 65.489">
            <path
              d="M67.275,17.541,56.019,6.285A8.216,8.216,0,0,0,45.092,6L8.121,42.969A8.216,8.216,0,0,0,5.779,47.94L4.013,65.07a4.1,4.1,0,0,0,4.108,4.478h.37l17.13-1.561a8.216,8.216,0,0,0,4.971-2.342L67.563,28.673a7.887,7.887,0,0,0-.288-11.132ZM24.881,59.77l-12.324,1.15L13.667,48.6l23.21-22.922L47.968,36.766ZM53.308,31.261,42.3,20.252l8.01-8.216L61.524,23.251Z"
              transform="translate(-3.996 -4.058)" fill="#c2c9cc"/>
          </svg>
          <p class="font-26 font-weight-normal text-color-onyx my-4">No notes added </p>
          <button class="btn button-primary px-5" (click)="openAddNote()"><span>Add First note</span></button>
        </div>
        <div class="p-3" *ngIf="notesList.length>0">
          <div class="row notes-list">
            <div class="col-12 col-md-4 note-item" *ngFor="let event of notesList;">
              <div class="note">
                <div class="note-content">
                  <h3 class="font-22 font-weight-bold text-color-onyx">Note title</h3>
                  <p class="font-15 font-weight-normal text-color-onyx">- checklist one<br>
                    - checklist two<br>
                    - checklist three
                  </p>
                </div>
                <div class="align-items-center d-flex justify-content-between">
                  <p class="font-12 font-weight-normal text-black-50 mb-0">Last updated: 11:30 AM</p>
                  <div class="note-actions">
                    <button>
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24">
                        <g transform="translate(0.219 -0.439)">
                          <g id="edit" transform="translate(0 0)">
                            <rect width="25" height="24" transform="translate(-0.219 0.439)" fill="#1d252d"
                                  opacity="0"/>
                            <path
                              d="M19.61,7.385,16.833,4.607a2.027,2.027,0,0,0-2.7-.071L5.014,13.659a2.027,2.027,0,0,0-.578,1.227L4,19.113a1.011,1.011,0,0,0,1.014,1.1H5.1l4.227-.385a2.027,2.027,0,0,0,1.227-.578l9.123-9.123a1.946,1.946,0,0,0-.071-2.747ZM9.149,17.805l-3.041.284.274-3.041,5.727-5.656,2.737,2.737Zm7.014-7.035L13.447,8.054l1.977-2.027,2.767,2.767Z"
                              transform="translate(-0.308 0.331)" fill="#1d252d"/>
                          </g>
                        </g>
                      </svg>
                    </button>
                    <button>
                      <svg xmlns="http://www.w3.org/2000/svg" width="17.821" height="17.821"
                           viewBox="0 0 17.821 17.821">
                        <g transform="translate(0 0)">
                          <g transform="translate(0 0)">
                            <path
                              d="M15.4,20.97H7.854a2.131,2.131,0,0,1-2.128-1.926L4.5,6.783A.711.711,0,0,1,5.213,6H18.044a.713.713,0,0,1,.709.783l-1.223,12.26A2.132,2.132,0,0,1,15.4,20.97ZM6,7.426,7.145,18.9a.711.711,0,0,0,.709.642H15.4a.711.711,0,0,0,.709-.642L17.257,7.426Z"
                              transform="translate(-2.718 -3.149)" fill="#1d252d"/>
                            <path d="M19.108,7.426H2.713A.713.713,0,1,1,2.713,6h16.4a.713.713,0,0,1,0,1.426Z"
                                  transform="translate(-2 -3.149)" fill="#1d252d"/>
                            <path
                              d="M14.213,19.267a.713.713,0,0,1-.713-.713V10.713a.713.713,0,0,1,1.426,0v7.841A.713.713,0,0,1,14.213,19.267Z"
                              transform="translate(-5.302 -4.297)" fill="#1d252d"/>
                            <path
                              d="M10.425,19.267a.713.713,0,0,1-.709-.649L9,10.777a.713.713,0,1,1,1.42-.128l.713,7.841a.713.713,0,0,1-.711.777Z"
                              transform="translate(-4.01 -4.297)" fill="#1d252d"/>
                            <path
                              d="M17.714,19.267A.713.713,0,0,1,17,18.49l.713-7.841a.713.713,0,1,1,1.42.128l-.713,7.841A.713.713,0,0,1,17.714,19.267Z"
                              transform="translate(-6.307 -4.298)" fill="#1d252d"/>
                            <path
                              d="M16.128,6.277H9.713A.713.713,0,0,1,9,5.564V2.713A.713.713,0,0,1,9.713,2h6.416a.713.713,0,0,1,.713.713V5.564A.713.713,0,0,1,16.128,6.277Zm-5.7-1.426h4.99V3.426h-4.99Z"
                              transform="translate(-4.01 -2)" fill="#1d252d"/>
                          </g>
                        </g>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn button-secondary px-5" (click)="openAddNote()"><span>Add new note</span></button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Discussion">
        <!-- when there is no data -->
        <div class="d-flex align-items-center justify-content-center flex-column p-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="65.726" height="65.489" viewBox="0 0 65.726 65.489">
            <path
              d="M67.275,17.541,56.019,6.285A8.216,8.216,0,0,0,45.092,6L8.121,42.969A8.216,8.216,0,0,0,5.779,47.94L4.013,65.07a4.1,4.1,0,0,0,4.108,4.478h.37l17.13-1.561a8.216,8.216,0,0,0,4.971-2.342L67.563,28.673a7.887,7.887,0,0,0-.288-11.132ZM24.881,59.77l-12.324,1.15L13.667,48.6l23.21-22.922L47.968,36.766ZM53.308,31.261,42.3,20.252l8.01-8.216L61.524,23.251Z"
              transform="translate(-3.996 -4.058)" fill="#c2c9cc"/>
          </svg>
          <p class="font-26 font-weight-normal text-color-onyx my-4">No discussion added </p>
          <button class="btn button-primary px-5"><span>Add First discussion</span></button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>
<button class="add-stage-button font-17" (click)="p.toggle()" #anchor="satPopoverAnchor" satPopoverAnchor>
  <span class="d-none d-md-flex align-items-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
    <circle cx="18" cy="18" r="18" transform="translate(7 7)" fill="#ff375e"/>
    <g fill="none" stroke="#ff375e" stroke-width="1">
      <circle cx="25" cy="25" r="25" stroke="none"/>
      <circle cx="25" cy="25" r="24.5" fill="none"/>
    </g>
    <g transform="translate(13.991 13.991)">
      <path d="M0,0H22.018V23.209H0Z" fill="none"/>
      <path
        d="M16.927,13.02H12.339v5.012a.921.921,0,1,1-1.835,0V13.02H5.917a1.006,1.006,0,0,1,0-2H10.5V6a.921.921,0,1,1,1.835,0v5.012h4.587a1.006,1.006,0,0,1,0,2Z"
        transform="translate(-0.413 -0.413)" fill="#fff"/>
    </g>
  </svg>
  <span class="mx-3 d-none d-md-block">Add Stage</span>
  </span>

  <span class="d-md-none d-inline">
    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="42" viewBox="0 0 38 42">
  <g transform="translate(-337 -1631)">
    <path d="M21,0H38V42H21A21,21,0,0,1,21,0Z" transform="translate(337 1631)"
          fill="#ff375e"/>
    <g transform="translate(348 1641)">
      <path d="M0,0H22.018V22.018H0Z" fill="none"/>
      <path
        d="M16.927,12.339H12.339v4.587a.917.917,0,1,1-1.835,0V12.339H5.917a.917.917,0,1,1,0-1.835H10.5V5.917a.917.917,0,1,1,1.835,0V10.5h4.587a.917.917,0,1,1,0,1.835Z"
        transform="translate(-0.413 -0.413)" fill="#fff"/>
    </g>
  </g>
</svg>
  </span>
</button>
<sat-popover
  #p
  [anchor]="anchor"
  hasBackdrop
  horizontalAlign="center"
  verticalAlign="below"
  [autoFocus]="autoFocus"
  [restoreFocus]="restoreFocus"
>
  <div class="bg-color-white mat-elevation-z1 add-stage-popover">
    <div class="d-flex justify-content-between border-bottom py-3 px-4">
      <h1 class="font-19 font-weight-medium text-color-onyx mb-0">Add new stage</h1>
      <button class="popup-close-btn d-md-none d-flex" (click)="p.close()">
        <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
          <path
            d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
            transform="translate(-11.285 -11.289)"/>
        </svg>
      </button>
    </div>
    <div class="p-4 p-md-3">
      <mat-form-field>
        <input matInput placeholder="Title" value="test" #stageName required/>
      </mat-form-field>
      <mat-form-field class="w-100 font-16-imp font-weight-medium">
        <mat-label>{{'Due date'}}</mat-label>
        <label>
          <input type="text" required #stageDueDate
                 value="20/3/2020"
                 (focus)="duetDate.open()"
                 (blur)="duetDate.close()"
                 matInput [matDatepicker]="duetDate">
        </label>
        <mat-datepicker-toggle matSuffix [for]="duetDate" disableRipple>
          <mat-icon matDatepickerToggleIcon class="mb-3">
            <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99"
                 viewBox="0 0 23.99 23.99">
              <g>
                <g>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 9)"
                    fill="#1d252d"/>
                  <path
                    d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 9)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 9)" fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 9)" fill="#1d252d"/>
                </g>
              </g>
            </svg>
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #duetDate></mat-datepicker>
      </mat-form-field>
      <button class="btn button-primary w-100" [disabled]="stageName.value === '' || stageDueDate.value === ''"
              (click)="addTab(stageName.value, stageDueDate.value)"><span>Add</span>
      </button>
    </div>
  </div>
</sat-popover>
