@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host {
  position: relative;
  display: block;
}

:host .mat-tab-group.case-stages-tabs ::ng-deep {
  background: $light-gray;

  .mat-tab-header-pagination {
    display: none !important;
  }

  > .mat-tab-header {
    background-color: $light-gray;
    border: 1px solid #E9E9E9;
    border-right: none;
    margin-right: 190px;
    overflow-x: scroll !important;

    &::-webkit-scrollbar {
      display: none;
    }

    .mat-tab-list {
      background-color: $light-gray;
    }

    .mat-tab-label-container {
      overflow: visible !important;
    }

    .mat-tab-label {
      background-color: #E9E9E9 !important;
      height: 90px !important;
      min-width: 175px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      opacity: 1 !important;
      position: relative;
      overflow: visible;
      border-right: 1px solid $white;

      h3 {
        color: $onyx;
      }

      p {
        color: $dark-gray;
      }

      .arrow {
        position: absolute;
        top: 9px;
        right: -10px;

        svg {
          #triangle {
            fill: #E9E9E9;
          }
        }
      }
      .check-circle {
        display: none;
      }
    }

    .mat-tab-label.mat-tab-label-completed {
      background-color: $oasis-light !important;

      h3, p {
        color: $white !important;
      }

      .arrow {
        svg {
          #triangle {
            fill: $oasis-light !important;
          }

          #border {
            stroke: $white !important;
          }
        }
      }

      .check-circle {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        //position: absolute;
        top: 3px;
        left: calc(50% - 10px);
        background-color: $white;
        margin-bottom: 4px;

      }

    }

    .mat-tab-label.mat-tab-label-active {
      background-color: $primary-purple !important;

      h3, p {
        color: $white !important;
      }

      .arrow {
        svg {
          #triangle {
            fill: $primary-purple !important;
          }
        }
      }

      .check-circle {
        display: none;
      }
    }

    .mat-ink-bar {
      display: none !important;
    }

    .mat-tab-nav-bar, .mat-tab-header {
      border-bottom: none !important;
    }
  }

  > .mat-tab-body-wrapper {
    background-color: $white;
  }
}

:host .mat-tab-group.case-stages-inner-tabs ::ng-deep {
  > .mat-tab-header {
    .mat-tab-label {
      opacity: 1;
    }

    .mat-tab-label-content {
      color: $dark-gray;
      font-size: 1.125rem;
      font-weight: $font-regular;
    }

    .mat-tab-label-active {
      .mat-tab-label-content {
        color: $primary-purple;
        font-size: 1.125rem;
        font-weight: $font-medium;
      }
    }

    .mat-ink-bar {
      background-color: $primary-purple !important;
      height: 3px;
    }
  }

  > .mat-tab-body-wrapper {
    background-color: $white;

    .mat-tab-body-content {
      min-height: 350px;
      overflow-x: hidden;

      > div {
        min-height: 350px;
      }
    }
  }
}

.add-stage-button {
  font-weight: bold;
  color: $coral;
  display: flex;
  align-items: center;
  background-color: $transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  padding: 0 11px;
  height: 90px;
  border: 1px solid #E9E9E9;
  border-left: none;
  z-index: 1;
  white-space: nowrap;
}

.add-stage-popover {
  width: 420px;
}

.add-task-btn {
  color: $coral;
  font-size: 17px;
  font-weight: $font-medium;
  text-decoration: underline;
  display: flex;
  align-items: center;

  span.icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border-radius: 50%;
    background-color: $coral;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
  }
}

.tasks-list-container {
  min-height: 120px;
  margin-bottom: 14px;
  background-color: $white;
  border-bottom: 1px solid #DADADA;
}

.events-list {
  padding: 0 15px;

  .event-item {
    padding-bottom: 30px;
  }
}

.notes-list {
  padding: 0 15px;

  .note-item {
    padding-bottom: 30px;

    .note {
      background-color: #FFF475;
      display: flex;
      flex-direction: column;
      padding: 12px;
      min-height: 250px;
      justify-content: space-between;

      .note-actions {
        display: flex;

        button {
          border: 0;
          background-color: rgba($white, 20%);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 42px;
          height: 42px;
          min-width: 42px;
          min-height: 42px;
          max-width: 42px;
          max-height: 42px;

        }

        button:first-child {
          margin: 0 12px;
        }
      }
    }
  }
}

.event-content{
  border: 1px solid #DADADA;
  border-radius: 0 0 3px 3px;
}

:host ::ng-deep{
  .upload-file-container {
    height: 40px !important;
    border-radius: 0 !important;
    padding: 0 10px !important;
    &.uploaded {
      .uploading-item {
        .elpsis-text {
          p {
            font-size: 12px !important;
          }
          span{
            display: none;
          }
        }

      }
    }

    .uploading-done {
      .uploaded-file-icon {
        min-width: 24px !important;
        width: 24px !important;
        height: 24px !important;

      }


      .uploaded-file-actions {
        width: 20px !important;
        height: 20px !important;
        &.delete{
          display: none !important;
        }
      }
    }
  }
}


.case-info-list {
  .case-info-row {
    padding: 15px;

    .info-key, .info-value {
      display: flex;
      align-items: center;
    }

    .info-key {
      color: $dark-gray;
      font-size: 14px;
      font-weight: $font-light;
    }

    .info-value {
      color: $onyx;
      font-size: 14px;
      font-weight: $font-medium;
    }
  }
}


@include media-breakpoint-down(sm) {
  .case-info-list {
    .case-info-row:nth-child(odd) {
      background-color: $light-gray !important;
    }

    .case-info-row:nth-child(even) {
      background-color: $white !important;
    }
  }
}


@include media-breakpoint-down(sm) {
  :host .mat-tab-group.case-stages-tabs ::ng-deep {
    > .mat-tab-header {
      margin-right: 0px;
    }
  }

  .add-stage-button {
    padding: 0;
    top: -45px;
    border: 0;
  }
}
