<div class="d-flex align-items-center justify-content-between">
    <button class="filters-popup-close-btn" matDialogClose>Cancel</button>
    <h1 class="font-17 font-weight-medium text-color-onyx">Filters</h1>
    <button class="filters-popup-apply-btn">Apply</button>
</div>
<div class="row">
    <div class="col-12 mt-3">
        <div class="gray-select">
            <div class="select-container">
                <mat-form-field class="font-16-imp font-weight-medium w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                    <mat-select placeholder="Classification">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="gray-select">
            <div class="select-container">
                <mat-form-field class="font-16-imp font-weight-medium w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                    <mat-select placeholder="Attorney">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="gray-select">
            <div class="select-container">
                <mat-form-field class="font-16-imp font-weight-medium w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                    <mat-select placeholder="Case stage">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="gray-select">
            <div class="select-container">
                <mat-form-field class="font-16-imp font-weight-medium w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                    <mat-select placeholder="Owner">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-12 mt-3">
        <div class="gray-select">
            <div class="select-container">
                <mat-form-field class="font-16-imp font-weight-medium w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                    <mat-select placeholder="Status">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>