@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

[dir=rtl]{
  text-align: right;
}
.case-info-list {
  .case-info-row {
    padding: 25px 100px;

    .info-key, .info-value {
      display: flex;
      align-items: center;
    }

    .info-key {
      color: $dark-gray;
      font-size: 17px;
      font-weight: $font-regular;
    }

    .info-value {
      color: $onyx;
      font-size: 16px;
      font-weight: $font-regular;
    }
  }
}

.image-icon{
  position: absolute;
  right: -50px;
}



:host ::ng-deep{
  .mat-expansion-panel{
    border-radius: 0;
    box-shadow: none;
    border: 0;
    .mat-expansion-panel-header{
      height: 90px !important;
      background-color: $white !important;
      .mat-expansion-indicator{
        &:after{
          color: $onyx !important;
          border-width: 0 3px 3px 0 !important;
          height: 12px;
          width: 12px;
        }
      }
    }
  }
}


@include media-breakpoint-down(sm) {
  .case-info-list {
    .case-info-row {
      padding: 15px;
    }
    .case-info-row:nth-child(odd) {
      background-color: $light-gray !important;
    }

    .case-info-row:nth-child(even) {
      background-color: $white !important;
    }
  }
}
