<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="font-27 font-weight-bold text-color-onyx">
        Results Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="case-info-list" dir="rtl">
      <div class="row m-0 mb-5 pb-4 border-bottom">
        <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
          <div class="row">

            <div class="col-12 col-md-5 info-key">
              <span class="image-icon"><img src="assets/images/justice.svg" alt=""></span>
              حكم أبتدائي رقم
            </div>
            <div class="col-12 col-md-7 info-value">2522522202</div>
          </div>
        </div>
        <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
          <div class="row">
            <div class="col-12 col-md-5 info-key">التاريخ الهجري</div>
            <div class="col-12 col-md-7 info-value">10 صفر 1440</div>
          </div>
        </div>
        <div class="col-12 col-md-6 case-info-row">
          <div class="row">
            <div class="col-12 col-md-5 info-key">التاريخ الميلادي</div>
            <div class="col-12 col-md-7 info-value">20 مارس 2020</div>
          </div>
        </div>
        <div class="col-12 case-info-row bg-color-light-gray">
          <div class="row">
            <div class="col-12 info-key mb-3">منطوق الحكم الابتدائي </div>
            <div class="col-12 info-value">يحق للشركة طلب تقديم أو تأخير تاريخ المباشرة المقترح وفق تقديرها الخاص. في حالة قبولك للعرض الوظيفي أعلاه، يرجى التوقيع بالإشارة بالقبول مع ذكر التاريخ أدناه وإعادتة لنا في أسرع وقت ممكن. يسري هذا العرض لمدة 3 أيام عمل من تاريخه.</div>
          </div>
        </div>
        <div class="col-12 case-info-row">
          <div class="row">
            <div class="col-12 info-key mb-2">المرفقات </div>
            <div class="col-md-6">
              <app-docs-uploader [editMode]="true"></app-docs-uploader>
            </div>
            <div class="col-md-6">
              <app-docs-uploader [editMode]="true"></app-docs-uploader>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0 mb-5">
        <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
          <div class="row">

            <div class="col-12 col-md-5 info-key">
              <span class="image-icon"><img src="assets/images/justice.svg" alt=""></span>
              حكم نهائي رقم
            </div>
            <div class="col-12 col-md-7 info-value">2522522202</div>
          </div>
        </div>
        <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
          <div class="row">
            <div class="col-12 col-md-5 info-key">التاريخ الهجري</div>
            <div class="col-12 col-md-7 info-value">10 صفر 1440</div>
          </div>
        </div>
        <div class="col-12 col-md-6 case-info-row">
          <div class="row">
            <div class="col-12 col-md-5 info-key">التاريخ الميلادي</div>
            <div class="col-12 col-md-7 info-value">20 مارس 2020</div>
          </div>
        </div>
        <div class="col-12 col-md-6 case-info-row">
          <div class="row">
            <div class="col-12 col-md-5 info-key">القرار النهائي</div>
            <div class="col-12 col-md-7 info-value">حفظ القضية</div>
          </div>
        </div>
        <div class="col-12 case-info-row bg-color-light-gray">
          <div class="row">
            <div class="col-12 info-key mb-3">منطوق الحكم النهائي</div>
            <div class="col-12 info-value">يحق للشركة طلب تقديم أو تأخير تاريخ المباشرة المقترح وفق تقديرها الخاص. في حالة قبولك للعرض الوظيفي أعلاه، يرجى التوقيع بالإشارة بالقبول مع ذكر التاريخ أدناه وإعادتة لنا في أسرع وقت ممكن. يسري هذا العرض لمدة 3 أيام عمل من تاريخه.</div>
          </div>
        </div>
        <div class="col-12 case-info-row">
          <div class="row">
            <div class="col-12 info-key mb-2">المرفقات </div>
            <div class="col-md-6">
              <app-docs-uploader [editMode]="true"></app-docs-uploader>
            </div>
            <div class="col-md-6">
              <app-docs-uploader [editMode]="true"></app-docs-uploader>
            </div>
          </div>
        </div>
        <div class="col-12 case-info-row bg-color-light-gray">
          <div class="row">
            <div class="col-12 info-key mb-3">ملاحظات عامة</div>
            <div class="col-12 info-value">يحق للشركة طلب تقديم أو تأخير تاريخ المباشرة المقترح وفق تقديرها الخاص. في حالة قبولك للعرض الوظيفي أعلاه، يرجى التوقيع بالإشارة بالقبول مع ذكر التاريخ أدناه.</div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
