.img-container {
  width: 52px;
  height: 52px;
  min-width: 52px;
  min-height: 52px;
  max-width: 52px;
  max-height: 52px;
  border-radius: 50%;
  overflow: hidden;

  img {
    max-width: 100%;
    width: 100%;
  }
}
