<!--
<div class="d-flex justify-content-between" mat-dialog-title>
  <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Delegate to team member</h1>
  <button class="popup-close-btn" matDialogClose>
    <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
      <path
        d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
        transform="translate(-11.285 -11.289)"/>
    </svg>
  </button>
</div>
<div class="d-flex flex-column dialog-content h-100" mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <label class="mb-2 font-16 font-weight-medium text-color-onyx">Choose consultant</label>
      <div class="gray-select">
        <div class="select-container">
          <mat-form-field class="font-16-imp font-weight-medium w-100">
                        <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
            <mat-select placeholder="Choose the Final Result">
              <mat-option>1</mat-option>
              <mat-option>2</mat-option>
              <mat-option>3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12">
      <ul class="list-unstyled">
        <li class="mb-3">
          <div class="d-flex align-items-center bg-color-light-gray p-3">
            <mat-radio-button class="white-radio"></mat-radio-button>
            <div class="img-container mx-3">
              <img src="assets/images/profile-img.png" alt="">
            </div>
            <h3 class="font-18 font-weight-medium text-color-onyx mb-0">Abd Elrahman Elgamdi</h3>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex align-items-center bg-color-light-gray p-3">
            <mat-radio-button class="white-radio"></mat-radio-button>
            <div class="img-container mx-3">
              <img src="assets/images/profile-img.png" alt="">
            </div>
            <h3 class="font-18 font-weight-medium text-color-onyx mb-0">Abd Elrahman Elgamdi</h3>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex align-items-center bg-color-light-gray p-3">
            <mat-radio-button class="white-radio"></mat-radio-button>
            <div class="img-container mx-3">
              <img src="assets/images/profile-img.png" alt="">
            </div>
            <h3 class="font-18 font-weight-medium text-color-onyx mb-0">Abd Elrahman Elgamdi</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center my-2">
  <button class="btn button-ternary font-weight-500 font-17 px-5"><span>Discard</span>
  </button>
  <span class="mx-3"></span>
  <button class="btn button-oasis font-weight-500 font-17 px-5">
    <span>Delegate now</span>
  </button>
</div>

-->
<div class="d-flex justify-content-between" mat-dialog-title>
  <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Assign to Team Member</h1>
  <button class="popup-close-btn" matDialogClose>
    <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
      <path
        d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
        transform="translate(-11.285 -11.289)"/>
    </svg>
  </button>
</div>
<div class="d-flex flex-column dialog-content" mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="gray-input">
        <label>
          <input matInput placeholder="Abdal">
        </label>
      </mat-form-field>
    </div>
    <div class="col-12">
      <ul class="list-unstyled mx-4 mt-4">
        <li class="mb-3">
          <div class="d-flex align-items-center">
            <mat-radio-button class=""></mat-radio-button>
            <div class="align-items-center border-bottom d-flex pb-3 w-100">
              <div class="img-container mx-3">
                <img src="assets/images/profile-img.png" alt="">
              </div>
              <h3 class="font-18 font-weight-medium text-color-onyx mb-0">Abd Elrahman Elgamdi</h3>
            </div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex align-items-center">
            <mat-radio-button class=""></mat-radio-button>
            <div class="align-items-center border-bottom d-flex pb-3 w-100">
              <div class="img-container mx-3">
                <img src="assets/images/profile-img.png" alt="">
              </div>
              <h3 class="font-18 font-weight-medium text-color-onyx mb-0">Abd Elrahman Elgamdi</h3>
            </div>
          </div>
        </li>
        <li class="mb-3">
          <div class="d-flex align-items-center">
            <mat-radio-button class=""></mat-radio-button>
            <div class="align-items-center border-bottom d-flex pb-3 w-100">
              <div class="img-container mx-3">
                <img src="assets/images/profile-img.png" alt="">
              </div>
              <h3 class="font-18 font-weight-medium text-color-onyx mb-0">Abd Elrahman Elgamdi</h3>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center my-2">
  <button class="btn button-secondary font-weight-500 font-17 px-5"><span>Discard</span>
  </button>
  <span class="mx-3"></span>
  <button class="btn button-primary font-weight-500 font-17 px-5">
    <span>Delegate now</span>
  </button>
</div>

