<div class="d-flex justify-content-between" mat-dialog-title>
  <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Law Office Replies</h1>
  <button class="popup-close-btn" matDialogClose>
    <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
      <path
        d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
        transform="translate(-11.285 -11.289)"/>
    </svg>
  </button>
</div>
<div class="d-flex flex-column dialog-content" mat-dialog-content>
  <div class="row">
    <div class="col-12 px-4">
      <h3 class="font-20 font-weight-medium text-color-onyx">Law office name one:</h3>
      <p class="font-17 font-weight-light text-color-onyx">
        <svg xmlns="http://www.w3.org/2000/svg" width="27.532" height="19.666" viewBox="0 0 27.532 19.666">
          <g id="quote" transform="translate(-5 -6.666)">
            <g transform="translate(0 0)">
              <g transform="translate(5 6.666)">
                <path d="M11.8,54.467H5.9l3.933,7.866h-5.9L0,54.467v-11.8H11.8Z" transform="translate(15.733 -42.667)"
                      fill="#ff375e"/>
                <path d="M182.467,42.667v11.8h-5.9l3.933,7.866h-5.9l-3.933-7.866v-11.8Z"
                      transform="translate(-170.667 -42.667)" fill="#ff375e"/>
              </g>
            </g>
          </g>
        </svg>
        <span class="mx-2">
          Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </span>
      </p>
      <div class="my-4">
        <svg id="Group_12965" data-name="Group 12965" xmlns="http://www.w3.org/2000/svg" width="367" height="86" viewBox="0 0 367 86">
          <rect id="Rectangle_1959" data-name="Rectangle 1959" width="367" height="86" fill="#f3f3f1"/>
          <rect id="Rectangle_1959-2" data-name="Rectangle 1959" width="62" height="67" transform="translate(8 9)" fill="#a54ee1"/>
          <text id="Attached_file_name_" data-name="Attached file name " transform="translate(89 36)" fill="#1d252d" font-size="13" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0">Attached file name </tspan></text>
          <text id="_345_KB" data-name="345 KB" transform="translate(89 60)" fill="#8e9aa0" font-size="10" font-family="SegoeUI, Segoe UI"><tspan x="0" y="0">345 KB</tspan></text>
          <rect id="Rectangle_2482" data-name="Rectangle 2482" width="18" height="19" rx="6" transform="translate(343 5)" fill="#fff" opacity="0.71"/>
          <path id="Path_2980" data-name="Path 2980" d="M10.792,11.548A2.339,2.339,0,0,0,9.444,7.295H8.855a3.743,3.743,0,1,0-6.428,3.411" transform="translate(345.002 5.461)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
          <path id="Path_2983" data-name="Path 2983" d="M59.548,12.092h-.812V8.175a.57.57,0,0,0-.007-.074.65.65,0,0,0-.157-.429L52.054.227l-.005,0a.658.658,0,0,0-.132-.111C51.9.1,51.888.094,51.873.086a.683.683,0,0,0-.131-.055L51.707.019A.661.661,0,0,0,51.555,0H35.536A1.327,1.327,0,0,0,34.21,1.326V12.092H33.4A1.9,1.9,0,0,0,31.5,13.987V23.84A1.9,1.9,0,0,0,33.4,25.735h.812V32.48a1.327,1.327,0,0,0,1.326,1.326H57.41a1.327,1.327,0,0,0,1.326-1.326V25.735h.812a1.9,1.9,0,0,0,1.895-1.895V13.987A1.9,1.9,0,0,0,59.548,12.092ZM35.536,1.326H50.892V8.109a.663.663,0,0,0,.663.663H57.41v3.321H35.536ZM51.81,18.966a5.017,5.017,0,0,1-1.646,4.01A7.1,7.1,0,0,1,45.6,24.254a19.458,19.458,0,0,1-2.541-.147V14.384a20.029,20.029,0,0,1,3.026-.205,6.373,6.373,0,0,1,4.053,1.057A4.38,4.38,0,0,1,51.81,18.966ZM34.523,24.151V14.384a18.4,18.4,0,0,1,3.026-.205,4.745,4.745,0,0,1,3.025.793,2.892,2.892,0,0,1,1.057,2.291,3.16,3.16,0,0,1-.91,2.35A4.589,4.589,0,0,1,37.5,20.656a5.6,5.6,0,0,1-.763-.044v3.539H34.523Zm22.887,7.97H35.536V25.735H57.41v6.386Zm1.921-16.033h-3.8V18.35h3.554v1.821H55.526v3.98H53.281v-9.9h6.05Z" transform="translate(-7.793 26.006)" fill="#fff"/>
        </svg>
      </div>
    </div>
  </div>
</div>


