.status{
  min-width: 75px;
  //width: 75px;
  min-height: 29px;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: $font-medium;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.new{
    color: $sea-light;
    background-color: rgba($sea-light, .21);
  }
  &.waiting{
    color: $yellow;
    background-color: rgba($yellow, .21);
  }
  &.sent-back{
    color: $danger;
    background-color: rgba($danger, .21);
  }
  &.confirmed{
    color: $oasis-light;
    background-color: rgba($oasis-light, .21);
  }
}
