.popup-close-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  border: none;
}

.mat-dialog-content{
  border-top: 1px solid $light-gray;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  //max-height: initial !important;
}

.mat-dialog-container{
  height: auto !important;
}
.mat-dialog-actions{
  background-color: $white;
  margin-bottom: 0 !important;
  button{
    min-width:175px;
  }
}

.main-popup{
  .popup-container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .dialog-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mat-dialog-title{
    margin: -24px -24px 0 !important;
    padding: 24px;
    min-height: 80px;
  }

  .mat-dialog-content{
    border-top: 1px solid rgba($silver, .46);
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    overflow-y: auto;
    flex-grow: 1;
  }

  .mat-dialog-actions{
    background-color: $white;
    margin-bottom: 0 !important;
    min-height: 72px;
  }
}

@include media-breakpoint-down(sm){
  .mat-dialog-actions{
    button{
      min-width:145px;
    }
  }

  .main-popup {
    width: 100%;
    max-width: 100% !important;
    height: 100%;
    bottom: 0 !important;
    position: absolute !important;
    border-top-right-radius: 24px !important;
    //.mat-dialog-title {
    //  padding: 0 14px;
    //  min-height: 65px;
    //}
    .mat-dialog-content {
      max-height: none;
      flex-grow: 1;
    }
    .mat-dialog-container {
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
      overflow: hidden !important;
    }
  }
  .sat-popover-container {
    width: 100%;
    position: fixed;
    transform: none;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;

    .add-stage-popover {
      height: 100%;
    }
  }
}
