<div class="bg-color-white h-100">
    <div class="hub-container">
        <div class="row pt-3">
            <div class="col-12 d-flex align-items-center">
                <h1 class="font-24 font-weight-medium text-color-dark-gray mb-0 text-nowrap">Import/Export</h1>
            </div>
        </div>
        <mat-tab-group class="primary-tab mt-3">
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="font-17">Cases</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="d-flex align-items-center justify-content-between flex-wrap mt-3">
                        <p class="my-2">Import cases from other legal practice management software using our Case Import</p>
                        <div>
                            <button class="btn button-secondary font-weight-medium font-17 px-5 my-2"
                                    (click)="openExport()"><span>Export
                            </span>
                            </button>
                            <span class="mx-3"></span>
                            <button class="btn button-primary font-weight-medium font-17 px-5 my-2"
                                    (click)="openImport()"><span>Import</span>
                            </button>
                        </div>
                    </div>
                    <div class="table-container mt-3">
                        <div class="overflow-auto">
                            <table class="primary-table">
                                <thead>
                                    <tr>
                                        <th class="w-50">File</th>
                                        <th>Type</th>
                                        <th>Uploaded</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Imported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Exported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Imported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Exported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="font-17">Litigants</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="d-flex align-items-center justify-content-between flex-wrap mt-3">
                        <p class="my-2">Import cases from other legal practice management software using our Case Import</p>
                        <div>
                            <button class="btn button-secondary font-weight-medium font-17 px-5 my-2"><span>Export</span>
                            </button>
                            <span class="mx-3"></span>
                            <button class="btn button-primary font-weight-medium font-17 px-5 my-2"><span>Import</span>
                            </button>
                        </div>
                    </div>
                    <div class="table-container mt-3">
                        <div class="overflow-auto">
                            <table class="primary-table">
                                <thead>
                                    <tr>
                                        <th class="w-50">File</th>
                                        <th>Type</th>
                                        <th>Uploaded</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Imported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Exported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Imported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Exported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <span class="font-17">Policies</span>
                </ng-template>
                <ng-template matTabContent>
                    <div class="d-flex align-items-center justify-content-between flex-wrap mt-3">
                        <p class="my-2">Import cases from other legal practice management software using our Case Import</p>
                        <div>
                            <button class="btn button-secondary font-weight-medium font-17 px-5 my-2"><span>Export</span>
                            </button>
                            <span class="mx-3"></span>
                            <button class="btn button-primary font-weight-medium font-17 px-5 my-2"><span>Import</span>
                            </button>
                        </div>
                    </div>
                    <div class="table-container mt-3">
                        <div class="overflow-auto">
                            <table class="primary-table">
                                <thead>
                                    <tr>
                                        <th class="w-50">File</th>
                                        <th>Type</th>
                                        <th>Uploaded</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Imported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Exported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Imported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                    <tr>
                                        <td>File no.1 name</td>
                                        <td>Exported</td>
                                        <td>Today 12:10AM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
