:host {
    height: 100%;
    display: block;
    table {
        tr {
            th,
            td {
                text-align: left;
                padding: 12px 24px;
            }
        }
    }
}

[dir=rtl]{
  :host {
    table {
      tr {
        th,
        td {
          text-align: right;
        }
      }
    }
  }
}
