<div class="d-flex align-items-center justify-content-between modal-options d-md-none">
  <button class="filters-popup-close-btn" matDialogClose>Cancel</button>
  <h1 class="font-17 font-weight-medium text-color-onyx m-0">Filters</h1>
  <button class="filters-popup-apply-btn">Apply</button>
</div>
<div class="scroll">
  <div class="genral-border bg-color-white">
    <h3 class="font-24 font-weight-medium m-0 px-4 py-3 text-color-onyx d-md-flex d-none">Filters</h3>
    <div class="border-top py-4 px-md-4 px-0">
      <div class="row mt-0 mt-md-3 mt-md-0">
        <div class="col-12">
          <mat-button-toggle-group class="d-flex justify-content-between flex-wrap border-0 no-border-radius"
                                   value="1">
            <mat-button-toggle class="border-0 button-toggle mx-2 mb-2" value="1" disableRipple>Cases
            </mat-button-toggle>
            <mat-button-toggle class="border-0 button-toggle mx-2 mb-2" value="2" disableRipple>Content
            </mat-button-toggle>
            <mat-button-toggle class="border-0 button-toggle mx-2 mb-2" value="3" disableRipple>Contracts
            </mat-button-toggle>
            <mat-button-toggle class="border-0 button-toggle mx-2 mb-2" value="4" disableRipple>Events
            </mat-button-toggle>
            <mat-button-toggle class="border-0 button-toggle mx-2 mb-2" value="5" disableRipple>Tasks
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="col-12">
          <h4 class="font-21 font-weight-bold text-color-primary-purple mt-3 mb-3">Staff</h4>
        </div>
        <div class="col-12">
          <mat-checkbox class="gray-checkbox mb-3 d-flex">My Calendar</mat-checkbox>
          <mat-checkbox class="gray-checkbox mb-3 d-flex">Ahmed Adel</mat-checkbox>
          <mat-checkbox class="gray-checkbox mb-3 d-flex">Mohamed el ghamdy</mat-checkbox>
          <mat-checkbox class="gray-checkbox mb-3 d-flex">Naif Alnahid</mat-checkbox>
        </div>
        <div class="col-12">
          <h4 class="font-21 font-weight-bold text-color-primary-purple mt-3 mb-3">Event Types</h4>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-md-6">
              <mat-checkbox class="coral-checkbox mb-3 d-flex">Type 1</mat-checkbox>
            </div>
            <div class="col-md-6">
              <mat-checkbox class="orange-checkbox mb-3 d-flex">Type 2</mat-checkbox>
            </div>
            <div class="col-md-6">
              <mat-checkbox class="primary-purple-checkbox mb-3 d-flex">Type 3</mat-checkbox>
            </div>
            <div class="col-md-6">
              <mat-checkbox class="secondary-purple-checkbox mb-3 d-flex">Type 4</mat-checkbox>
            </div>
            <div class="col-md-6">
              <mat-checkbox class="oasis-light-checkbox mb-3 d-flex">Type 5</mat-checkbox>
            </div>
            <div class="col-md-6">
              <mat-checkbox class="sea-light-checkbox mb-3 d-flex">Type 6</mat-checkbox>
            </div>
            <div class="col-md-6">
              <mat-checkbox class="yellow-checkbox mb-3 d-flex">Type 7</mat-checkbox>
            </div>
            <div class="col-md-6">
              <mat-checkbox class="onyx-checkbox mb-3 d-flex">Type 8</mat-checkbox>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>



