@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host {
  ::ng-deep {
    .mat-button-toggle-group {
      margin: 0 !important;

      .mat-button-toggle {
        width: calc(50% - 7px);
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 14px !important;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .genral-border , .border-top{
    border: 0 !important;
  }
}

@include media-breakpoint-down(sm) {
  .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin-bottom: 40px;
  }
}

