<div class="d-flex justify-content-between" mat-dialog-title>
  <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Send to Law Office</h1>
  <button class="popup-close-btn" matDialogClose>
    <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
      <path
        d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
        transform="translate(-11.285 -11.289)"/>
    </svg>
  </button>
</div>
<div class="d-flex flex-column dialog-content" mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <div class="gray-select">
        <div class="select-container">
          <mat-form-field class="font-16-imp font-weight-medium w-100">
                        <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
            <mat-select placeholder="Choose Law Office">
              <mat-option>1</mat-option>
              <mat-option>2</mat-option>
              <mat-option>3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always">
        <label class="w-100">
          <textarea matInput placeholder="Add note" rows="5"></textarea>
        </label>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center my-2">
  <button class="btn button-ternary font-weight-500 font-17 px-5"><span>Cancel</span>
  </button>
  <span class="mx-3"></span>
  <button class="btn button-primary font-weight-500 font-17 px-5">
    <span>Send</span>
  </button>
</div>

