<div class="upcoming-events mt-3">
    <mat-list>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon class="bg-color-primary-purple">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 23.516 23.516">
                <path id="Path_10262" data-name="Path 10262" d="M282.516-482.424a2.939,2.939,0,0,1-2.939,2.939H259V-498.1a2.939,2.939,0,0,1,2.939-2.939h2.939V-503h1.96v1.96h7.838V-503h1.96v1.96h2.939a2.939,2.939,0,0,1,2.939,2.939Zm-1.96-10.778h-19.6v11.758h18.616a.98.98,0,0,0,.98-.98Zm-8.818,7.839v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm4.9-5.389v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm-1.96-8.328h-2.939a.98.98,0,0,0-.98.98v2.939h19.6V-498.1a.98.98,0,0,0-.98-.98h-2.939v2.45h-1.96v-2.45h-7.838v2.45h-1.96Z" transform="translate(-259 503)" fill="#fff" fill-rule="evenodd"/>
              </svg>
            </mat-icon>
            <h4 mat-line class="text-color-onyx font-17 font-weight-medium">Event name <span class="text-color-onyx font-17 font-weight-normal mx-2">Today - (12:00pm-1:00pm)</span> </h4>
            <p mat-line class="text-color-secondary-purple font-16 font-weight-medium"> Case name No. two </p>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon class="bg-color-yellow">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 23.516 23.516">
                  <path id="Path_10262" data-name="Path 10262" d="M282.516-482.424a2.939,2.939,0,0,1-2.939,2.939H259V-498.1a2.939,2.939,0,0,1,2.939-2.939h2.939V-503h1.96v1.96h7.838V-503h1.96v1.96h2.939a2.939,2.939,0,0,1,2.939,2.939Zm-1.96-10.778h-19.6v11.758h18.616a.98.98,0,0,0,.98-.98Zm-8.818,7.839v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm4.9-5.389v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm-1.96-8.328h-2.939a.98.98,0,0,0-.98.98v2.939h19.6V-498.1a.98.98,0,0,0-.98-.98h-2.939v2.45h-1.96v-2.45h-7.838v2.45h-1.96Z" transform="translate(-259 503)" fill="#fff" fill-rule="evenodd"/>
                </svg>
            </mat-icon>
            <h4 mat-line class="text-color-onyx font-17 font-weight-medium">Event name <span class="text-color-onyx font-17 font-weight-normal mx-2">Today - (12:00pm-1:00pm)</span> </h4>
            <p mat-line class="text-color-secondary-purple font-16 font-weight-medium"> Case name No. two </p>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon class="bg-color-oasis-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 23.516 23.516">
                  <path id="Path_10262" data-name="Path 10262" d="M282.516-482.424a2.939,2.939,0,0,1-2.939,2.939H259V-498.1a2.939,2.939,0,0,1,2.939-2.939h2.939V-503h1.96v1.96h7.838V-503h1.96v1.96h2.939a2.939,2.939,0,0,1,2.939,2.939Zm-1.96-10.778h-19.6v11.758h18.616a.98.98,0,0,0,.98-.98Zm-8.818,7.839v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm4.9-5.389v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm-1.96-8.328h-2.939a.98.98,0,0,0-.98.98v2.939h19.6V-498.1a.98.98,0,0,0-.98-.98h-2.939v2.45h-1.96v-2.45h-7.838v2.45h-1.96Z" transform="translate(-259 503)" fill="#fff" fill-rule="evenodd"/>
                </svg>
            </mat-icon>
            <h4 mat-line class="text-color-onyx font-17 font-weight-medium">Event name <span class="text-color-onyx font-17 font-weight-normal mx-2">Today - (12:00pm-1:00pm)</span> </h4>
            <p mat-line class="text-color-secondary-purple font-16 font-weight-medium"> Case name No. two </p>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon class="bg-color-sea-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 23.516 23.516">
                  <path id="Path_10262" data-name="Path 10262" d="M282.516-482.424a2.939,2.939,0,0,1-2.939,2.939H259V-498.1a2.939,2.939,0,0,1,2.939-2.939h2.939V-503h1.96v1.96h7.838V-503h1.96v1.96h2.939a2.939,2.939,0,0,1,2.939,2.939Zm-1.96-10.778h-19.6v11.758h18.616a.98.98,0,0,0,.98-.98Zm-8.818,7.839v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm4.9-5.389v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm-1.96-8.328h-2.939a.98.98,0,0,0-.98.98v2.939h19.6V-498.1a.98.98,0,0,0-.98-.98h-2.939v2.45h-1.96v-2.45h-7.838v2.45h-1.96Z" transform="translate(-259 503)" fill="#fff" fill-rule="evenodd"/>
                </svg>
            </mat-icon>
            <h4 mat-line class="text-color-onyx font-17 font-weight-medium">Event name <span class="text-color-onyx font-17 font-weight-normal mx-2">Today - (12:00pm-1:00pm)</span> </h4>
            <p mat-line class="text-color-secondary-purple font-16 font-weight-medium"> Case name No. two </p>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon class="bg-color-secondary-purple">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 23.516 23.516">
                  <path id="Path_10262" data-name="Path 10262" d="M282.516-482.424a2.939,2.939,0,0,1-2.939,2.939H259V-498.1a2.939,2.939,0,0,1,2.939-2.939h2.939V-503h1.96v1.96h7.838V-503h1.96v1.96h2.939a2.939,2.939,0,0,1,2.939,2.939Zm-1.96-10.778h-19.6v11.758h18.616a.98.98,0,0,0,.98-.98Zm-8.818,7.839v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm4.9-5.389v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm-1.96-8.328h-2.939a.98.98,0,0,0-.98.98v2.939h19.6V-498.1a.98.98,0,0,0-.98-.98h-2.939v2.45h-1.96v-2.45h-7.838v2.45h-1.96Z" transform="translate(-259 503)" fill="#fff" fill-rule="evenodd"/>
                </svg>
            </mat-icon>
            <h4 mat-line class="text-color-onyx font-17 font-weight-medium">Event name <span class="text-color-onyx font-17 font-weight-normal mx-2">Today - (12:00pm-1:00pm)</span> </h4>
            <p mat-line class="text-color-secondary-purple font-16 font-weight-medium"> Case name No. two </p>
        </mat-list-item>
    </mat-list>
</div>
