@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
:host {
    .mat-list {
        .mat-list-item {
            background-color: $white;
            &:nth-child(odd) {
                background-color: $light-gray2;
            }
             ::ng-deep {
                .mat-list-item-content {
                    padding: 16px 20px !important;
                    .mat-icon {
                        width: 57px;
                        height: 57px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .mat-list-text {
                        .mat-line {
                            overflow: visible;
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
     :host {
        .mat-list {
            .mat-list-item {
                 ::ng-deep {
                    .mat-list-item-content {
                        .mat-icon {
                            width: 47px;
                            height: 47px;
                            svg {
                                width: 100%;
                                max-width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}
