@import "src/scss/variables";

:host {
    .mat-list {
      .mat-list-item {
        background-color: $white;

        &:nth-child(odd) {
          background-color: #F4F4F4;
        }

        ::ng-deep{
            .mat-list-item-content {
                padding: 16px 0 !important;

                .mat-icon {
                  width: 57px;
                  height: 57px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
        }
      }


    }
}
