<div class="recent-activity mt-3 mx-n4">
    <mat-list>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon>
                <svg xmlns="http://www.w3.org/2000/svg" width="22.02" height="26.089" viewBox="0 0 22.02 26.089">
          <g id="Group_11997" data-name="Group 11997" transform="translate(24031 -21450)">
            <path id="Path_2981" data-name="Path 2981"
              d="M118.8,259.663c0-.7-.465-1.122-1.285-1.122a2.684,2.684,0,0,0-.68.068v2.256a2.436,2.436,0,0,0,.55.045C118.262,260.91,118.8,260.445,118.8,259.663Z"
              transform="translate(-24143.984 21203.705)" fill="#1d252d" />
            <path id="Path_2982" data-name="Path 2982"
              d="M257.1,259.019a3.273,3.273,0,0,0-.746.068v5a2.852,2.852,0,0,0,.573.035c1.49.011,2.463-.85,2.463-2.675A2.141,2.141,0,0,0,257.1,259.019Z"
              transform="translate(-24277.205 21203.25)" fill="#1d252d" />
            <path id="Path_2983" data-name="Path 2983"
              d="M52.13,9.332h-.6V6.309a.461.461,0,0,0-.005-.057.517.517,0,0,0-.116-.331L46.618.175l0,0a.49.49,0,0,0-.1-.085l-.032-.02a.49.49,0,0,0-.1-.042L46.363.015A.465.465,0,0,0,46.251,0H34.47a1,1,0,0,0-.975,1.023V9.332h-.6A1.429,1.429,0,0,0,31.5,10.794v7.6A1.429,1.429,0,0,0,32.9,19.861h.6v5.205a1,1,0,0,0,.975,1.023H50.558a1,1,0,0,0,.975-1.023V19.861h.6A1.429,1.429,0,0,0,53.524,18.4v-7.6A1.429,1.429,0,0,0,52.13,9.332ZM34.47,1.023H45.764V6.258a.5.5,0,0,0,.488.512h4.307V9.332H34.47Zm11.97,13.614a3.963,3.963,0,0,1-1.211,3.095,5.049,5.049,0,0,1-3.358.986A13.649,13.649,0,0,1,40,18.6V11.1a14.052,14.052,0,0,1,2.226-.158,4.525,4.525,0,0,1,2.981.816A3.448,3.448,0,0,1,46.439,14.637Zm-12.715,4V11.1a12.909,12.909,0,0,1,2.225-.158,3.371,3.371,0,0,1,2.225.612,2.277,2.277,0,0,1,.777,1.768,2.5,2.5,0,0,1-.669,1.813,3.274,3.274,0,0,1-2.366.805,3.931,3.931,0,0,1-.561-.034v2.732H33.725Zm16.833,6.151H34.47V19.861H50.558v4.928Zm1.413-12.373h-2.8v1.745h2.614v1.406H49.173v3.072H47.521V11h4.45Z"
              transform="translate(-24062.504 21450)" fill="#1d252d" />
          </g>
        </svg>
            </mat-icon>
            <div class="d-flex align-items-center flex-wrap">
                <span class="text-color-onyx font-17 font-weight-medium mx-1">Osamn Samir</span>
                <span class="text-color-dark-gray font-17 font-weight-normal mx-1">update on document</span>
                <span class="text-color-onyx font-17 font-weight-medium mx-1">Doc/name.doc</span>
                <span class="text-color-secondary-purple font-17 font-weight-medium mx-1">Case name no.2</span>
            </div>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon>
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="20.25" viewBox="0 0 27 20.25">
          <path id="Path_10390" data-name="Path 10390"
            d="M24.469-16.875H14.344L10.969-20.25H2.531A2.531,2.531,0,0,0,0-17.719V-2.531A2.531,2.531,0,0,0,2.531,0H24.469A2.531,2.531,0,0,0,27-2.531V-14.344A2.531,2.531,0,0,0,24.469-16.875ZM17.974-5.753a.844.844,0,0,1,0,1.193l-.6.6a.844.844,0,0,1-1.193,0L13.5-6.648,10.815-3.963a.844.844,0,0,1-1.193,0l-.6-.6a.844.844,0,0,1,0-1.193L11.71-8.437,9.026-11.122a.844.844,0,0,1,0-1.193l.6-.6a.844.844,0,0,1,1.193,0L13.5-10.227l2.685-2.685a.844.844,0,0,1,1.193,0l.6.6a.844.844,0,0,1,0,1.193L15.29-8.437Z"
            transform="translate(0 20.25)" fill="#1d252d" />
        </svg>
            </mat-icon>
            <div class="mat-elements">
                <div class="d-flex align-items-center flex-wrap">
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Osamn Samir</span>
                    <span class="text-color-dark-gray font-17 font-weight-normal mx-1">update on document</span>
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Doc/name.doc</span>
                    <span class="text-color-secondary-purple font-17 font-weight-medium mx-1">Case name no.2</span>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="27" viewBox="0 0 28 27">
          <path id="Path_10257" data-name="Path 10257"
            d="M6,3A4.016,4.016,0,0,0,2,7V8A1,1,0,0,0,3,9H5V23a4,4,0,0,0,4,4h5.947a8.855,8.855,0,0,1-.717-2H9a2,2,0,0,1-2-2V9h8a1,1,0,0,0,1-1V7a1.984,1.984,0,0,1,2-2,3,3,0,0,1,3,3v6.23A8.97,8.97,0,0,1,23,14V8a5.006,5.006,0,0,0-5-5Zm3,9v2H19V12Zm0,4v2h6.518a9.051,9.051,0,0,1,1.832-2Zm14,0a7,7,0,1,0,7,7A7,7,0,0,0,23,16Zm0,3a1,1,0,0,1,1,1v2h2a1,1,0,0,1,0,2H24v2a1,1,0,0,1-2,0V24H20a1,1,0,0,1,0-2h2V20A1,1,0,0,1,23,19ZM9,20v2h5.059a8.921,8.921,0,0,1,.464-2Z"
            transform="translate(-2 -3)" fill="#1d252d" />
        </svg>
            </mat-icon>
            <div class="mat-elements">
                <div class="d-flex align-items-center flex-wrap">
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Osamn Samir</span>
                    <span class="text-color-dark-gray font-17 font-weight-normal mx-1">update on document</span>
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Doc/name.doc</span>
                    <span class="text-color-secondary-purple font-17 font-weight-medium mx-1">Case name no.2</span>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
          <g id="Group_11917" data-name="Group 11917" transform="translate(-563.006 -890.006)">
            <circle id="Ellipse_393" data-name="Ellipse 393" cx="12.5" cy="12.5" r="12.5"
              transform="translate(563.006 890.006)" fill="#02c389" />
            <g id="Group_11916" data-name="Group 11916" transform="translate(566.273 893.273)">
              <path id="Path_10351" data-name="Path 10351" d="M0,0H19.269V19.269H0Z" fill="none" />
              <path id="Path_10352" data-name="Path 10352"
                d="M7.98,14.167,5.194,11.381a.8.8,0,0,0-1.132,1.132l3.356,3.356a.8.8,0,0,0,1.132,0l8.495-8.495a.8.8,0,0,0-1.132-1.132Z"
                transform="translate(-0.754 -1.184)" fill="#fff" stroke="#fff" stroke-width="1" />
            </g>
          </g>
        </svg>
            </mat-icon>
            <div class="mat-elements">
                <div class="d-flex align-items-center flex-wrap">
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Osamn Samir</span>
                    <span class="text-color-dark-gray font-17 font-weight-normal mx-1">update on document</span>
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Doc/name.doc</span>
                    <span class="text-color-secondary-purple font-17 font-weight-medium mx-1">Case name no.2</span>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon>
                <svg xmlns="http://www.w3.org/2000/svg" width="23.516" height="23.516" viewBox="0 0 23.516 23.516">
          <path id="Path_10393" data-name="Path 10393"
            d="M282.516-482.424a2.939,2.939,0,0,1-2.939,2.939H259V-498.1a2.939,2.939,0,0,1,2.939-2.939h2.939V-503h1.96v1.96h7.838V-503h1.96v1.96h2.939a2.939,2.939,0,0,1,2.939,2.939Zm-1.96-10.778h-19.6v11.758h18.616a.98.98,0,0,0,.98-.98Zm-8.818,7.839v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm4.9-5.389v1.96h-1.96v-1.96Zm4.9,0v1.96h-1.96v-1.96Zm-9.8,0v1.96h-1.96v-1.96Zm-1.96-8.328h-2.939a.98.98,0,0,0-.98.98v2.939h19.6V-498.1a.98.98,0,0,0-.98-.98h-2.939v2.45h-1.96v-2.45h-7.838v2.45h-1.96Z"
            transform="translate(-259 503)" fill="#1d252d" fill-rule="evenodd" />
        </svg>
            </mat-icon>
            <div class="mat-elements">
                <div class="d-flex align-items-center flex-wrap">
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Osamn Samir</span>
                    <span class="text-color-dark-gray font-17 font-weight-normal mx-1">update on document</span>
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Doc/name.doc</span>
                    <span class="text-color-secondary-purple font-17 font-weight-medium mx-1">Case name no.2</span>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="22" viewBox="0 0 16 22">
          <text id="_" data-name="" transform="translate(0 19)" fill="#1d252d" font-size="21"
            font-family="FontAwesome5Pro-Regular, 'Font Awesome 5 Pro'">
            <tspan x="0" y="0"></tspan>
          </text>
        </svg>
            </mat-icon>
            <div class="mat-elements">
                <div class="d-flex align-items-center flex-wrap">
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Osamn Samir</span>
                    <span class="text-color-dark-gray font-17 font-weight-normal mx-1">update on document</span>
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Doc/name.doc</span>
                    <span class="text-color-secondary-purple font-17 font-weight-medium mx-1">Case name no.2</span>
                </div>
            </div>
        </mat-list-item>
        <mat-list-item class="h-auto">
            <mat-icon mat-list-icon>
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" width="31.656" height="30.39" viewBox="0 0 31.656 30.39">
          <g id="edit" transform="translate(0 0)">
            <rect id="Rectangle_2814" data-name="Rectangle 2814" width="31.656" height="30.39" fill="#1d252d"
              opacity="0" />
            <path id="Path_9540" data-name="Path 9540"
              d="M23.768,8.271,20.251,4.754a2.567,2.567,0,0,0-3.414-.09L5.285,16.216a2.567,2.567,0,0,0-.732,1.553L4,23.121a1.28,1.28,0,0,0,1.284,1.4H5.4l5.352-.488a2.567,2.567,0,0,0,1.553-.732L23.858,11.749a2.464,2.464,0,0,0-.09-3.478ZM10.522,21.465l-3.851.359.347-3.851,7.252-7.162,3.466,3.466ZM19.4,12.558l-3.44-3.44,2.5-2.567,3.5,3.5Z"
              transform="translate(0.952 0.943)" fill="#1d252d" />
          </g>
        </svg>
            </mat-icon>
            <div class="mat-elements">
                <div class="d-flex align-items-center flex-wrap">
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Osamn Samir</span>
                    <span class="text-color-dark-gray font-17 font-weight-normal mx-1">update on document</span>
                    <span class="text-color-onyx font-17 font-weight-medium mx-1">Doc/name.doc</span>
                    <span class="text-color-secondary-purple font-17 font-weight-medium mx-1">Case name no.2</span>
                </div>
            </div>
        </mat-list-item>

    </mat-list>
</div>