<div class="d-flex align-items-center w-100">
  <!-- Start Uploader-->

  <!--upload file container takes 4 classes based on the status -->
  <!--uploading class ===> progress bar-->
  <!--upload-failed class ===> when the upload failed-->
  <!--upload-warning class ===> there are warnings in the file uploaded-->
  <!--uploaded class ===> when the file was uploaded successfully -->
  <div class="upload-file-container flex-grow-1" [ngClass]="{'uploaded': editMode}">
    <!-- before-upload -->
    <div class="uploading-item" [ngClass]="{'before-upload': !editMode}" (click)="fileAttached.click()">
      <div class="align-items-center d-flex flex-column">
        <img class="mb-3" src="assets/images/upload-to-cloud.svg" alt="">
        <p class="text-color-onyx-imp font-16-imp font-md-14-imp text-center mb-0">
          Drag and Drop file here
          <span class="font-weight-bold">or Browse</span>
        </p>
      </div>
      <input type="file" class="none-display" #fileAttached>
    </div>
    <!-- uploading-progress -->
    <div class="uploading-item" [ngClass]="{'uploading-progress': !editMode}">
      <span class="progress-number">15%</span>
      <div class="font-20 font-md-16 font-weight-medium uploaded-text">Uploaded</div>
      <div class="progress-bar"></div>
    </div>
    <!-- uploading-failed -->
    <div class="uploading-item" [ngClass]="{'uploading-failed': !editMode}">
      <div class="align-items-center d-flex flex-column" (click)="removeDoc()">
        <p class="d-flex align-items-center font-20 font-md-16 font-weight-medium text-color-off-white mb-0">
          <img class="mx-2" src="assets/images/upload-failed.svg" alt="">
          Uploading Failed
        </p>
        <p class="font-14-imp check-connection-msg text-center text-color-off-white mb-0">
          <img src="assets/images/refresh-cw.svg" alt="">
          <span class="mx-2">
              Check your connection and try again
              </span>
        </p>
      </div>
    </div>
    <!-- uploading-warning -->
    <div class="uploading-item" [ngClass]="{'uploading-warning': !editMode}" (click)="removeDoc()">
      <div class="align-items-center d-flex flex-column">
        <p
          class="d-flex align-items-center font-20 font-md-16 text-color-onyx-imp font-weight-medium text-color-off-white mb-0">
              <span class="mx-2">
                <svg width="22.036" height="17.149">
                <g id="upload-to-cloud" transform="translate(0.25 0.25)" opacity="0.87">
                  <path id="Path_2616" data-name="Path 2616"
                        d="M16.62,38.86a5.873,5.873,0,0,0-11.72,0,5.6,5.6,0,0,0,.708,11.165h8.528a.439.439,0,1,0,0-.879H5.608A4.726,4.726,0,0,1,5.351,39.7a.439.439,0,0,0,.416-.439c0-.009,0-.017,0-.026a4.994,4.994,0,0,1,9.988,0c0,.008,0,.017,0,.024a.439.439,0,0,0,.417.439,4.725,4.725,0,0,1,2.74,8.387.439.439,0,1,0,.554.681A5.6,5.6,0,0,0,16.62,38.86Z"
                        transform="translate(0 -33.378)" fill="#1d252d" stroke="#1d252d" stroke-width="0.5"/>
                  <path id="Path_2617" data-name="Path 2617"
                        d="M140.966,135.758v8.673a.68.68,0,0,0,1.36,0v-8.673a.68.68,0,0,0-1.36,0Z"
                        transform="translate(-130.886 -130.234)" fill="#1d252d" stroke="#1d252d" stroke-width="0.5"/>
                  <path id="Path_2618" data-name="Path 2618"
                        d="M115.11,111.138a.68.68,0,0,0,.481-1.161l-3.89-3.89a.68.68,0,0,0-.962,0l-3.89,3.89a.68.68,0,0,0,.962.962l3.409-3.409,3.409,3.409A.679.679,0,0,0,115.11,111.138Z"
                        transform="translate(-100.458 -101.324)" fill="#1d252d" stroke="#1d252d" stroke-width="0.5"/>
                </g>
              </svg>
              </span>
          Sorry
        </p>
        <p class="font-14-imp font-md-12-imp text-color-onyx-imp text-center text-color-off-white mb-0">
              <span class="mx-2">
                It looks like we don't support this file format
              </span>
        </p>
      </div>
    </div>
    <!-- uploading-done -->
    <div class="uploading-item" [ngClass]="{'uploading-done': editMode}">
      <div class="uploaded-file-icon bg-color-secondary-purple">
        <img src="assets/images/pdf-icon.svg" alt=""/>
      </div>
      <div class="flex-grow-1 mx-3 elpsis-text">
        <p class="font-18 font-md-16 font-weight-medium text-color-onyx mb-0 text-truncate">
          Image name (EN)
        </p>
        <span class="font-md-14 font-weight-medium text-color-dark-gray">
                  345 KB
                </span>
      </div>
      <div class="d-flex align-items-start align-self-start">
        <button class="uploaded-file-actions mx-1 download">
          <span class="d-inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="12.275" height="10.193" viewBox="0 0 12.275 10.193">
              <g id="Icon_feather-download-cloud" data-name="Icon feather-download-cloud" transform="translate(0.73 0.661)">
                <path id="Path_2978" data-name="Path 2978" d="M12,25.5l1.972,1.972L15.945,25.5" transform="translate(-8.544 -18.591)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
                <path id="Path_2979" data-name="Path 2979" d="M18,18v4.438" transform="translate(-12.571 -13.556)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
                <path id="Path_2980" data-name="Path 2980" d="M11.294,11.929a2.465,2.465,0,0,0-1.42-4.482H9.252a3.945,3.945,0,1,0-6.775,3.595" transform="translate(-1.486 -4.482)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
              </g>
            </svg>
          </span>
        </button>
        <button class="uploaded-file-actions delete" (click)="removeDoc()">
          <fa-icon class="text-color-coral" [icon]="faTrashAlt"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <!--End Uploader-->
<!--  <span class="mx-3" *ngIf="editMode"></span>-->
<!--  <div class="upload-more" *ngIf="editMode" (click)="fileAttached.click()">-->
<!--    <img src="assets/images/feather-upload.svg" alt="">-->
<!--  </div>-->
</div>
