<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Initial Result</h1>
    <button class="popup-close-btn" matDialogClose>
      <fa-icon class="font-22 text-color-onyx" [icon]="faTimes"></fa-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div class="row" dir="rtl">
      <div class="col-12 mb-3">
        <mat-form-field >
          <label>
            <input matInput placeholder="رقم الحكم النهائي" value="21312312312313">
          </label>
        </mat-form-field>
      </div>
    </div>
    <div class="row" dir="rtl">

      <div class="col-12 col-md-6 mb-3">
        <mat-form-field class="w-100 font-16-imp font-weight-medium">
          <mat-label>{{'التاريخ الهجري'}}</mat-label>
          <label>
            <input type="text" required value="11 NOV 2020"
                   matInput [matDatepicker]="HijriDate">
          </label>
          <mat-datepicker-toggle matSuffix [for]="HijriDate" disableRipple>
            <mat-icon matDatepickerToggleIcon class="mb-3">
              <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99"
                   viewBox="0 0 23.99 23.99">
                <g>
                  <g>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 9)"
                      fill="#1d252d"/>
                    <path
                      d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 9)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 9)" fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 9)" fill="#1d252d"/>
                  </g>
                </g>
              </svg>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #HijriDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field class="w-100 font-16-imp font-weight-medium">
          <mat-label>{{'التاريخ الميلادي'}}</mat-label>
          <label>
            <input type="text" valueAsDate="11 NOV 2020"
                   matInput [matDatepicker]="GregorianDate">
          </label>
          <mat-datepicker-toggle matSuffix [for]="GregorianDate" disableRipple>
            <mat-icon matDatepickerToggleIcon class="mb-3">
              <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99"
                   viewBox="0 0 23.99 23.99">
                <g>
                  <g>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 9)"
                      fill="#1d252d"/>
                    <path
                      d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 9)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 9)" fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 9)" fill="#1d252d"/>
                  </g>
                </g>
              </svg>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #GregorianDate></mat-datepicker>
        </mat-form-field>
      </div>



      <div class="col-12 mb-3">
        <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always" dir="rtl">
          <label class="w-100">
            <textarea matInput placeholder="منطوق الحكم الابتدائي" rows="3"></textarea>
          </label>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <app-docs-uploader></app-docs-uploader>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button class="btn button-primary font-weight-medium font-17"><span>Save</span>
    </button>
  </mat-dialog-actions>

</div>
