<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Export cases</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>
  <div class="d-flex flex-column dialog-content h-100 overflow-auto" mat-dialog-content>
    <h3 class="font-20 text-color-onyx font-weight-medium mb-0">Cases</h3>
    <div class="px-0 px-md-5 py-3">
      <mat-radio-group aria-label="Select an option" class="d-flex flex-column">
        <mat-radio-button value="1">Only include cases I'm linked to</mat-radio-button>
        <mat-radio-button value="2">Include all cases</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <mat-dialog-actions align="center">
    <button class="btn button-secondary font-weight-medium font-17" matDialogClose><span>Discard</span>
    </button>
    <span class="mx-1 mx-md-3"></span>
    <button class="btn button-primary font-weight-medium font-17"><span>Export case</span>
    </button>
  </mat-dialog-actions>

</div>
