@import "src/scss/variables";
.square-btn{
  border:none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.bg-color-secondary-purple-20{
  background-color: rgba($secondary-purple , 20%);
  &:hover{
    svg.download{
      path{
        fill: none;
        stroke: $white;
      }
    }
  }
}


:host {
  height: 100%;
  display: block;
  ::ng-deep{
    .mat-tab-body-wrapper{
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
  }
  table {
    tr {
      th,
      td {
        white-space: nowrap;
        text-align: left;
        padding: 12px 24px;
      }
    }
  }
}

[dir=rtl]{
  :host {
    table {
      tr {
        th,
        td {
          text-align: right;
        }
      }
    }
  }
}
