<div class="d-flex flex-column h-100">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Documents name no1</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>
  <div class="d-flex flex-column dialog-content h-100 overflow-auto" mat-dialog-content>
    <mat-tab-group class="primary-tab mx-n4">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="font-17">Versions</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="table-container mt-3">
            <div class="overflow-auto">
              <table class="primary-table">
                <thead>
                <tr>
                  <th>Version</th>
                  <th>File Name</th>
                  <th>Size</th>
                  <th>Uploaded by</th>
                  <th>Uploaded date</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>V.1</td>
                    <td>File no.1 name</td>
                    <td>21KB</td>
                    <td>Marwan samir</td>
                    <td>21/12/2020</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <button class="square-btn button-secondary-purple bg-color-secondary-purple-20 mx-2">
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.736" height="11.085" viewBox="0 0 17.736 11.085">
                              <path id="Path_9538" data-name="Path 9538" d="M8.222,6a2.217,2.217,0,1,0,2.167,2.217A2.217,2.217,0,0,0,8.222,6Z" transform="translate(0.646 -2.674)" fill="#4f008c"/>
                              <path id="Path_9539" data-name="Path 9539" d="M8.868,4.663a8.4,8.4,0,0,1,6.893,3.88,8.4,8.4,0,0,1-6.893,3.88,8.4,8.4,0,0,1-6.893-3.88,8.4,8.4,0,0,1,6.893-3.88M8.868,3C4.889,3,1.86,5.364,0,8.543c1.86,3.178,4.889,5.543,8.868,5.543s7.008-2.364,8.868-5.543C15.876,5.364,12.847,3,8.868,3Z" transform="translate(0 -3)" fill="#4f008c"/>
                            </svg>
                          </span>
                        </button>
                        <button class="square-btn button-secondary-purple bg-color-secondary-purple-20 mx-2">
                          <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="download" width="16.403" height="13.543" viewBox="0 0 16.403 13.543">
                              <g id="Icon_feather-download-cloud" data-name="Icon feather-download-cloud" transform="translate(0.756 0.665)">
                                <path id="Path_2978" data-name="Path 2978" d="M12,25.5l2.716,2.716L17.431,25.5" transform="translate(-7.242 -15.987)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
                                <path id="Path_2979" data-name="Path 2979" d="M18,18v6.11" transform="translate(-10.526 -11.882)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
                                <path id="Path_2980" data-name="Path 2980" d="M14.989,14.735a3.394,3.394,0,0,0-1.955-6.171h-.855A5.431,5.431,0,1,0,2.85,13.513" transform="translate(-1.486 -4.482)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
                              </g>
                            </svg>
                          </span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>V.1</td>
                    <td>File no.1 name</td>
                    <td>21KB</td>
                    <td>Marwan samir</td>
                    <td>21/12/2020</td>
                    <td>
                      <div class="d-flex align-items-center">
                        <button class="square-btn button-secondary-purple bg-color-secondary-purple-20 mx-2">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="17.736" height="11.085" viewBox="0 0 17.736 11.085">
                            <path id="Path_9538" data-name="Path 9538" d="M8.222,6a2.217,2.217,0,1,0,2.167,2.217A2.217,2.217,0,0,0,8.222,6Z" transform="translate(0.646 -2.674)" fill="#4f008c"/>
                            <path id="Path_9539" data-name="Path 9539" d="M8.868,4.663a8.4,8.4,0,0,1,6.893,3.88,8.4,8.4,0,0,1-6.893,3.88,8.4,8.4,0,0,1-6.893-3.88,8.4,8.4,0,0,1,6.893-3.88M8.868,3C4.889,3,1.86,5.364,0,8.543c1.86,3.178,4.889,5.543,8.868,5.543s7.008-2.364,8.868-5.543C15.876,5.364,12.847,3,8.868,3Z" transform="translate(0 -3)" fill="#4f008c"/>
                          </svg>
                        </span>
                        </button>
                        <button class="square-btn button-secondary-purple bg-color-secondary-purple-20 mx-2">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" class="download" width="16.403" height="13.543"
                               viewBox="0 0 16.403 13.543">
                            <g id="Icon_feather-download-cloud" data-name="Icon feather-download-cloud" transform="translate(0.756 0.665)">
                              <path id="Path_2978" data-name="Path 2978" d="M12,25.5l2.716,2.716L17.431,25.5" transform="translate(-7.242 -15.987)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
                              <path id="Path_2979" data-name="Path 2979" d="M18,18v6.11" transform="translate(-10.526 -11.882)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
                              <path id="Path_2980" data-name="Path 2980" d="M14.989,14.735a3.394,3.394,0,0,0-1.955-6.171h-.855A5.431,5.431,0,1,0,2.85,13.513" transform="translate(-1.486 -4.482)" fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.3"/>
                            </g>
                          </svg>
                        </span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="font-17">Security </span>
        </ng-template>
        <ng-template matTabContent>
          <div class="table-container mt-3">
            <div class="overflow-auto">
              <table class="primary-table">
                <thead>
                <tr>
                  <th class="w-50">Name</th>
                  <th>Public</th>
                  <th>Hidden </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>All Employees</td>
                  <td>
                    <mat-radio-button value="1"></mat-radio-button>
                  </td>
                  <td><mat-radio-button value="2"></mat-radio-button></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <mat-dialog-actions align="center">
    <button class="btn button-secondary font-weight-medium font-17" matDialogClose><span>Discard</span>
    </button>
    <span class="mx-1 mx-md-3"></span>
    <button class="btn button-primary font-weight-medium font-17"><span>Import cases</span>
    </button>
  </mat-dialog-actions>

</div>
