<div class="d-flex flex-column h-100">
  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Add new note</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>
  <div class="d-flex flex-column dialog-content h-100 overflow-auto" mat-dialog-content>
    <div class="mb-3">
      <mat-form-field>
        <label>
          <input matInput placeholder="Note title" value="Don’t forget upload the document">
        </label>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always">
        <label class="w-100">
          <textarea matInput placeholder="Note details" rows="5"></textarea>
        </label>
      </mat-form-field>
    </div>
  </div>

  <div class="mb-3">
    <button class="btn button-primary font-weight-medium font-17 w-100"><span>Add note</span>
    </button>
  </div>
</div>
