<div class="d-flex justify-content-end" mat-dialog-title>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
</div>
<div class="" mat-dialog-content>

    <mat-tab-group mat-stretch-tabs disableRipple>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="d-flex flex-column">
                    <span class="font-37 font-weight-bold mb-2 text-color-onyx">2</span>
                    <span class="font-19 font-weight-medium text-color-primary-purple">Open</span>
                </div>
            </ng-template>
            <ng-template matTabContent>
                <div class="table-container">
                    <div class="overflow-auto">
                        <table class="primary-table">
                            <thead>
                                <tr>
                                    <th>Case name</th>
                                    <th>Case No.</th>
                                    <th>Case Owner</th>
                                    <th>Case stage</th>
                                    <th>Due date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Case no.1 name</td>
                                    <td>76432</td>
                                    <td>Mahmoud ali</td>
                                    <td>Stage 1</td>
                                    <td>
                                        21/01/2020 <span class="font-16 font-weight-medium text-color-danger">(4day)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Case no.1 name</td>
                                    <td>76432</td>
                                    <td>Mahmoud ali</td>
                                    <td>Stage 1</td>
                                    <td>
                                        21/01/2020 <span class="font-16 font-weight-medium text-color-danger">(4day)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Case no.1 name</td>
                                    <td>76432</td>
                                    <td>Mahmoud ali</td>
                                    <td>Stage 1</td>
                                    <td>
                                        21/01/2020 <span class="font-16 font-weight-medium text-color-danger">(4day)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Case no.1 name</td>
                                    <td>76432</td>
                                    <td>Mahmoud ali</td>
                                    <td>Stage 1</td>
                                    <td>
                                        21/01/2020 <span class="font-16 font-weight-medium text-color-danger">(4day)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Case no.1 name</td>
                                    <td>76432</td>
                                    <td>Mahmoud ali</td>
                                    <td>Stage 1</td>
                                    <td>
                                        21/01/2020 <span class="font-16 font-weight-medium text-color-danger">(4day)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Case no.1 name</td>
                                    <td>76432</td>
                                    <td>Mahmoud ali</td>
                                    <td>Stage 1</td>
                                    <td>
                                        21/01/2020 <span class="font-16 font-weight-medium text-color-danger">(4day)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="d-flex flex-column">
                    <span class="font-37 font-weight-bold mb-2 text-color-onyx">3</span>
                    <span class="font-19 font-weight-medium text-color-sea-light">In progress </span>
                </div>
            </ng-template>
            <ng-template matTabContent>
                Content 2
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="d-flex flex-column">
                    <span class="font-37 font-weight-bold mb-2 text-color-onyx">2</span>
                    <span class="font-19 font-weight-medium text-color-danger">Delayed</span>
                </div>
            </ng-template>
            <ng-template matTabContent>
                Content 3 -
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="d-flex flex-column">
                    <span class="font-37 font-weight-bold mb-2 text-color-onyx">7</span>
                    <span class="font-19 font-weight-medium text-color-oasis-light">Closed / resolved</span>
                </div>
            </ng-template>
            <ng-template matTabContent>
                Content 3 -
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>