@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
:host {
     ::ng-deep {
        .mat-tab-label {
            height: auto;
            min-height: 110px;
            min-width: 225px;
            margin: 0 5px;
            opacity: 1;
            background-color: $light-gray;
            line-height: 1;
        }
        .mat-tab-nav-bar,
        .mat-tab-header {
            border-bottom: 0;
        }
        .mat-tab-body {
            padding: 20px;
        }
        .mat-tab-header {
            overflow-x: scroll !important;
            padding-bottom: 20px;
            &::-webkit-scrollbar {
                display: none;
            }
            .mat-ink-bar {
                height: 6px;
                display: flex;
                justify-content: center;
                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid transparent;
                }
            }
            &[ng-reflect-selected-index="0"] .mat-ink-bar {
                background-color: $primary-purple;
                &::before {
                    border-top: 15px solid $primary-purple;
                }
            }
            &[ng-reflect-selected-index="1"] .mat-ink-bar {
                background-color: $sea-light;
                &::before {
                    border-top: 15px solid $sea-light;
                }
            }
            &[ng-reflect-selected-index="2"] .mat-ink-bar {
                background-color: $danger;
                &::before {
                    border-top: 15px solid $danger;
                }
            }
            &[ng-reflect-selected-index="3"] .mat-ink-bar {
                background-color: $oasis-light;
                &::before {
                    border-top: 15px solid $oasis-light;
                }
            }
        }
        .mat-tab-header-pagination {
            display: none !important;
        }
        .mat-tab-label-container {
            overflow: visible !important;
        }
    }
}

.primary-table {
    th,
    td {
        white-space: nowrap;
        &:first-child {
            padding-left: 24px;
        }
        &:last-child {
            padding-right: 24px;
        }
    }
}

[dir=rtl] {
    .primary-table {
        th,
        td {
            &:first-child {
                padding-right: 24px;
                padding-left: 0;
            }
            &:last-child {
                padding-left: 24px;
                padding-right: 0;
            }
        }
    }
}
