@import "src/scss/variables";

:host ::ng-deep .mat-button-toggle-group {
  .mat-button-toggle {
    margin: 0 !important;
    height: 46px;
    display: flex;
    font-weight: $font-medium;

    &:nth-child(1) {
      color: $oasis-light !important;
    }

    &:nth-child(2) {
      color: $sea-light !important;
    }

    &:nth-child(3) {
      color: $coral !important;
    }

    &.mat-button-toggle-checked {
      color: $white !important;

      &:nth-child(1) {
        background: $oasis-light !important;
      }

      &:nth-child(2) {
        background: $sea-light !important;
      }

      &:nth-child(3) {
        background-color: $coral !important;
      }
    }
  }
}
