<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Complete Case Information</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>

  <mat-dialog-content>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Case ID" disabled value="#52012">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Case no." value="250223">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Case Type">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Secondry Type">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Specialized Cort">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Case Name" value="Case Name">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Approval Date" value="02 Nov 2012">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label class="font-12 text-color-dark-gray font-weight-medium">Case Date</label>
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <span class="d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" id="Group_12100" data-name="Group 12100" width="23.99" height="23.99" viewBox="0 0 23.99 23.99">
  <g id="Group_3020" data-name="Group 3020">
    <circle id="Ellipse_129" data-name="Ellipse 129" cx="1" cy="1" r="1" transform="translate(16.209 8.995)" fill="#9e9e9e"/>
    <path id="Path_2615" data-name="Path 2615" d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z" fill="#9e9e9e"/>
    <circle id="Ellipse_130" data-name="Ellipse 130" cx="1" cy="1" r="1" transform="translate(12.209 8.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_131" data-name="Ellipse 131" cx="1" cy="1" r="1" transform="translate(8.209 12.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_137" data-name="Ellipse 137" cx="1" cy="1" r="1" transform="translate(12.209 12.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_140" data-name="Ellipse 140" cx="1" cy="1" r="1" transform="translate(16.209 12.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_138" data-name="Ellipse 138" cx="1" cy="1" r="1" transform="translate(12.209 16.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_139" data-name="Ellipse 139" cx="1" cy="1" r="1" transform="translate(16.209 16.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_132" data-name="Ellipse 132" cx="1" cy="1" r="1" transform="translate(4.209 8.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_133" data-name="Ellipse 133" cx="1" cy="1" r="1" transform="translate(4.209 12.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_134" data-name="Ellipse 134" cx="1" cy="1" r="1" transform="translate(4.209 16.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_135" data-name="Ellipse 135" cx="1" cy="1" r="1" transform="translate(8.209 16.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_136" data-name="Ellipse 136" cx="1" cy="1" r="1" transform="translate(8.209 8.995)" fill="#9e9e9e"/>
  </g>
</svg>
            </span>
            <span class="mx-2"></span>
            <span class="font-16 font-weight-medium text-color-dark-gray">02 NOV 2012</span>
          </div>
          <span class="mx-2"></span>
          <div class="d-flex align-items-center">
            <span class="d-inline-flex">
                <svg xmlns="http://www.w3.org/2000/svg" id="Group_12100" data-name="Group 12100" width="23.99" height="23.99" viewBox="0 0 23.99 23.99">
  <g id="Group_3020" data-name="Group 3020">
    <circle id="Ellipse_129" data-name="Ellipse 129" cx="1" cy="1" r="1" transform="translate(16.209 8.995)" fill="#9e9e9e"/>
    <path id="Path_2615" data-name="Path 2615" d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z" fill="#9e9e9e"/>
    <circle id="Ellipse_130" data-name="Ellipse 130" cx="1" cy="1" r="1" transform="translate(12.209 8.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_131" data-name="Ellipse 131" cx="1" cy="1" r="1" transform="translate(8.209 12.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_137" data-name="Ellipse 137" cx="1" cy="1" r="1" transform="translate(12.209 12.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_140" data-name="Ellipse 140" cx="1" cy="1" r="1" transform="translate(16.209 12.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_138" data-name="Ellipse 138" cx="1" cy="1" r="1" transform="translate(12.209 16.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_139" data-name="Ellipse 139" cx="1" cy="1" r="1" transform="translate(16.209 16.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_132" data-name="Ellipse 132" cx="1" cy="1" r="1" transform="translate(4.209 8.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_133" data-name="Ellipse 133" cx="1" cy="1" r="1" transform="translate(4.209 12.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_134" data-name="Ellipse 134" cx="1" cy="1" r="1" transform="translate(4.209 16.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_135" data-name="Ellipse 135" cx="1" cy="1" r="1" transform="translate(8.209 16.995)" fill="#9e9e9e"/>
    <circle id="Ellipse_136" data-name="Ellipse 136" cx="1" cy="1" r="1" transform="translate(8.209 8.995)" fill="#9e9e9e"/>
  </g>
</svg>
            </span>
            <span class="mx-2"></span>
            <span class="font-16 font-weight-medium text-color-dark-gray">02 NOV 2012</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Case Applier Name" value="Case Applier Name">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Case Against Name" value="Case Against Name">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Case Value & Amount" value="14000 SAR">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Current Status">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always">
          <label class="w-100">
            <textarea matInput placeholder="Legal Openion" rows="5"></textarea>
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Profit Percentage">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="District">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="City">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="internal Client">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Case Level">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field class="w-100 font-16-imp font-weight-medium">
          <mat-label>{{'First Event Date'}}</mat-label>
          <label>
            <input type="text" required value="11 NOV 2020"
                   matInput [matDatepicker]="creationDate">
          </label>
          <mat-datepicker-toggle matSuffix [for]="creationDate" disableRipple>
            <mat-icon matDatepickerToggleIcon class="mb-3">
              <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99"
                   viewBox="0 0 23.99 23.99">
                <g>
                  <g>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 9)"
                      fill="#1d252d"/>
                    <path
                      d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 9)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 9)" fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 9)" fill="#1d252d"/>
                  </g>
                </g>
              </svg>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #creationDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Add Tags">
          </label>
          <mat-icon matSuffix class="add-tag-button">
            <button class="btn button-primary add-tag-button">
                <span>
                  <fa-icon class="font-16" [icon]="faPlus"></fa-icon>
                </span>
            </button>
          </mat-icon>
        </mat-form-field>
        <div>
          <mat-chip-list #chipList aria-label="Add Tags">
            <mat-chip class="font-12-imp" *ngFor="let i of [1,2,3]">
              Tag {{i}}
              <mat-icon matChipRemove>
                <fa-icon class="font-14" [icon]="faTimes"></fa-icon>
              </mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div class="col-12 mb-3">
        <label class="font-16 font-weight-medium text-color-onyx mb-2">Set priority</label>
        <mat-button-toggle-group class="d-flex justify-content-between border-0 no-border-radius mx-n2" value="2">
          <mat-button-toggle class="border-0 button-toggle flex-grow-1 mx-2" value="1" disableRipple>Low
          </mat-button-toggle>
          <mat-button-toggle class="border-0 button-toggle flex-grow-1 mx-2" value="2" disableRipple>Medium
          </mat-button-toggle>
          <mat-button-toggle class="border-0 button-toggle flex-grow-1 mx-2" value="3" disableRipple>High
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="col-12 mb-3 d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="11.725" height="15.389" viewBox="0 0 11.725 15.389">
          <path
            d="M9.862,1a4.387,4.387,0,0,0-4.4,4.4V6.13A1.477,1.477,0,0,0,4,7.6v7.328a1.477,1.477,0,0,0,1.466,1.466h8.794a1.477,1.477,0,0,0,1.466-1.466V7.6A1.477,1.477,0,0,0,14.259,6.13V5.4A4.387,4.387,0,0,0,9.862,1Zm0,1.466A2.871,2.871,0,0,1,12.794,5.4V6.13H6.931V5.4A2.871,2.871,0,0,1,9.862,2.466ZM5.466,7.6h8.794v7.328H5.466Zm4.4,2.2a1.466,1.466,0,1,0,1.466,1.466A1.47,1.47,0,0,0,9.862,9.794Z"
            transform="translate(-4 -1)" fill="#8e9aa0"/>
        </svg>
        <p class="font-16 font-weight-medium text-color-onyx mb-0 mx-2">Is this Case Confidential</p>
        <mat-slide-toggle class="m-2"></mat-slide-toggle>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button class="btn button-primary font-weight-medium font-17"><span>Submit</span>
    </button>
  </mat-dialog-actions>

</div>
