<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Add new group</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>
  <div class="d-flex flex-column align-items-center dialog-content h-100 overflow-auto" mat-dialog-content>
    <div class="row w-100">
      <div class="col-12 my-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Group name">
          </label>
        </mat-form-field>
      </div>

    </div>


  </div>

  <mat-dialog-actions align="center">
    <button class="btn button-secondary font-weight-medium font-17" matDialogClose><span>Discard</span>
    </button>
    <span class="mx-1 mx-md-3"></span>
    <button class="btn button-primary font-weight-medium font-17"><span>Add</span>
    </button>
  </mat-dialog-actions>

</div>
