<div class="row mt-4">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3 my-3 my-md-0">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-medium w-100">
                                    <span matSuffix class="d-flex">

                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </span>
              <mat-select placeholder="Group name">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-3 my-md-0">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-medium w-100">
                                    <span matSuffix class="d-flex">

                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </span>
              <mat-select placeholder="Sort by">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 justify-content-end d-flex">
    <mat-form-field floatLabel="never">
                  <span matPrefix class="mx-2">
                      <fa-icon [icon]="faSearch" class="text-color-gray"></fa-icon>
                  </span>
      <label>
        <input type="text" matInput placeholder="Type your placeholder">
      </label>
    </mat-form-field>
  </div>
</div>
<div class="table-container">
  <div class="overflow-auto">
    <table class="w-100 primary-table" mat-table [dataSource]="contentDataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>
          Name
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.name}}
        </td>
      </ng-container>


      <!-- GroupName Column -->
      <ng-container matColumnDef="GroupName">
        <th mat-header-cell *matHeaderCellDef>
          Group name
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.GroupName}}
        </td>
      </ng-container>



      <!-- Contact Column -->
      <ng-container matColumnDef="Contact">
        <th mat-header-cell *matHeaderCellDef>
          Contact
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.Contact}}
        </td>
      </ng-container>




      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="d-flex align-items-center">
            <button class="square-btn download">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="17.736" height="11.085"
                               viewBox="0 0 17.736 11.085">
                            <path id="Path_9538" data-name="Path 9538"
                                  d="M8.222,6a2.217,2.217,0,1,0,2.167,2.217A2.217,2.217,0,0,0,8.222,6Z"
                                  transform="translate(0.646 -2.674)" fill="#4f008c"/>
                            <path id="Path_9539" data-name="Path 9539"
                                  d="M8.868,4.663a8.4,8.4,0,0,1,6.893,3.88,8.4,8.4,0,0,1-6.893,3.88,8.4,8.4,0,0,1-6.893-3.88,8.4,8.4,0,0,1,6.893-3.88M8.868,3C4.889,3,1.86,5.364,0,8.543c1.86,3.178,4.889,5.543,8.868,5.543s7.008-2.364,8.868-5.543C15.876,5.364,12.847,3,8.868,3Z"
                                  transform="translate(0 -3)" fill="#4f008c"/>
                          </svg>
                        </span>
            </button>
            <span class="mx-2"></span>
            <button class="square-btn edit">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16.218" height="16.16"
                               viewBox="0 0 16.218 16.16">
                            <path id="Path_9540" data-name="Path 9540"
                                  d="M19.61,7.385,16.833,4.607a2.027,2.027,0,0,0-2.7-.071L5.014,13.659a2.027,2.027,0,0,0-.578,1.227L4,19.113a1.011,1.011,0,0,0,1.014,1.1H5.1l4.227-.385a2.027,2.027,0,0,0,1.227-.578l9.123-9.123a1.946,1.946,0,0,0-.071-2.747ZM9.149,17.805l-3.041.284.274-3.041,5.727-5.656,2.737,2.737Zm7.014-7.035L13.447,8.054l1.977-2.027,2.767,2.767Z"
                                  transform="translate(-3.996 -4.058)" fill="#1CCED8"/>
                          </svg>
                        </span>
            </button>
            <span class="mx-2"></span>
            <button class="square-btn delete">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="17.821" height="17.821"
                               viewBox="0 0 17.821 17.821">
                            <g transform="translate(0 0)">
                              <g transform="translate(0 0)">
                                <path
                                  d="M15.4,20.97H7.854a2.131,2.131,0,0,1-2.128-1.926L4.5,6.783A.711.711,0,0,1,5.213,6H18.044a.713.713,0,0,1,.709.783l-1.223,12.26A2.132,2.132,0,0,1,15.4,20.97ZM6,7.426,7.145,18.9a.711.711,0,0,0,.709.642H15.4a.711.711,0,0,0,.709-.642L17.257,7.426Z"
                                  transform="translate(-2.718 -3.149)" fill="#ff375e"/>
                                <path d="M19.108,7.426H2.713A.713.713,0,1,1,2.713,6h16.4a.713.713,0,0,1,0,1.426Z"
                                      transform="translate(-2 -3.149)" fill="#ff375e"/>
                                <path
                                  d="M14.213,19.267a.713.713,0,0,1-.713-.713V10.713a.713.713,0,0,1,1.426,0v7.841A.713.713,0,0,1,14.213,19.267Z"
                                  transform="translate(-5.302 -4.297)" fill="#ff375e"/>
                                <path
                                  d="M10.425,19.267a.713.713,0,0,1-.709-.649L9,10.777a.713.713,0,1,1,1.42-.128l.713,7.841a.713.713,0,0,1-.711.777Z"
                                  transform="translate(-4.01 -4.297)" fill="#ff375e"/>
                                <path
                                  d="M17.714,19.267A.713.713,0,0,1,17,18.49l.713-7.841a.713.713,0,1,1,1.42.128l-.713,7.841A.713.713,0,0,1,17.714,19.267Z"
                                  transform="translate(-6.307 -4.298)" fill="#ff375e"/>
                                <path
                                  d="M16.128,6.277H9.713A.713.713,0,0,1,9,5.564V2.713A.713.713,0,0,1,9.713,2h6.416a.713.713,0,0,1,.713.713V5.564A.713.713,0,0,1,16.128,6.277Zm-5.7-1.426h4.99V3.426h-4.99Z"
                                  transform="translate(-4.01 -2)" fill="#ff375e"/>
                              </g>
                            </g>
                          </svg>
                        </span>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedContentColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedContentColumns;"></tr>
    </table>


  </div>
</div>
