<div class="d-flex justify-content-between p-3">
  <h1 class="font-19 font-weight-normal text-color-onyx mb-0">Recent Activity</h1>
  <button class="popup-close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
      <path
        d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
        transform="translate(-11.285 -11.289)"/>
    </svg>
  </button>
</div>
<div>
  <mat-list>
    <mat-list-item class="h-auto">
      <mat-icon mat-list-icon class="bg-color-orange">
        <img src="assets/images/pdf-icon.svg" alt="">
      </mat-icon>
      <h4 mat-line class="text-color-onyx font-18 font-weight-normal mb-2">Osama Elzahrani (Attorney leader)<span
        class="text-color-dark-gray font-weight-normal mx-2">upload Document</span></h4>
      <div mat-line class="d-flex align-items-center">
        <img src="assets/images/clock-icon.svg" alt="">
        <p class="text-color-dark-gray font-12 font-weight-normal mb-0 mx-2">4 Nov 2019</p>
      </div>
    </mat-list-item>
    <mat-list-item class="h-auto">
      <mat-icon mat-list-icon class="bg-color-secondary-purple">
        <img src="assets/images/calendar-icon.svg" alt="">
      </mat-icon>
      <h4 mat-line class="text-color-onyx font-18 font-weight-normal mb-2">Osama Elzahrani (Attorney leader)<span
        class="text-color-dark-gray font-weight-normal mx-2">added
event meeting</span></h4>
      <div mat-line class="d-flex align-items-center">
        <img src="assets/images/clock-icon.svg" alt="">
        <p class="text-color-dark-gray font-12 font-weight-normal mb-0 mx-2">4 Nov 2019</p>
      </div>
    </mat-list-item>
    <mat-list-item class="h-auto">
      <mat-icon mat-list-icon class="bg-color-coral">
        <img src="assets/images/user-icon.svg" alt="">
      </mat-icon>
      <h4 mat-line class="text-color-onyx font-18 font-weight-normal mb-2">Maged Elfausal<span
        class="text-color-dark-gray font-weight-normal mx-2">make Osame Elzahrani
leader of attoreies</span></h4>
      <div mat-line class="d-flex align-items-center">
        <img src="assets/images/clock-icon.svg" alt="">
        <p class="text-color-dark-gray font-12 font-weight-normal mb-0 mx-2">4 Nov 2019</p>
      </div>
    </mat-list-item>
    <mat-list-item class="h-auto">
      <mat-icon mat-list-icon class="bg-color-sea-light">
        <img src="assets/images/add-file-icon.svg" alt="">
      </mat-icon>
      <h4 mat-line class="text-color-onyx font-18 font-weight-normal mb-2">Maged Elfausal<span
        class="text-color-dark-gray font-weight-normal mx-2">added case</span></h4>
      <div mat-line class="d-flex align-items-center">
        <img src="assets/images/clock-icon.svg" alt="">
        <p class="text-color-dark-gray font-12 font-weight-normal mb-0 mx-2">4 Nov 2019</p>
      </div>
    </mat-list-item>
    <mat-list-item class="h-auto">
      <mat-icon mat-list-icon class="bg-color-warning">
        <img src="assets/images/file-icon.svg" alt="">
      </mat-icon>
      <h4 mat-line class="text-color-onyx font-18 font-weight-normal mb-2">Maged Elfausal<span
        class="text-color-dark-gray font-weight-normal mx-2">added note</span></h4>
      <div mat-line class="d-flex align-items-center">
        <img src="assets/images/clock-icon.svg" alt="">
        <p class="text-color-dark-gray font-12 font-weight-normal mb-0 mx-2">4 Nov 2019</p>
      </div>
    </mat-list-item>
  </mat-list>
</div>
