@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.cases-list-container {
  border: 2px solid $light-gray;
  background-color: $white;
  padding: 20px;
  margin: 35px 0;

  .col-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .table-container {
    padding: 20px 10px;
  }
}

table{
  .btn{
    height: 42px;
  }
  .action-btn{
    width: 160px;
  }
}

@include media-breakpoint-down(sm) {
  table {
    width: 800px;
  }

  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }

  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }

  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }

  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
}
