<div class="hub-container">
  <div class="row">
    <div class="col-6 d-flex align-items-center">
      <h1 class="font-40 font-md-25 font-weight-bold text-color-onyx mb-0 text-nowrap">Cases list</h1>
      <span class="bg-color-primary-purple px-2 px-md-3 py-1 font-18 font-md-16 text-color-white mx-2 mx-md-4">15</span>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
      <button class="btn button-primary font-17 font-md-15 font-weight-medium px-4" (click)="addCasePopup()"><span>Add New Case</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="cases-list-container">
        <div class="row">
          <div class="col-2 d-none d-md-block">
            <div class="gray-select p-0">
              <div class="select-container">
                <mat-form-field class="font-16-imp font-weight-medium w-100">
                  <span matSuffix class="d-flex">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </span>
                  <mat-select placeholder="Owner">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-2 d-none d-md-block">
            <div class="gray-select p-0">
              <div class="select-container">
                <mat-form-field class="font-16-imp font-weight-medium w-100">
                  <span matSuffix class="d-flex">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </span>
                  <mat-select placeholder="Status">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-5 d-none d-md-block"></div>
          <div class="col-4 d-md-none d-flex align-items-center">
            <button class="filters-btn gray" (click)="openFilters()">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7.2" viewBox="0 0 12 7.2">
                <g transform="translate(-46.5 -126.9)">
                  <line x2="12" transform="translate(46.5 127.5)" fill="none" stroke-width="1.2"/>
                  <line x2="8" transform="translate(48.5 130.5)" fill="none" stroke-width="1.2"/>
                  <line x2="4" transform="translate(50.5 133.5)" fill="none" stroke-width="1.2"/>
                </g>
              </svg>
              <span class="mx-2">Filters</span>
            </button>
          </div>
          <div class="col-8 col-md-3">
            <mat-form-field floatLabel="never">
              <span matPrefix class="mx-2">
                  <fa-icon [icon]="faSearch" class="text-color-gray"></fa-icon>
              </span>
              <label>
                <input type="text" matInput placeholder="Search case name or No. ">
              </label>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="table-container pt-2 col-12">
            <div class="overflow-auto">
              <table class="primary-table" mat-table [dataSource]="dataSource">

                <!-- Column Name -->
                <ng-container matColumnDef="CaseName" sticky>
                  <th mat-header-cell *matHeaderCellDef>Case name</th>
                  <td mat-cell *matCellDef="let element"> {{element.CaseName}} </td>
                </ng-container>

                <!-- Column Name -->
                <ng-container matColumnDef="CaseType">
                  <th mat-header-cell *matHeaderCellDef>Case Type</th>
                  <td mat-cell *matCellDef="let element"> {{element.CaseType}} </td>
                </ng-container>

                <!-- Column Name -->
                <ng-container matColumnDef="CaseOwner">
                  <th mat-header-cell *matHeaderCellDef>Case Owner</th>
                  <td mat-cell *matCellDef="let element"> {{element.CaseOwner}} </td>
                </ng-container>


                <!-- Column Name -->
                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef>Status</th>
                  <td mat-cell *matCellDef="let element;let i =index;">
                  <span class="status"
                        [ngClass]="{
                          'new':element.Status === 'New',
                          'waiting':element.Status === 'Waiting Approval',
                          'sent-back': element.Status === 'Sent back',
                          'confirmed': element.Status === 'Confirmed'
                        }">{{element.Status}}</span>
                  </td>
                </ng-container>

                <!-- Column Name -->
                <ng-container matColumnDef="Actions">
                  <th mat-header-cell *matHeaderCellDef>Case Owner</th>
                  <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.Status === 'New'">
                      <button class="square-btn download" (click)="viewCasePopup()">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="17.736" height="11.085"
                               viewBox="0 0 17.736 11.085">
                            <path id="Path_9538" data-name="Path 9538"
                                  d="M8.222,6a2.217,2.217,0,1,0,2.167,2.217A2.217,2.217,0,0,0,8.222,6Z"
                                  transform="translate(0.646 -2.674)" fill="#4f008c"/>
                            <path id="Path_9539" data-name="Path 9539"
                                  d="M8.868,4.663a8.4,8.4,0,0,1,6.893,3.88,8.4,8.4,0,0,1-6.893,3.88,8.4,8.4,0,0,1-6.893-3.88,8.4,8.4,0,0,1,6.893-3.88M8.868,3C4.889,3,1.86,5.364,0,8.543c1.86,3.178,4.889,5.543,8.868,5.543s7.008-2.364,8.868-5.543C15.876,5.364,12.847,3,8.868,3Z"
                                  transform="translate(0 -3)" fill="#4f008c"/>
                          </svg>
                        </span>
                      </button>
                    </div>
                    <div class="d-flex align-items-center" *ngIf="element.Status !== 'Waiting Approval' &&
                    element.Status !== 'New'">
                      <button class="btn button-secondary" (click)="feedBack()">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20.547" viewBox="0 0 22 20.547">
                            <path id="Path_58" data-name="Path 58" d="M9.167,20.547h0L5.12,16.5H0V2.75A2.753,2.753,0,0,1,2.75,0h16.5A2.753,2.753,0,0,1,22,2.75v11A2.753,2.753,0,0,1,19.25,16.5H13.213L9.167,20.546ZM2.75,1.833a.918.918,0,0,0-.917.917V14.667H5.88l3.287,3.287,3.287-3.287h6.8a.918.918,0,0,0,.917-.917v-11a.918.918,0,0,0-.917-.917Z" fill="#ff375e"/>
                          </svg>
                        </span>
                      </button>
                      <span class="mx-2"></span>
                      <button class="btn button-primary action-btn font-16 font-weight-medium" *ngIf="element.Status
                      == 'Confirmed'" (click)="completeInfo()">
                        <span>
                          Complete Info
                        </span>
                      </button>
                      <button class="btn button-primary action-btn font-16 font-weight-medium" *ngIf="element.Status
                      === 'Sent back'" (click)="addCasePopup()">
                        <span>
                          Send Again
                        </span>
                      </button>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

