@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.dialog-content {
  border-top: 1px solid $light-gray;
  padding-top: 30px;
}

:host .add-case-stepper {
  width: 100%;

  ::ng-deep .mat-ripple.mat-step-header-ripple {
    display: none;
  }

  ::ng-deep .mat-step-header.cdk-keyboard-focused,
  ::ng-deep .mat-step-header.cdk-program-focused,
  ::ng-deep .mat-step-header:hover {
    background-color: $transparent;
  }

  ::ng-deep .mat-horizontal-stepper-header {
    padding: 16px;
  }

  ::ng-deep .mat-step-icon.mat-step-icon-state-number,
  ::ng-deep .mat-step-icon.mat-step-icon-state-edit {
    background-color: $light-gray;
    color: $onyx;
    font-size: 20px;
    font-weight: $font-bold;
    border: 2px solid $onyx;
    border-radius: 0;
    width: 42px;
    height: 42px;
  }

  ::ng-deep .mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
    background-color: $light-gray;
    color: $onyx;
    font-size: 20px;
    font-weight: $font-bold;
    border: 2px solid $onyx;
    border-radius: 0;
    width: 42px;
    height: 42px;
  }

  ::ng-deep .mat-step-label {
    font-size: 17px;
    color: $onyx;
    font-weight: $font-regular;
  }

  ::ng-deep .mat-step-label.mat-step-label-selected {
    font-weight: $font-bold;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    margin: 0 109px;
  }

  ::ng-deep .mat-horizontal-content-container {
    // margin-top: 80px;
    //padding-right: 0;
    //padding-left: 0;
  }

  .step-1-content {
    margin-top: 80px;
  }

  .step-2-content {
    margin-top: 24px;
  }

  .step-3-content {
    margin-top: 24px;
  }

  .step-4-content {
    margin-top: 24px;
  }
}

.litigants-list {
  li {
    div {
      border-bottom: 1px solid #DFDFDF;
    }
  }

  li:last-child {
    div {
      border-bottom: 0 !important;
    }
  }
}

:host ::ng-deep .mat-button-toggle-group {
  .mat-button-toggle {
    margin: 0 !important;
    height: 46px;
    display: flex;
    font-weight: $font-medium;

    &:nth-child(1) {
      color: $oasis-light !important;
    }

    &:nth-child(2) {
      color: $sea-light !important;
    }

    &:nth-child(3) {
      color: $coral !important;
    }

    &.mat-button-toggle-checked {
      color: $white !important;

      &:nth-child(1) {
        background: $oasis-light !important;
      }

      &:nth-child(2) {
        background: $sea-light !important;
      }

      &:nth-child(3) {
        background-color: $coral !important;
      }
    }
  }
}

.ocr-container {
  height: 112px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  background: #F3F3F1;
  border: 0.5px dashed #8E9AA0;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

:host {
  ::ng-deep {
    .upload-file-container {
      min-width: auto !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  :host .add-case-stepper {
    overflow: auto;

    ::ng-deep .mat-horizontal-stepper-header-container {
      width: 982px;
      padding-left: 95px;
      padding-right: 75px;
      margin: 0 !important;
    }

    ::ng-deep .mat-horizontal-content-container {
      width: 100%;
      max-width: 100%;
      position: sticky;
      left: 0;
      right: 0;
      padding: 0;
      margin-top: 65px;
    }

    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
      display: none;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    &::-webkit-scrollbar-thumb:hover {
      display: none;
    }

    &::-webkit-scrollbar-thumb:active {
      display: none;
    }
  }

  table {
    width: 800px;
  }

  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }

  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }

  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }

  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
}
