<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Add new case</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>

  <mat-dialog-content>
    <mat-horizontal-stepper class="add-case-stepper" disableRipple labelPosition="bottom" #stepper>
      <ng-template matStepperIcon="number" let-index="index">
        {{index + 1}}
      </ng-template>
      <mat-step>
        <ng-template matStepLabel>Litigant info</ng-template>
        <div class="step-1-content">
          <div class="row">
            <div class="col-12 col-md-9">
              <div class="gray-select">
                <div class="select-container">
                  <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                    <mat-select placeholder="Search for Litigants">
                      <mat-option>1</mat-option>
                      <mat-option>2</mat-option>
                      <mat-option>3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="my-3">
                <ul class="list-unstyled litigants-list">
                  <li>
                    <div
                      class="d-flex align-items-center justify-content-between bg-color-off-white2 border-bottom p-3">
                      <h3 class="font-17 font-weight-medium text-color-onyx mb-0">Ahmed Mohamed</h3>
                      <button
                        class="font-17 font-weight-medium text-color-coral bg-color-transparent no-boxshadow border-0">
                        Remove
                      </button>
                    </div>
                  </li>
                  <li>
                    <div
                      class="d-flex align-items-center justify-content-between bg-color-off-white2 border-bottom p-3">
                      <h3 class="font-17 font-weight-medium text-color-onyx mb-0">Ahmed Mohamed</h3>
                      <button
                        class="font-17 font-weight-medium text-color-coral bg-color-transparent no-boxshadow border-0">
                        Remove
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-3 d-flex justify-content-center">
              <button
                class="btn button-secondary font-weight-medium font-17 px-4 text-nowrap my-4 my-md-0 flex-grow-0 flex-md-grow-1">
                <span>Add new contact</span>
              </button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Case details</ng-template>
        <div class="step-2-content mx-0 mx-md-5">
          <div class="row">
            <div class="col-12 col-md-6 mb-4">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Case Name" disabled value="Case Name">
                </label>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <div class="gray-select">
                <div class="select-container">
                  <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                    <mat-select placeholder="Case Type">
                      <mat-option>1</mat-option>
                      <mat-option>2</mat-option>
                      <mat-option>3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <div class="gray-select">
                <div class="select-container">
                  <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                    <mat-select placeholder="Specialized Cort">
                      <mat-option>1</mat-option>
                      <mat-option>2</mat-option>
                      <mat-option>3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-12 mb-3">
              <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always">
                <label class="w-100">
                  <textarea matInput placeholder="Description" rows="5"></textarea>
                </label>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-step>
      <!--    <mat-step>-->
      <!--      <ng-template matStepLabel>Staff</ng-template>-->
      <!--      <div class="step-3-content mx-0 mx-md-5">-->
      <!--        <app-add-edit-litigant></app-add-edit-litigant>-->
      <!--      </div>-->
      <!--    </mat-step>-->
      <mat-step>
        <ng-template matStepLabel>Case Documents</ng-template>
        <div class="step-4-content mx-0 mx-md-5">
          <div class="row">
            <div class="col-12 col-md-6 mb-3">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Document Name" value="Doc name">
                </label>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <mat-form-field>
                <label>
                  <input matInput placeholder="Add Tags">
                </label>
                <mat-icon matSuffix class="add-tag-button">
                  <button class="btn button-primary add-tag-button">
                <span>
                  <fa-icon class="font-16" [icon]="faPlus"></fa-icon>
                </span>
                  </button>
                </mat-icon>
              </mat-form-field>
              <div>
                <mat-chip-list #chipList aria-label="Add Tags">
                  <mat-chip class="font-12-imp" *ngFor="let i of [1,2,3]">
                    Tag {{i}}
                    <mat-icon matChipRemove>
                      <fa-icon class="font-14" [icon]="faTimes"></fa-icon>
                    </mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
            <div class="col-12 mb-4">
              <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always">
                <label class="w-100">
                  <textarea matInput placeholder="Description" rows="3"></textarea>
                </label>
              </mat-form-field>
            </div>
            <div class="col-12 mb-4">
              <div class="row">
                <div class="col-12 col-md-6">
                  <app-docs-uploader></app-docs-uploader>
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0">
                  <div class="ocr-container" (click)="openOcr()">
                    <h4 class="font-18 font-weight-bold text-color-onyx mb-0">using OCR</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mb-4 d-flex align-items-center">
              <p class="font-16 font-weight-medium text-color-onyx mb-0 mx-2">Public</p>
              <mat-slide-toggle class="m-2"></mat-slide-toggle>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button class="btn button-secondary font-weight-500 font-17 px-5" *ngIf="stepper.selectedIndex>0"
            (click)="prevHandler()"><span>Back</span>
    </button>
    <span class="mx-3" *ngIf="stepper.selectedIndex>0"></span>
    <button class="btn button-primary font-weight-500 font-17 px-5" *ngIf="stepper.selectedIndex<2" (click)="nextHandler()">
      <span>Continue</span>
    </button>
    <span class="mx-3" *ngIf="stepper.selectedIndex>1"></span>
    <button *ngIf="stepper.selectedIndex>1" class="btn button-oasis font-weight-500 font-17 px-5" (click)="nextHandler()">
      <span>Create</span>
    </button>
  </mat-dialog-actions>

</div>
