<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Add new Litigant</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>
  <mat-dialog-content>
    <div class="row">
      <div class="col-12 mb-1">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Choose contact type">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 mb-1">
        <mat-form-field>
          <label>
            <input matInput placeholder="Contact name">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 mb-1">
        <mat-form-field>
          <label>
            <input matInput placeholder="Email">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Website">
          </label>
        </mat-form-field>
      </div>
      <div class="col-md-6 mb-1">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Contact group">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-md-6 mb-1 d-flex align-self-center">
        <button class="border-0 bg-transparent text-color-coral underline font-17 font-weight-medium">Add a new contact
          group</button>
      </div>

      <div class="col-6 mb-1">
        <mat-form-field>
          <label>
            <input matInput placeholder="Cell phone">
          </label>
        </mat-form-field>
      </div>
      <div class="col-6 mb-1">
        <mat-form-field>
          <label>
            <input matInput placeholder="Cell phone2">
          </label>
        </mat-form-field>
      </div>
      <div class="col-6 mb-1">
        <mat-form-field>
          <label>
            <input matInput placeholder="Address ">
          </label>
        </mat-form-field>
      </div>
      <div class="col-6 mb-1">
        <mat-form-field>
          <label>
            <input matInput placeholder="Address 2">
          </label>
        </mat-form-field>
      </div>
      <div class="col-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="City">
          </label>
        </mat-form-field>
      </div>
      <div class="col-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="zip code">
          </label>
        </mat-form-field>
      </div>

      <div class="col-12 mb-1">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Country">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button class="btn button-secondary font-weight-medium font-17" matDialogClose><span>Discard</span>
    </button>
    <span class="mx-1 mx-md-3"></span>
    <button class="btn button-primary font-weight-medium font-17"><span>Add</span>
    </button>
  </mat-dialog-actions>

</div>
