<div class="bg-color-off-white2 h-100">
  <div class="hub-container">
    <div class="row pt-3">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h1 class="font-40 font-md-24 font-weight-bold text-color-onyx mb-0 text-nowrap">Litigants</h1>
        <button class="btn button-primary font-17 font-weight-medium px-3" (click)="openAddLitigants()"><span>Add New Litigant</span></button>
      </div>
    </div>
    <div class="general-box pb-4 px-4 pt-0 bg-color-white mt-3">
      <mat-tab-group class="primary-tab mx-n4">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-17">Persons</span>
          </ng-template>
          <ng-template matTabContent>
            <app-persons></app-persons>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-17">Companies</span>
          </ng-template>
          <ng-template matTabContent>
            <app-companies></app-companies>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="font-17">Groups</span>
          </ng-template>
          <ng-template matTabContent>
            <app-groups></app-groups>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
