@import "src/scss/variables";

.pdf-icon {
  width: 31px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  height: 100%;
  display: block;

  ::ng-deep {
    .mat-tab-body-wrapper {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }

    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
      display: none;
    }

    .mat-tab-header {
      overflow-x: auto;
    }

    .mat-tab-label-container {
      overflow: visible;
    }
  }


}



