<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Add Current Event</h1>
    <button class="popup-close-btn" matDialogClose>
      <fa-icon class="font-22 text-color-onyx" [icon]="faTimes"></fa-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Event name" value="Meeting with ahmed el ghamaday">
          </label>
        </mat-form-field>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-md-6 mb-3">
        <mat-form-field class="w-100 font-16-imp font-weight-medium">
          <mat-label>{{'Date Hijri'}}</mat-label>
          <label>
            <input type="text" required value="11 NOV 2020"
                   matInput [matDatepicker]="HijriDate">
          </label>
          <mat-datepicker-toggle matSuffix [for]="HijriDate" disableRipple>
            <mat-icon matDatepickerToggleIcon class="mb-3">
              <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99"
                   viewBox="0 0 23.99 23.99">
                <g>
                  <g>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 9)"
                      fill="#1d252d"/>
                    <path
                      d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 9)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 9)" fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 9)" fill="#1d252d"/>
                  </g>
                </g>
              </svg>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #HijriDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field class="w-100 font-16-imp font-weight-medium">
          <mat-label>{{'Date Gregorian'}}</mat-label>
          <label>
            <input type="text" valueAsDate="11 NOV 2020"
                   matInput [matDatepicker]="GregorianDate">
          </label>
          <mat-datepicker-toggle matSuffix [for]="GregorianDate" disableRipple>
            <mat-icon matDatepickerToggleIcon class="mb-3">
              <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99"
                   viewBox="0 0 23.99 23.99">
                <g>
                  <g>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 9)"
                      fill="#1d252d"/>
                    <path
                      d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 9)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(13.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(17.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 9)" fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 13)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(5.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 17)"
                      fill="#1d252d"/>
                    <circle
                      cx="1" cy="1" r="1"
                      transform="translate(9.268 9)" fill="#1d252d"/>
                  </g>
                </g>
              </svg>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #GregorianDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Time" value="09:10AM">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Judge Name" value="Abd Al Aziz Saud">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Circle No." value="13">
          </label>
        </mat-form-field>
      </div>



      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="City">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Floor" value="13">
          </label>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Office No." value="13">
          </label>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="gray-select">
          <div class="select-container">
            <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
              <mat-select placeholder="Final Disition">
                <mat-option>1</mat-option>
                <mat-option>2</mat-option>
                <mat-option>3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="col-12 mb-3">
        <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always">
          <label class="w-100">
            <textarea matInput placeholder="Description" rows="3"></textarea>
          </label>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <app-docs-uploader></app-docs-uploader>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="d-flex justify-content-between">
    <button class="btn button-secondary font-weight-medium font-17" matDialogClose><span>Discard</span>
    </button>
    <span class="mx-1 mx-md-3"></span>
    <div class="d-flex align-items-center">
      <button class="btn button-primary font-weight-medium font-17"><span>Save</span>
      </button>
      <span class="mx-1 mx-md-3"></span>
      <button class="btn button-primary font-weight-medium font-17" matDialogClose (click)="openAddNextEvent()"><span>Save
        & Add Next Event</span>
      </button>
    </div>
  </mat-dialog-actions>

</div>
