.ocr-container{
  height: 112px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  background: #F3F3F1;
  border: 0.5px dashed #8E9AA0;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
:host{
  ::ng-deep{
    .upload-file-container{
      min-width: auto !important;
    }
  }
}
