@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
.dashboard-cards {
    .dashboard-card {
        border: 1px solid $light-gray;
        min-height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1;
        cursor: pointer;
         ::ng-deep {
            .mat-card-header-text {
                margin: 0 !important;
            }
        }
    }
}

.col5 {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    @media (max-width: 991px) {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        margin-bottom: 1.5rem;
      &:nth-child(4),&:nth-child(5){
        margin-bottom: 0;
      }
    }
    @media (max-width:768px) {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 1.5rem;
      &:nth-child(4){
        margin-bottom: 1.5rem;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    @media (max-width:400px) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 1.5rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
}

.custom-highchart-legend {
    .wrapper {
        display: flex;
        align-items: center;
        .square {
            width: 9px;
            height: 9px;
            display: block;
            margin: 0px 5px;
        }
        .label {
            color: $dark-gray;
        }
    }
}

 :host {
     ::ng-deep {
       .mat-icon-button{
         .mat-button-wrapper{
           width:100%;
           height: 100%;
           line-height: 1;
           .mat-icon{
             width:100%;
             height:100%;
             display: flex;
             align-items: center;
             justify-content: center;
           }
         }
       }
        overflow: visible !important;
        .highcharts-container {
            width: auto !important;
            height: auto !important;
            overflow: visible !important;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center !important;
            flex-direction: column;
            .highcharts-legend {
                position: static !important;
                top: auto !important;
                right: 0;
                left: auto !important;
                bottom: 0;
                width: 100%;
                * {
                    position: static !important;
                }
                >div {
                    >div {
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 30px;
                        flex-wrap: wrap;
                        .highcharts-legend-item {
                            margin: 0px 20px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        .wrapper {
                            display: flex;
                            align-items: center;
                            .square {
                                width: 9px;
                                height: 9px;
                                display: block;
                                margin: 0px 5px;
                            }
                            .label {
                                color: $dark-gray;
                            }
                        }
                    }
                }
            }
            .highcharts-credits {
                display: none !important;
                fill: transparent !important;
            }
            svg {
                // width: 300px !important;
                // height: 300px !important;
            }
            .highcharts-label {
                border: 0px !important;
                background: none !important;
                padding: 0 !important;
                path {
                    fill: none;
                    stroke: none;
                }
                .tooltip-chart {}
                >span {
                    background-color: $white;
                    padding: 10px 5px !important;
                    color: $onyx !important;
                    border: 0px;
                    box-shadow: 0 2px 17px rgba(0, 0, 0, .07);
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .title {
                font-size: 13;
                fill: $dark-gray;
            }
            .number {
                font-size: 50px;
                fill: $onyx;
            }
        }
       .column-chart{
         overflow-x:auto;
         .highcharts-container{
           svg{
             min-width:800px
           }
         }
       }
    }
}

.primary-table {
    th,
    td {
        white-space: nowrap;
    }
}

.w-180{
  width: 180px;
}



.status-tag {
    padding: 5px 25px;
    &.open {
        background-color: #D9C9E7;
        color: $onyx;
    }
    &.closed {
        background-color: rgba(#02C389, 21%);
        color: #02C389;
    }
    &.in-progress {
        background-color: rgba(#1CCED8, 21%);
        color: #1CCED8;
    }
}

@include media-breakpoint-down(sm) {
    table {
        // width: 800px;
    }
    td.mat-column-star {
        width: 20px;
        padding-right: 8px;
    }
    th.mat-column-position,
    td.mat-column-position {
        padding-left: 8px;
    }
    .mat-table-sticky:first-child {
        border-right: 1px solid #e0e0e0;
    }
    .mat-table-sticky:last-child {
        border-left: 1px solid #e0e0e0;
    }
}
