<div class="hub-container">
    <div class="row pt-3">
        <div class="col-6 d-flex align-items-center">
            <h1 class="font-40 font-md-25 font-weight-bold text-color-onyx mb-0 text-nowrap">Dashboard</h1>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end d-block d-md-none">
            <button class="filters-btn coral" (click)="openFilters()">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7.2" viewBox="0 0 12 7.2">
          <g transform="translate(-46.5 -126.9)">
            <line x2="12" transform="translate(46.5 127.5)" fill="none" stroke-width="1.2" />
            <line x2="8" transform="translate(48.5 130.5)" fill="none" stroke-width="1.2" />
            <line x2="4" transform="translate(50.5 133.5)" fill="none" stroke-width="1.2" />
          </g>
        </svg>
        <span class="mx-2">Filters</span>
      </button>
        </div>
    </div>
    <section class="filter-inline-section mt-4 general-box p-4 bg-color-white d-none d-md-block">
        <app-dashboard-filters></app-dashboard-filters>
    </section>

    <section class="dashboard-cards mt-4">
        <div class="row">
            <div class="col5">
                <mat-card class="dashboard-card bg-color-white p-4 shadow-none rounded-0" (click)="openCases()">
                    <mat-card-header>
                        <mat-card-title>
                            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                  <rect id="Rectangle_3300" data-name="Rectangle 3300" width="42" height="42" fill="#ff375e"
                    opacity="0.1" />
                  <path id="Path_10205" data-name="Path 10205"
                    d="M25.546-113.886l-4.391-7.086a.642.642,0,0,0-.538-.287.642.642,0,0,0-.538.287l-4.391,7.086a1.251,1.251,0,0,0-.222.791,5.164,5.164,0,0,0,5.151,4.722,5.164,5.164,0,0,0,5.151-4.722A1.251,1.251,0,0,0,25.546-113.886Zm-4.929,4.225a3.914,3.914,0,0,1-3.656-2.577h7.3A3.894,3.894,0,0,1,20.617-109.662Zm-3.635-3.866,3.637-5.87,3.662,5.87Zm4.6,7.732H13.53v-14.266a2.571,2.571,0,0,0,1.933-2.486h6.121a.322.322,0,0,0,.322-.322v-.644a.322.322,0,0,0-.322-.322H15.1a2.072,2.072,0,0,0-.77-.848,2.565,2.565,0,0,0-1.441-.44,2.565,2.565,0,0,0-1.441.44,2.072,2.072,0,0,0-.77.848H4.188a.322.322,0,0,0-.322.322v.644a.322.322,0,0,0,.322.322h6.121a2.571,2.571,0,0,0,1.933,2.486V-105.8H4.188a.322.322,0,0,0-.322.322v.644a.322.322,0,0,0,.322.322h17.4a.322.322,0,0,0,.322-.322v-.644A.322.322,0,0,0,21.584-105.8ZM11.6-122.548a1.289,1.289,0,0,1,1.289-1.289,1.289,1.289,0,0,1,1.289,1.289,1.289,1.289,0,0,1-1.289,1.289A1.289,1.289,0,0,1,11.6-122.548ZM10.3-113.1a1.251,1.251,0,0,0-.222-.791l-4.391-7.086a.642.642,0,0,0-.538-.287.642.642,0,0,0-.538.287L.225-113.886A1.251,1.251,0,0,0,0-113.1a5.164,5.164,0,0,0,5.151,4.722A5.164,5.164,0,0,0,10.3-113.1Zm-5.149-6.3,3.662,5.87h-7.3ZM1.5-112.239H8.8a3.894,3.894,0,0,1-3.641,2.577A3.914,3.914,0,0,1,1.5-112.239Z"
                    transform="translate(7.279 136.125)" fill="#ff375e" />
                </svg>
              </span></mat-card-title>

                    </mat-card-header>
                    <mat-card-content>
                        <div class="d-flex align-items-center">
                            <span class="number font-37 font-md-27 font-weight-bold">7/14</span>
                            <span class="name font-21 font-md-19 font-weight-normal px-2">Cases</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col5">
                <mat-card class="dashboard-card bg-color-white p-4 shadow-none rounded-0">
                    <mat-card-header>
                        <mat-card-title>
                            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42"
                  height="42" viewBox="0 0 42 42">
                  <defs>
                    <clipPath id="clip-path">
                      <path id="Path_10382" data-name="Path 10382"
                        d="M144.046-364.8l-2.14-2.751a2.47,2.47,0,0,0-1.949-.953H137.47a2.469,2.469,0,0,0-2.47,2.47v14.405h17.287a2.47,2.47,0,0,0,2.47-2.47v-8.232a2.47,2.47,0,0,0-2.47-2.47Zm-7.4,1.646h15.64a.823.823,0,0,1,.823.823v8.232a.823.823,0,0,1-.823.823h-15.64Zm5.314-1.646h-5.314v-1.235a.823.823,0,0,1,.823-.823h2.487a.823.823,0,0,1,.65.318Z"
                        fill="#ff375e" clip-rule="evenodd" />
                    </clipPath>
                    <clipPath id="clip-path-2">
                      <path id="Path_10381" data-name="Path 10381" d="M135-352.244h19.756V-372H135Z"
                        transform="translate(-135 372)" fill="#ff375e" />
                    </clipPath>
                  </defs>
                  <rect id="Rectangle_3652" data-name="Rectangle 3652" width="42" height="42" fill="#ff375e"
                    opacity="0.1" />
                  <g id="Group_11976" data-name="Group 11976" transform="translate(-123.879 381.5)"
                    clip-path="url(#clip-path)">
                    <g id="Group_11975" data-name="Group 11975" transform="translate(135 -370.146)"
                      clip-path="url(#clip-path-2)">
                      <path id="Path_10380" data-name="Path 10380" d="M130-373.5h24.46v21.579H130Z"
                        transform="translate(-132.352 372.794)" fill="#ff375e" />
                    </g>
                  </g>
                </svg>

              </span></mat-card-title>

                    </mat-card-header>
                    <mat-card-content>
                        <div class="d-flex align-items-center">
                            <span class="number font-37 font-md-27 font-weight-bold">152</span>
                            <span class="name font-21 font-md-19 font-weight-normal px-2">Content</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col5">
                <mat-card class="dashboard-card bg-color-white p-4 shadow-none rounded-0">
                    <mat-card-header>
                        <mat-card-title>
                            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                  <rect id="Rectangle_3856" data-name="Rectangle 3856" width="42" height="42" fill="#ff375e"
                    opacity="0.1" />
                  <path id="Path_10444" data-name="Path 10444"
                    d="M523.368-371.8l4.4,4.717v12.433a2.45,2.45,0,0,1-2.45,2.45H512.25v-17.15a2.45,2.45,0,0,1,2.45-2.45Zm-.71,1.633H514.7a.817.817,0,0,0-.817.817v15.516h11.433a.817.817,0,0,0,.817-.817V-366.44Zm-2.684,8.89v1.633h-4.458v-1.633Zm2.076-3.267v1.633h-6.533v-1.633Zm-2.076-3.267v1.633h-4.458v-1.633Z"
                    transform="translate(-499.25 382.8)" fill="#ff375e" fill-rule="evenodd" />
                </svg>
              </span>
                        </mat-card-title>

                    </mat-card-header>
                    <mat-card-content>
                        <div class="d-flex align-items-center">
                            <span class="number font-37 font-md-27 font-weight-bold">45</span>
                            <span class="name font-21 font-md-19 font-weight-normal px-2">Contracts</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col5">
                <mat-card class="dashboard-card bg-color-white p-4 shadow-none rounded-0">
                    <mat-card-header>
                        <mat-card-title>
                            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                  <rect id="Rectangle_3656" data-name="Rectangle 3656" width="42" height="42" fill="#ff375e"
                    opacity="0.1" />
                  <path id="Path_10295" data-name="Path 10295"
                    d="M22.969-17.062h-.656a.656.656,0,0,0-.656.656v.531L1.939-11.3a.647.647,0,0,0-.627-.509H.656A.656.656,0,0,0,0-11.156v6.563a.656.656,0,0,0,.656.656h.656a.647.647,0,0,0,.627-.509L6.656-3.353a3.635,3.635,0,0,0-.094.728A3.937,3.937,0,0,0,10.5,1.313a3.917,3.917,0,0,0,3.777-2.9L21.656.125V.656a.656.656,0,0,0,.656.656h.656a.656.656,0,0,0,.656-.656V-16.406A.656.656,0,0,0,22.969-17.062ZM10.5-.656A1.971,1.971,0,0,1,8.531-2.625a1.825,1.825,0,0,1,.051-.281l3.784.877A1.964,1.964,0,0,1,10.5-.656ZM1.969-6.46V-9.29l19.688-4.565V-1.895Z"
                    transform="translate(9 29.063)" fill="#ff375e" />
                </svg>

              </span>
                        </mat-card-title>

                    </mat-card-header>
                    <mat-card-content>
                        <div class="d-flex align-items-center">
                            <span class="number font-37 font-md-27 font-weight-bold">10</span>
                            <span class="name font-21 font-md-19 font-weight-normal px-2">Events</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col5">
                <mat-card class="dashboard-card bg-color-white p-4 shadow-none rounded-0">
                    <mat-card-header>
                        <mat-card-title>
                            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                  <rect id="Rectangle_3856" data-name="Rectangle 3856" width="42" height="42" fill="#ff375e"
                    opacity="0.1" />
                  <path id="Path_10444" data-name="Path 10444"
                    d="M523.368-371.8l4.4,4.717v12.433a2.45,2.45,0,0,1-2.45,2.45H512.25v-17.15a2.45,2.45,0,0,1,2.45-2.45Zm-.71,1.633H514.7a.817.817,0,0,0-.817.817v15.516h11.433a.817.817,0,0,0,.817-.817V-366.44Zm-2.684,8.89v1.633h-4.458v-1.633Zm2.076-3.267v1.633h-6.533v-1.633Zm-2.076-3.267v1.633h-4.458v-1.633Z"
                    transform="translate(-499.25 382.8)" fill="#ff375e" fill-rule="evenodd" />
                </svg>
              </span>
                        </mat-card-title>

                    </mat-card-header>
                    <mat-card-content>
                        <div class="d-flex align-items-center">
                            <span class="number font-37 font-md-27 font-weight-bold">52/70</span>
                            <span class="name font-21 font-md-19 font-weight-normal px-2">Tasks</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>
    <section class="charts-section">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="p-4 bg-color-white general-box">
                    <h2 class="text-color-onyx font-30 font-md-22 font-weight-medium">Cases Status </h2>
                    <highcharts-chart [Highcharts]="Highcharts" [options]="caseChart"></highcharts-chart>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="p-4 bg-color-white general-box">
                    <h2 class="text-color-onyx font-30 font-md-22 font-weight-medium">Tasks</h2>
                    <highcharts-chart [Highcharts]="Highcharts" [options]="taskChart"></highcharts-chart>
                </div>
            </div>
            <div class="col-12">
                <div class="p-4 bg-color-white general-box mt-4">
                    <div class="d-flex align-items-center">
                        <h2 class="text-color-onyx font-30 font-md-22 font-weight-medium">Classification</h2>
                        <div class="custom-dropdown flex-grow-1">
                            <button mat-icon-button [matMenuTriggerFor]="appMenu" disableRipple>
                                <mat-icon>
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.827" height="9.413" viewBox="0 0 16.827 9.413">
                                    <path id="header_dropdown" d="M8.217,10.722l7,7,7-7" transform="translate(-6.803 -9.308)"
                                        fill="none" stroke="#1d252d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </svg>
                                </span>
                                </mat-icon>
                            </button>
                            <mat-menu #appMenu="matMenu">
                                <button mat-menu-item class="text-color-onyx font-12 font-weight-medium">Date</button>
                                <button mat-menu-item class="text-color-onyx font-12 font-weight-medium">Sector</button>
                                <button mat-menu-item class="text-color-onyx font-12 font-weight-medium">Department</button>
                            </mat-menu>
                        </div>
                      <button mat-icon-button class="d-flex d-md-none" [matMenuTriggerFor]="menu"
                              aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>Cases
                        </button>
                        <button mat-menu-item>Content
                        </button>
                        <button mat-menu-item>Contracts
                        </button>
                        <button mat-menu-item>Events
                        </button>
                        <button mat-menu-item>Tasks
                        </button>
                        <button mat-menu-item>Violation reports
                        </button>
                      </mat-menu>
                        <mat-button-toggle-group
                          class="d-none d-md-flex justify-content-between border-0 no-border-radius"
                                                 value="1">
                            <mat-button-toggle class="border-0 button-toggle" value="1" disableRipple selected>Cases
                            </mat-button-toggle>
                            <mat-button-toggle class="border-0 button-toggle" value="2" disableRipple>Content
                            </mat-button-toggle>
                            <mat-button-toggle class="border-0 button-toggle" value="3" disableRipple>Contracts
                            </mat-button-toggle>
                            <mat-button-toggle class="border-0 button-toggle" value="4" disableRipple>Events
                            </mat-button-toggle>
                            <mat-button-toggle class="border-0 button-toggle" value="5" disableRipple>Tasks
                            </mat-button-toggle>
                            <mat-button-toggle class="border-0 button-toggle" value="6" disableRipple>Violation reports
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="pt-3 d-flex align-items-center justify-content-center chart-container column-chart">
                        <highcharts-chart [Highcharts]="Highcharts" [options]="classificationChart"></highcharts-chart>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-4 general-box">
        <div class="p-4 bg-color-white general-box">
            <div class="d-flex flex-wrap">
                <h2 class="text-color-onyx font-30 font-md-22 font-weight-medium mb-0">Classification</h2>
                <span class="mx-2"></span>
                <div class="flex-grow-1 d-flex align-items-center w-180">
                    <div class="gray-select w-180 pb-0">
                        <div class="select-container h-40">
                            <mat-form-field class="font-16-imp font-weight-medium w-100">
                                <span matSuffix class="d-flex">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </span>
                                <mat-select placeholder="Cases">
                                    <mat-option>Content</mat-option>
                                    <mat-option>Contracts</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button class="btn button-primary square">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="18.937" height="18.937" viewBox="0 0 18.937 18.937">
              <path id="Path_10253" data-name="Path 10253"
                d="M22.584,15.821H15.821v6.763a1.353,1.353,0,1,1-2.705,0V15.821H6.353a1.353,1.353,0,0,1,0-2.705h6.763V6.353a1.353,1.353,0,0,1,2.705,0v6.763h6.763a1.353,1.353,0,1,1,0,2.705Z"
                transform="translate(-5 -5)" fill="#fff" />
            </svg>
          </span>
        </button>
            </div>
            <div class="table-container mt-4">
                <div class="overflow-auto">
                    <table class="primary-table" mat-table [dataSource]="dataSource">

                        <!-- Column Name -->
                        <ng-container matColumnDef="CaseName">
                            <th mat-header-cell *matHeaderCellDef>Case name</th>
                            <td mat-cell *matCellDef="let element"> {{element.CaseName}} </td>
                        </ng-container>

                        <!-- Column Name -->
                        <ng-container matColumnDef="CaseNo">
                            <th mat-header-cell *matHeaderCellDef>Case No.</th>
                            <td mat-cell *matCellDef="let element"> {{element.CaseNo}} </td>
                        </ng-container>

                        <!-- Column Name -->
                        <ng-container matColumnDef="CaseOwner">
                            <th mat-header-cell *matHeaderCellDef>Case Owner</th>
                            <td mat-cell *matCellDef="let element"> {{element.CaseOwner}} </td>
                        </ng-container>

                        <!-- Column Name -->
                        <ng-container matColumnDef="CaseStage">
                            <th mat-header-cell *matHeaderCellDef>Case stage</th>
                            <td mat-cell *matCellDef="let element"> {{element.CaseStage}} </td>
                        </ng-container>

                        <!-- Column Name -->
                        <ng-container matColumnDef="Attorney">
                            <th mat-header-cell *matHeaderCellDef>Attorney</th>
                            <td mat-cell *matCellDef="let element"> {{element.Attorney}} </td>
                        </ng-container>

                        <!-- Column Name -->
                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef>Status</th>
                            <td mat-cell *matCellDef="let element;let i =index;">
                                <span class="status-tag" [ngClass]="{'open':i%2==0,'closed':i%2!=0,'in-progress':false}">{{element.Status}}</span>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="p-4 bg-color-white general-box">
                    <div class="d-flex">
                        <h2 class="text-color-onyx font-30 font-md-22 font-weight-medium flex-grow-1">Upcoming events
                        </h2>

                        <button class="btn button-primary square" (click)="openAddEvent()">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="18.937" height="18.937" viewBox="0 0 18.937 18.937">
                  <path id="Path_10253" data-name="Path 10253"
                    d="M22.584,15.821H15.821v6.763a1.353,1.353,0,1,1-2.705,0V15.821H6.353a1.353,1.353,0,0,1,0-2.705h6.763V6.353a1.353,1.353,0,0,1,2.705,0v6.763h6.763a1.353,1.353,0,1,1,0,2.705Z"
                    transform="translate(-5 -5)" fill="#fff" />
                </svg>
              </span>
            </button>
                    </div>
                    <app-upcoming-events></app-upcoming-events>

                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="p-4 bg-color-white general-box">
                    <div class="d-flex">
                        <h2 class="text-color-onyx font-30 font-md-22 font-weight-medium flex-grow-1">All Tasks
                        </h2>

                        <button class="btn button-primary square">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="18.937" height="18.937" viewBox="0 0 18.937 18.937">
                  <path id="Path_10253" data-name="Path 10253"
                    d="M22.584,15.821H15.821v6.763a1.353,1.353,0,1,1-2.705,0V15.821H6.353a1.353,1.353,0,0,1,0-2.705h6.763V6.353a1.353,1.353,0,0,1,2.705,0v6.763h6.763a1.353,1.353,0,1,1,0,2.705Z"
                    transform="translate(-5 -5)" fill="#fff" />
                </svg>
              </span>
            </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-4">
        <div class="pt-4 px-4 bg-color-white general-box mt-4">
            <div class="d-flex">
                <h2 class="text-color-onyx font-30 font-md-22 font-weight-medium flex-grow-1">Recently activity </h2>

              <button mat-icon-button class="d-flex d-md-none" [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Cases
                </button>
                <button mat-menu-item>Content
                </button>
                <button mat-menu-item>Contracts
                </button>
                <button mat-menu-item>Events
                </button>
                <button mat-menu-item>Tasks
                </button>
                <button mat-menu-item>Violation reports
                </button>
              </mat-menu>
              <mat-button-toggle-group
                class="d-none d-md-flex justify-content-between border-0 no-border-radius"
                value="1">
                <mat-button-toggle class="border-0 button-toggle" value="1" disableRipple selected>Cases
                </mat-button-toggle>
                <mat-button-toggle class="border-0 button-toggle" value="2" disableRipple>Content
                </mat-button-toggle>
                <mat-button-toggle class="border-0 button-toggle" value="3" disableRipple>Contracts
                </mat-button-toggle>
                <mat-button-toggle class="border-0 button-toggle" value="4" disableRipple>Events
                </mat-button-toggle>
                <mat-button-toggle class="border-0 button-toggle" value="5" disableRipple>Tasks
                </mat-button-toggle>
                <mat-button-toggle class="border-0 button-toggle" value="6" disableRipple>Violation reports
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <app-recent-activity></app-recent-activity>
        </div>
    </section>
</div>

<app-float-button></app-float-button>
