@import "src/scss/variables";

.primary-table {
  th,
  td {
    white-space: nowrap;
  }
}

.pdf-icon{
  width: 31px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square-btn{
  border:none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.bg-color-secondary-purple-20{
  background-color: rgba($secondary-purple , 20%);
}
.bg-color-sea-light-20{
  background-color: rgba($sea-light , 20%);
}

:host {
  height: 100%;
  display: block;

    ::ng-deep{
      .mat-tab-body-wrapper{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
      }
      .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
        display: none;
      }
      .mat-tab-header{
        overflow-x: auto;
      }
      .mat-tab-label-container{
        overflow:visible;
      }
    }
  table {
    tr {
      th,
      td {
        text-align: left;
        padding: 12px 24px;
      }
    }
  }
}

[dir=rtl]{
  :host {
    table {
      tr {
        th,
        td {
          text-align: right;
        }
      }
    }
  }
}
