<div class="bg-color-off-white2 h-100">
  <div class="hub-container">
    <div class="row pt-3">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <h1 class="font-40 font-md-24 font-weight-bold text-color-onyx mb-0 text-nowrap">Content</h1>
        <button class="btn button-primary px-3" (click)="openAddDoc()"><span>Add New document</span></button>
      </div>
    </div>
    <div class="general-box p-4 bg-color-white mt-3">
    <mat-tab-group class="primary-tab mx-n4">
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="font-17">Policies</span>
        </ng-template>
        <ng-template matTabContent>
          <section class="filter-inline-section section-m">
            <app-filters></app-filters>
          </section>
          <div class="table-container mt-3">
            <div class="overflow-auto">
              <table class="primary-table">
                <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Case name</th>
                  <th>Last activity</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <span class="bg-color-secondary-purple d-inline-flex pdf-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15.385" height="17.372" viewBox="0 0 15.385 17.372">
                        <g id="Group_12964" data-name="Group 12964" transform="translate(-350.052 -680.418)">
                          <path id="Path_2981" data-name="Path 2981" d="M118.209,259.288c0-.468-.325-.747-.9-.747a1.963,1.963,0,0,0-.475.045v1.5a1.784,1.784,0,0,0,.385.03C117.832,260.118,118.209,259.809,118.209,259.288Z" transform="translate(235.908 430.031)" fill="#fff"/>
                          <path id="Path_2982" data-name="Path 2982" d="M256.877,259.019a2.394,2.394,0,0,0-.521.045v3.328a2.089,2.089,0,0,0,.4.023,1.577,1.577,0,0,0,1.721-1.781A1.459,1.459,0,0,0,256.877,259.019Z" transform="translate(100.788 429.568)" fill="#fff"/>
                          <path id="Path_2983" data-name="Path 2983" d="M45.915,6.214H45.5V4.2a.292.292,0,0,0,0-.038.334.334,0,0,0-.081-.221L42.064.117l0,0a.338.338,0,0,0-.068-.057L41.972.044A.351.351,0,0,0,41.9.016L41.886.01A.34.34,0,0,0,41.808,0H33.576a.682.682,0,0,0-.681.681V6.214h-.417a.974.974,0,0,0-.974.974v5.064a.974.974,0,0,0,.974.974h.417v3.466a.682.682,0,0,0,.681.681H44.817a.682.682,0,0,0,.681-.681V13.225h.417a.974.974,0,0,0,.974-.974V7.188A.974.974,0,0,0,45.915,6.214ZM33.576.681h7.891V4.167a.341.341,0,0,0,.341.341h3.009V6.214H33.576Zm8.363,9.065a2.578,2.578,0,0,1-.846,2.061,3.649,3.649,0,0,1-2.346.656,10,10,0,0,1-1.306-.075v-5A10.293,10.293,0,0,1,39,7.286a3.275,3.275,0,0,1,2.083.543A2.251,2.251,0,0,1,41.939,9.747Zm-8.884,2.664V7.392a9.455,9.455,0,0,1,1.555-.106,2.439,2.439,0,0,1,1.555.408,1.486,1.486,0,0,1,.543,1.177,1.624,1.624,0,0,1-.468,1.208,2.358,2.358,0,0,1-1.653.536,2.88,2.88,0,0,1-.392-.023v1.819h-1.14Zm11.761,4.1H33.576V13.225H44.817v3.282ZM45.8,8.268H43.849V9.43h1.827v.936H43.849v2.045H42.695V7.324H45.8Z" transform="translate(318.548 680.418)" fill="#fff"/>
                        </g>
                      </svg>

                    </span>
                  </td>
                  <td>Documents name</td>
                  <td>
                    <button (click)="openCaseDocuments()"
                      class="link-btn underline bg-color-transparent border-0 text-color-primary-purple font-16 font-weight-medium">Case name No.
                      one</button>
                  </td>
                  <td>Today </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button class="square-btn button-secondary-purple bg-color-secondary-purple-20 mx-2">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="17.736" height="11.085" viewBox="0 0 17.736 11.085">
                            <path id="Path_9538" data-name="Path 9538" d="M8.222,6a2.217,2.217,0,1,0,2.167,2.217A2.217,2.217,0,0,0,8.222,6Z" transform="translate(0.646 -2.674)" fill="#4f008c"/>
                            <path id="Path_9539" data-name="Path 9539" d="M8.868,4.663a8.4,8.4,0,0,1,6.893,3.88,8.4,8.4,0,0,1-6.893,3.88,8.4,8.4,0,0,1-6.893-3.88,8.4,8.4,0,0,1,6.893-3.88M8.868,3C4.889,3,1.86,5.364,0,8.543c1.86,3.178,4.889,5.543,8.868,5.543s7.008-2.364,8.868-5.543C15.876,5.364,12.847,3,8.868,3Z" transform="translate(0 -3)" fill="#4f008c"/>
                          </svg>
                        </span>
                      </button>
                      <button class="square-btn button-sea-light bg-color-sea-light-20 mx-2">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16.218" height="16.16" viewBox="0 0 16.218 16.16">
                            <path id="Path_9540" data-name="Path 9540" d="M19.61,7.385,16.833,4.607a2.027,2.027,0,0,0-2.7-.071L5.014,13.659a2.027,2.027,0,0,0-.578,1.227L4,19.113a1.011,1.011,0,0,0,1.014,1.1H5.1l4.227-.385a2.027,2.027,0,0,0,1.227-.578l9.123-9.123a1.946,1.946,0,0,0-.071-2.747ZM9.149,17.805l-3.041.284.274-3.041,5.727-5.656,2.737,2.737Zm7.014-7.035L13.447,8.054l1.977-2.027,2.767,2.767Z" transform="translate(-3.996 -4.058)" fill="#1cced8"/>
                          </svg>
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="font-17">Code of Ethics</span>
        </ng-template>
        <ng-template matTabContent>
          <section class="filter-inline-section section-m">
            <app-filters></app-filters>
          </section>
          <div class="table-container mt-3">
            <div class="overflow-auto">
              <table class="primary-table">
                <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Case name</th>
                  <th>Last activity</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <span class="bg-color-secondary-purple d-inline-flex pdf-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15.385" height="17.372" viewBox="0 0 15.385 17.372">
                        <g id="Group_12964" data-name="Group 12964" transform="translate(-350.052 -680.418)">
                          <path id="Path_2981" data-name="Path 2981" d="M118.209,259.288c0-.468-.325-.747-.9-.747a1.963,1.963,0,0,0-.475.045v1.5a1.784,1.784,0,0,0,.385.03C117.832,260.118,118.209,259.809,118.209,259.288Z" transform="translate(235.908 430.031)" fill="#fff"/>
                          <path id="Path_2982" data-name="Path 2982" d="M256.877,259.019a2.394,2.394,0,0,0-.521.045v3.328a2.089,2.089,0,0,0,.4.023,1.577,1.577,0,0,0,1.721-1.781A1.459,1.459,0,0,0,256.877,259.019Z" transform="translate(100.788 429.568)" fill="#fff"/>
                          <path id="Path_2983" data-name="Path 2983" d="M45.915,6.214H45.5V4.2a.292.292,0,0,0,0-.038.334.334,0,0,0-.081-.221L42.064.117l0,0a.338.338,0,0,0-.068-.057L41.972.044A.351.351,0,0,0,41.9.016L41.886.01A.34.34,0,0,0,41.808,0H33.576a.682.682,0,0,0-.681.681V6.214h-.417a.974.974,0,0,0-.974.974v5.064a.974.974,0,0,0,.974.974h.417v3.466a.682.682,0,0,0,.681.681H44.817a.682.682,0,0,0,.681-.681V13.225h.417a.974.974,0,0,0,.974-.974V7.188A.974.974,0,0,0,45.915,6.214ZM33.576.681h7.891V4.167a.341.341,0,0,0,.341.341h3.009V6.214H33.576Zm8.363,9.065a2.578,2.578,0,0,1-.846,2.061,3.649,3.649,0,0,1-2.346.656,10,10,0,0,1-1.306-.075v-5A10.293,10.293,0,0,1,39,7.286a3.275,3.275,0,0,1,2.083.543A2.251,2.251,0,0,1,41.939,9.747Zm-8.884,2.664V7.392a9.455,9.455,0,0,1,1.555-.106,2.439,2.439,0,0,1,1.555.408,1.486,1.486,0,0,1,.543,1.177,1.624,1.624,0,0,1-.468,1.208,2.358,2.358,0,0,1-1.653.536,2.88,2.88,0,0,1-.392-.023v1.819h-1.14Zm11.761,4.1H33.576V13.225H44.817v3.282ZM45.8,8.268H43.849V9.43h1.827v.936H43.849v2.045H42.695V7.324H45.8Z" transform="translate(318.548 680.418)" fill="#fff"/>
                        </g>
                      </svg>

                    </span>
                  </td>
                  <td>Documents name</td>
                  <td>
                    <button (click)="openCaseDocuments()"
                            class="link-btn underline bg-color-transparent border-0 text-color-primary-purple font-16 font-weight-medium">Case name No.
                      one</button>
                  </td>
                  <td>Today </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button class="square-btn button-secondary-purple bg-color-secondary-purple-20 mx-2">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="17.736" height="11.085" viewBox="0 0 17.736 11.085">
                            <path id="Path_9538" data-name="Path 9538" d="M8.222,6a2.217,2.217,0,1,0,2.167,2.217A2.217,2.217,0,0,0,8.222,6Z" transform="translate(0.646 -2.674)" fill="#4f008c"/>
                            <path id="Path_9539" data-name="Path 9539" d="M8.868,4.663a8.4,8.4,0,0,1,6.893,3.88,8.4,8.4,0,0,1-6.893,3.88,8.4,8.4,0,0,1-6.893-3.88,8.4,8.4,0,0,1,6.893-3.88M8.868,3C4.889,3,1.86,5.364,0,8.543c1.86,3.178,4.889,5.543,8.868,5.543s7.008-2.364,8.868-5.543C15.876,5.364,12.847,3,8.868,3Z" transform="translate(0 -3)" fill="#4f008c"/>
                          </svg>
                        </span>
                      </button>
                      <button class="square-btn button-sea-light bg-color-sea-light-20 mx-2">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16.218" height="16.16" viewBox="0 0 16.218 16.16">
                            <path id="Path_9540" data-name="Path 9540" d="M19.61,7.385,16.833,4.607a2.027,2.027,0,0,0-2.7-.071L5.014,13.659a2.027,2.027,0,0,0-.578,1.227L4,19.113a1.011,1.011,0,0,0,1.014,1.1H5.1l4.227-.385a2.027,2.027,0,0,0,1.227-.578l9.123-9.123a1.946,1.946,0,0,0-.071-2.747ZM9.149,17.805l-3.041.284.274-3.041,5.727-5.656,2.737,2.737Zm7.014-7.035L13.447,8.054l1.977-2.027,2.767,2.767Z" transform="translate(-3.996 -4.058)" fill="#1cced8"/>
                          </svg>
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="font-17">Documents</span>
        </ng-template>
        <ng-template matTabContent>
          <section class="filter-inline-section section-m">
            <app-filters></app-filters>
          </section>
          <div class="table-container mt-3">
            <div class="overflow-auto">
              <table class="primary-table">
                <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Case name</th>
                  <th>Last activity</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <span class="bg-color-secondary-purple d-inline-flex pdf-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="15.385" height="17.372" viewBox="0 0 15.385 17.372">
                        <g id="Group_12964" data-name="Group 12964" transform="translate(-350.052 -680.418)">
                          <path id="Path_2981" data-name="Path 2981" d="M118.209,259.288c0-.468-.325-.747-.9-.747a1.963,1.963,0,0,0-.475.045v1.5a1.784,1.784,0,0,0,.385.03C117.832,260.118,118.209,259.809,118.209,259.288Z" transform="translate(235.908 430.031)" fill="#fff"/>
                          <path id="Path_2982" data-name="Path 2982" d="M256.877,259.019a2.394,2.394,0,0,0-.521.045v3.328a2.089,2.089,0,0,0,.4.023,1.577,1.577,0,0,0,1.721-1.781A1.459,1.459,0,0,0,256.877,259.019Z" transform="translate(100.788 429.568)" fill="#fff"/>
                          <path id="Path_2983" data-name="Path 2983" d="M45.915,6.214H45.5V4.2a.292.292,0,0,0,0-.038.334.334,0,0,0-.081-.221L42.064.117l0,0a.338.338,0,0,0-.068-.057L41.972.044A.351.351,0,0,0,41.9.016L41.886.01A.34.34,0,0,0,41.808,0H33.576a.682.682,0,0,0-.681.681V6.214h-.417a.974.974,0,0,0-.974.974v5.064a.974.974,0,0,0,.974.974h.417v3.466a.682.682,0,0,0,.681.681H44.817a.682.682,0,0,0,.681-.681V13.225h.417a.974.974,0,0,0,.974-.974V7.188A.974.974,0,0,0,45.915,6.214ZM33.576.681h7.891V4.167a.341.341,0,0,0,.341.341h3.009V6.214H33.576Zm8.363,9.065a2.578,2.578,0,0,1-.846,2.061,3.649,3.649,0,0,1-2.346.656,10,10,0,0,1-1.306-.075v-5A10.293,10.293,0,0,1,39,7.286a3.275,3.275,0,0,1,2.083.543A2.251,2.251,0,0,1,41.939,9.747Zm-8.884,2.664V7.392a9.455,9.455,0,0,1,1.555-.106,2.439,2.439,0,0,1,1.555.408,1.486,1.486,0,0,1,.543,1.177,1.624,1.624,0,0,1-.468,1.208,2.358,2.358,0,0,1-1.653.536,2.88,2.88,0,0,1-.392-.023v1.819h-1.14Zm11.761,4.1H33.576V13.225H44.817v3.282ZM45.8,8.268H43.849V9.43h1.827v.936H43.849v2.045H42.695V7.324H45.8Z" transform="translate(318.548 680.418)" fill="#fff"/>
                        </g>
                      </svg>

                    </span>
                  </td>
                  <td>Documents name</td>
                  <td>
                    <button (click)="openCaseDocuments()"
                            class="link-btn underline bg-color-transparent border-0 text-color-primary-purple font-16 font-weight-medium">Case name No.
                      one</button>
                  </td>
                  <td>Today </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button class="square-btn button-secondary-purple bg-color-secondary-purple-20 mx-2">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="17.736" height="11.085" viewBox="0 0 17.736 11.085">
                            <path id="Path_9538" data-name="Path 9538" d="M8.222,6a2.217,2.217,0,1,0,2.167,2.217A2.217,2.217,0,0,0,8.222,6Z" transform="translate(0.646 -2.674)" fill="#4f008c"/>
                            <path id="Path_9539" data-name="Path 9539" d="M8.868,4.663a8.4,8.4,0,0,1,6.893,3.88,8.4,8.4,0,0,1-6.893,3.88,8.4,8.4,0,0,1-6.893-3.88,8.4,8.4,0,0,1,6.893-3.88M8.868,3C4.889,3,1.86,5.364,0,8.543c1.86,3.178,4.889,5.543,8.868,5.543s7.008-2.364,8.868-5.543C15.876,5.364,12.847,3,8.868,3Z" transform="translate(0 -3)" fill="#4f008c"/>
                          </svg>
                        </span>
                      </button>
                      <button class="square-btn button-sea-light bg-color-sea-light-20 mx-2">
                        <span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16.218" height="16.16" viewBox="0 0 16.218 16.16">
                            <path id="Path_9540" data-name="Path 9540" d="M19.61,7.385,16.833,4.607a2.027,2.027,0,0,0-2.7-.071L5.014,13.659a2.027,2.027,0,0,0-.578,1.227L4,19.113a1.011,1.011,0,0,0,1.014,1.1H5.1l4.227-.385a2.027,2.027,0,0,0,1.227-.578l9.123-9.123a1.946,1.946,0,0,0-.071-2.747ZM9.149,17.805l-3.041.284.274-3.041,5.727-5.656,2.737,2.737Zm7.014-7.035L13.447,8.054l1.977-2.027,2.767,2.767Z" transform="translate(-3.996 -4.058)" fill="#1cced8"/>
                          </svg>
                        </span>
                      </button>
                    </div>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    </div>
  </div>
</div>
