:host{
    .prb-n10{
        position: relative;
        bottom: -10px;
    }
  .add-tag-button{
    width:36px !important;
    height: 36px !important;
    position: relative;
    top:-3px;
    .square-btn{
      width:36px !important;
      min-width:36px !important;
      height: 36px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .mat-chip-list{
    position: relative;
    top:-10px;
  }
}
