<div class="d-flex flex-column h-100">

<div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Add new case</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
</div>
<div class="d-flex flex-column align-items-center dialog-content h-100 overflow-auto" mat-dialog-content>
    <div class="row">
        <div class="col-12 mb-3">
            <mat-checkbox class="gray-checkbox">This event is not linked to a case</mat-checkbox>
        </div>
        <div class="col-12 mb-3">
            <div class="gray-select">
                <div class="select-container">
                    <mat-form-field class="font-16-imp font-weight-medium w-100">
                        <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                        <mat-select placeholder="Case">
                            <mat-option>1</mat-option>
                            <mat-option>2</mat-option>
                            <mat-option>3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field class="prb-n10">
                <label>
          <input matInput placeholder="Event name">
        </label>
            </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
            <div class="gray-select">
                <div class="select-container">
                    <mat-form-field class="font-16-imp font-weight-medium w-100">
                        <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
                        <mat-select placeholder="Meeting type">
                            <mat-option>
                                <div class="d-flex align-items-center"><span class="meeting-type bg-color-coral"></span><span class="mx-2">Meeting</span></div>
                            </mat-option>
                            <mat-option>
                                <div class="d-flex align-items-center"><span class="meeting-type bg-color-primary-purple"></span><span class="mx-2">Meeting</span></div>
                            </mat-option>
                            <mat-option>
                                <div class="d-flex align-items-center"><span class="meeting-type bg-color-sea-light-imp"></span><span class="mx-2">Meeting</span></div>
                            </mat-option>
                            <mat-option>
                                <div class="d-flex align-items-center"><span class="meeting-type bg-color-oasis-light"></span><span class="mx-2">Meeting</span></div>
                            </mat-option>
                            <mat-option>
                                <div class="d-flex align-items-center"><span class="meeting-type bg-color-sea-light"></span><span class="mx-2">Meeting</span></div>
                            </mat-option>
                            <mat-option>
                                <div class="d-flex align-items-center"><span class="meeting-type bg-color-yellow"></span><span class="mx-2">Meeting</span></div>
                            </mat-option>
                            <mat-option>
                                <div class="d-flex align-items-center"><span class="meeting-type bg-color-onyx"></span><span class="mx-2">Meeting</span></div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field class="w-100 font-16-imp font-weight-medium">
                <mat-label>{{'Start Date'}}</mat-label>
                <label>
          <input type="text" required
                 matInput [matDatepicker]="startDate">
        </label>
                <mat-datepicker-toggle matSuffix [for]="startDate" disableRipple>
                    <mat-icon matDatepickerToggleIcon class="mb-3">
                        <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99" viewBox="0 0 23.99 23.99">
              <g>
                <g>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 9)"
                    fill="#1d252d"/>
                  <path
                    d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 9)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 9)" fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 9)" fill="#1d252d"/>
                </g>
              </g>
            </svg>
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field>
                <label>
          <input matInput placeholder="Time">
        </label>
            </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field class="w-100 font-16-imp font-weight-medium">
                <mat-label>{{'End Date'}}</mat-label>
                <label>
          <input type="text" required
                 matInput [matDatepicker]="startDate">
        </label>
                <mat-datepicker-toggle matSuffix [for]="startDate" disableRipple>
                    <mat-icon matDatepickerToggleIcon class="mb-3">
                        <svg id="calendar" xmlns="http://www.w3.org/2000/svg" width="23.99" height="23.99" viewBox="0 0 23.99 23.99">
              <g>
                <g>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 9)"
                    fill="#1d252d"/>
                  <path
                    d="M20.242,1.874H19.023V.937a.937.937,0,1,0-1.874,0v.937H12.885V.937a.937.937,0,0,0-1.874,0v.937H6.794V.937a.937.937,0,0,0-1.874,0v.937H3.748A3.753,3.753,0,0,0,0,5.623V20.242A3.753,3.753,0,0,0,3.748,23.99h7.169a.937.937,0,1,0,0-1.874H3.748a1.876,1.876,0,0,1-1.874-1.874V5.623A1.876,1.876,0,0,1,3.748,3.748H4.92v.937a.937.937,0,0,0,1.874,0V3.748h4.217v.937a.937.937,0,1,0,1.874,0V3.748h4.264v.937a.937.937,0,1,0,1.874,0V3.748h1.218a1.876,1.876,0,0,1,1.874,1.874v5.342a.937.937,0,1,0,1.874,0V5.623A3.753,3.753,0,0,0,20.242,1.874Z"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 9)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(13.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(17.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 9)" fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 13)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(5.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 17)"
                    fill="#1d252d"/>
                  <circle
                    cx="1" cy="1" r="1"
                    transform="translate(9.268 9)" fill="#1d252d"/>
                </g>
              </g>
            </svg>
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-6 mb-3">
            <mat-form-field>
                <label>
          <input matInput placeholder="Time">
        </label>
            </mat-form-field>
        </div>
      <div class="col-12 mb-3">
        <mat-form-field>
          <label>
            <input matInput placeholder="Add Tags">
          </label>
          <mat-icon matSuffix class="add-tag-button">
            <button class="btn button-primary add-tag-button">
                <span>
                  <fa-icon class="font-16" [icon]="faPlus"></fa-icon>
                </span>
            </button>
          </mat-icon>
        </mat-form-field>
        <div>
          <mat-chip-list #chipList aria-label="Add Tags">
            <mat-chip class="font-12-imp" *ngFor="let i of [1,2,3]">
              Tag {{i}}
              <mat-icon matChipRemove>
                <fa-icon class="font-14" [icon]="faTimes"></fa-icon>
              </mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
</div>

  <mat-dialog-actions align="center">
    <button class="btn button-secondary font-weight-medium font-17" matDialogClose><span>Discard</span>
    </button>
    <span class="mx-1 mx-md-3"></span>
    <button class="btn button-primary font-weight-medium font-17"><span>Save event</span>
    </button>
  </mat-dialog-actions>
</div>
