<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Team Leader Feedback</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>

  <mat-dialog-content>
    <p class="font-18 text-color-dark-gray">
      Each of us is expected to act in a way that promotes the Company’s best interests. Personal relationships with suppliers,dealers, and customers must not affect your ability to act in a maPersonal relationships with suppliers,dealers, and customersner
    </p>
  </mat-dialog-content>

</div>
