<div class="row">
  <div class="col-12 mb-4">
    <label class="font-16 font-weight-medium text-color-onyx mb-2">Assign case owner</label>
    <div class="gray-select">
      <div class="select-container">
        <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
          <mat-select placeholder="Search for owner">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4">
    <label class="font-16 font-weight-medium text-color-onyx mb-2">Assign consultant</label>
    <div class="gray-select">
      <div class="select-container">
        <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
          <mat-select placeholder="Search for consultant">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4">
    <ul class="external-emp-list d-flex flex-wrap list-unstyled mb-0">
      <li>
        <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
          <div class="external-emp-img-container"><img src="assets/images/profile-img.png" alt=""></div>
          <div class="mx-2">
            <h3 class="font-16 font-weight-medium text-color-onyx mb-0">Mohamed el ghamdy</h3>
            <i class="font-14 text-color-onyx">consultant</i>
          </div>
          <div class="delete-external-emp">
            <button>
              <fa-icon class="d-flex" [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
      </li>
      <li>
        <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
          <div class="external-emp-img-container"><img src="assets/images/profile-img.png" alt=""></div>
          <div class="mx-2">
            <h3 class="font-16 font-weight-medium text-color-onyx mb-0">Mohamed el ghamdy</h3>
            <i class="font-14 text-color-onyx">consultant</i>
          </div>
          <div class="delete-external-emp">
            <button>
              <fa-icon class="d-flex" [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
      </li>
      <li>
        <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
          <div class="external-emp-img-container"><img src="assets/images/profile-img.png" alt=""></div>
          <div class="mx-2">
            <h3 class="font-16 font-weight-medium text-color-onyx mb-0">Mohamed el ghamdy</h3>
            <i class="font-14 text-color-onyx">consultant</i>
          </div>
          <div class="delete-external-emp">
            <button>
              <fa-icon class="d-flex" [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-12 mb-4">
    <label class="font-16 font-weight-medium text-color-onyx mb-2">Lead Attorney</label>
    <div class="gray-select">
      <div class="select-container">
        <mat-form-field class="font-16-imp font-weight-500 w-100">
                    <span matSuffix class="d-flex">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
          <mat-select placeholder="Search for attorney ">
            <mat-option>1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4">
    <label class="font-16 font-weight-medium text-color-onyx mb-2">Who should have access to this case?</label>
    <div class="table-container">
      <div class="overflow-auto">
        <table class="primary-table" mat-table [dataSource]="dataSource">

          <!-- Column Name -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox class="dark-gray-checkbox"
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(element) : null"
                            [checked]="selection.isSelected(element)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Column Name -->
          <ng-container matColumnDef="Img">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <div class="table-img-container"><img src="assets/images/{{element.Img}}" alt=""></div>
            </td>
          </ng-container>

          <!-- Column Name -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
          </ng-container>

          <!-- Column Name -->
          <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
          </ng-container>

          <!-- Column Name -->
          <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
