@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.external-emp-list {
  li {
    margin-bottom: 20px;
  }

  li:nth-child(even) {
    margin: 0 25px 25px;
  }
}

.external-emp-img-container {
  width: 49px;
  height: 49px;
  min-width: 49px;
  min-height: 49px;
  max-width: 49px;
  max-height: 49px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    max-width: 100%;
  }
}

.delete-external-emp {
  position: absolute;
  right: -6px;
  top: -6px;

  button {
    border-radius: 50%;
    border: none;
    padding: 0;
    background: $danger;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
  }
}

:host .primary-table ::ng-deep {
  thead tr {
    th {
      text-align: start !important;
      padding: 0 !important;
    }

    th:first-child {
      padding-left: 24px !important;
    }
  }

  tbody {
    tr {
      td {
        text-align: start !important;
      }
    }
  }
}
