@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-down(sm){
  .scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 60px;
  }
}
