<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sidenav fixedInViewport mode="over" position="end" style="width: 495px;">
    <app-case-recent-activity></app-case-recent-activity>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="row mx-0">
      <div class="col-12 px-0">
        <div class="row case-details-header">
          <div class="col-12 col-md-6 d-flex flex-column justify-content-between content-column">
            <h1 class="font-30 font-md-26 font-weight-bold text-color-white">This is the Title of the Case and it may be in tow rows or more</h1>
            <div class="d-flex align-items-center mx-n3">
              <div class="font-17 case-header-tags">Financial case</div>
              <div class="font-17 case-header-tags"><span class="dot"></span>Inprogress</div>
            </div>
          </div>
          <div class="col-12 col-md-6 d-none d-md-flex flex-column justify-content-between align-items-end">
            <div>
              <button class="btn button-primary font-weight-500 font-17 px-4"
                      [matMenuTriggerFor]="menu">
                <span class="d-flex align-items-center">Close Case <mat-icon>keyboard_arrow_down</mat-icon></span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item class="font-17 font-weight-medium px-4" (click)="openInitialResult()">
                  <span>Initial Result</span>
                </button>
                <button mat-menu-item class="font-17 font-weight-medium px-4" (click)="openFinalResult()">
                  <span>Final Result</span>
                </button>
              </mat-menu>
            </div>
            <div class="d-flex">
              <button class="btn button-white font-weight-500 font-17 px-5" *ngIf="false" (click)="openSendToLawOfficePopup()">
                <span>Send to law Office</span>
              </button>
              <div class="law-office-button-group d-none d-md-flex">
                <button class="btn button-white px-3 py-2 font-17 font-weight-500 position-relative" (click)="openLawOfficeReplies()">
                  <span>Law Office Replies</span>
                  <span class="replies-dot"></span>
                </button>
                <button class="d-flex align-items-center btn button-white menu-btn" [matMenuTriggerFor]="menu1">
                  <span>
                  <mat-icon>keyboard_arrow_down</mat-icon>
                  </span>
                </button>
                <mat-menu #menu1="matMenu" xPosition="before" class="law-menu">
                  <button mat-menu-item (click)="openSendToLawOfficePopup()">Send again law Office</button>
                </mat-menu>
              </div>
              <button class="btn button-white d-flex mx-3 p-3">
                <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
              <path
                d="M17.188-7.906a1.031,1.031,0,0,0-1.031,1.031,1.032,1.032,0,0,0,1.031,1.031,1.032,1.032,0,0,0,1.031-1.031A1.031,1.031,0,0,0,17.188-7.906Zm1.375-3.781v-3.271a2.063,2.063,0,0,0-.6-1.458l-2.229-2.229a2.063,2.063,0,0,0-1.458-.6H4.747a1.343,1.343,0,0,0-1.31,1.375v6.188A3.438,3.438,0,0,0,0-8.25v5.5a.687.687,0,0,0,.688.688h2.75V2.063a.687.687,0,0,0,.688.688h13.75a.687.687,0,0,0,.688-.687V-2.062h2.75A.687.687,0,0,0,22-2.75v-5.5A3.438,3.438,0,0,0,18.563-11.687ZM5.5-17.187h8.25v2.063a.687.687,0,0,0,.688.688H16.5v2.75H5.5ZM16.5.688H5.5v-2.75h11Zm3.438-4.812H2.063V-8.25A1.377,1.377,0,0,1,3.438-9.625H18.563A1.377,1.377,0,0,1,19.938-8.25Z"
                transform="translate(0 19.25)" fill="#f9f9f9"></path>
            </svg>
            </span>
              </button>
              <button class="btn button-white d-flex p-3" (click)="sidenav.toggle()">
            <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="18.399" height="18.399"
                 viewBox="0 0 18.399 18.399">
              <path
                d="M18.665-5.427a9.2,9.2,0,0,0-9.2-9.182A9.168,9.168,0,0,0,3.11-12.062L1.279-13.893a.594.594,0,0,0-1.013.42v5.393a.594.594,0,0,0,.594.594H6.252A.594.594,0,0,0,6.671-8.5L4.789-10.383a6.8,6.8,0,0,1,4.677-1.852A6.822,6.822,0,0,1,16.291-5.41,6.822,6.822,0,0,1,9.465,1.416,6.8,6.8,0,0,1,5.224-.06.892.892,0,0,0,4.041.014L3.623.432a.89.89,0,0,0,.068,1.321A9.161,9.161,0,0,0,9.472,3.79,9.221,9.221,0,0,0,18.665-5.427ZM11.954-2.5l.364-.469a.89.89,0,0,0-.156-1.249L10.652-5.4V-9.268a.89.89,0,0,0-.89-.89H9.168a.89.89,0,0,0-.89.89v5.032L10.7-2.349A.89.89,0,0,0,11.954-2.5Z"
                transform="translate(-0.266 14.609)" fill="#f9f9f9"></path>
            </svg>
            </span>
              </button>
            </div>
          </div>
          <div class="d-md-none mobile-actions-menu">
            <button mat-button [matMenuTriggerFor]="menu">
              <fa-icon class="text-color-white font-23" [icon]="faEllipsisV"></fa-icon>
            </button>
            <mat-menu #menu="matMenu" yPosition="above" xPosition="before" class="mx-4">
              <button mat-menu-item>View History</button>
              <button mat-menu-item (click)="openSendToLawOfficePopup()">Send to law Office</button>
            </mat-menu>
          </div>
        </div>
        <div class="row case-details-content">
          <div class="col-12 col-md-3 content-column">
            <div class="p-4 bg-color-white general-box mb-4">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h2 class="text-color-onyx font-18 font-md-22 font-weight-bold">Case team members</h2>
                  <h3 class="font-13 font-weight-normal text-color-dark-gray">9 Consultant</h3>
                </div>

                <button class="btn button-primary square" (click)="openEditLitigant()">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16.975" height="16.881" viewBox="0 0 16.975 16.881">
                  <path
                    d="M19.631,7.389,16.85,4.608a2.03,2.03,0,0,0-2.7-.071L5.015,13.672A2.03,2.03,0,0,0,4.437,14.9L4,19.133a1.012,1.012,0,0,0,1.015,1.106h.091l4.232-.386a2.03,2.03,0,0,0,1.228-.579L19.7,10.14a1.949,1.949,0,0,0-.071-2.751ZM9.156,17.823l-3.045.284.274-3.045L12.12,9.4l2.74,2.74Zm7.024-7.044-2.72-2.72,1.979-2.03L18.21,8.8Z"
                    transform="translate(-3.695 -3.658)" fill="#fff" stroke="#ff375e" stroke-width="0.6"/>
                </svg>
              </span>
                </button>
              </div>
              <div>
                <ul class="list-unstyled team-members-list mb-0">
                  <li>
                    <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
                      <div class="external-emp-img-container"><img src="assets/images/profile-img.png" alt=""></div>
                      <div class="mx-2">
                        <h3 class="font-16 font-weight-medium text-color-onyx mb-0">Abdulelah alhodaib</h3>
                        <p class="font-14  mb-0 text-color-secondary-purple">Attorney leader</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
                      <div class="external-emp-img-container"><img src="assets/images/profile-img.png" alt=""></div>
                      <div class="mx-2 flex-grow-1">
                        <h3 class="font-16 font-weight-medium text-color-onyx mb-0">Mohamed Yossef</h3>
                        <p class="font-14  mb-0 text-color-dark-gray">consultant</p>
                      </div>
                      <div>
                        <button class="btn bg-color-transparent border-0" (click)="openDelegateTeamMember()">
                      <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18.213" height="15.178"
                             viewBox="0 0 18.213 15.178">
                          <path id="Icon_ionic-md-share-alt" data-name="Icon ionic-md-share-alt"
                                d="M22.713,13.959,15.124,6.75V10.8C8.041,11.809,5.512,16.869,4.5,21.928c2.53-3.541,5.565-5.161,10.624-5.161v4.149Z"
                                transform="translate(-4.5 -6.75)" fill="#ff375e"/>
                        </svg>
                    </span>
                        </button>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
                      <div class="external-emp-img-container"><img src="assets/images/profile-img.png" alt=""></div>
                      <div class="mx-2">
                        <h3 class="font-16 font-weight-medium text-color-onyx mb-0">Turki Bin Muhamed</h3>
                        <p class="font-14  mb-0 text-color-coral">Case owner</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="p-4 bg-color-white general-box mb-4">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h2 class="text-color-onyx font-18 font-md-22 font-weight-bold">Case Documents</h2>
                  <h3 class="font-13 font-weight-normal text-color-dark-gray">10 Documents</h3>
                </div>
                <button class="btn button-primary square" (click)="openAddDoc()">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="18.937" height="18.937" viewBox="0 0 18.937 18.937">
                  <path id="Path_10253" data-name="Path 10253"
                        d="M22.584,15.821H15.821v6.763a1.353,1.353,0,1,1-2.705,0V15.821H6.353a1.353,1.353,0,0,1,0-2.705h6.763V6.353a1.353,1.353,0,0,1,2.705,0v6.763h6.763a1.353,1.353,0,1,1,0,2.705Z"
                        transform="translate(-5 -5)" fill="#fff"/>
                </svg>
              </span>
                </button>
              </div>
              <div>
                <ul class="list-unstyled case-docs-list mb-0">
                  <li>
                    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" width="308" height="61" viewBox="0 0 308 61">
                      <g id="Group_11636" data-name="Group 11636">
                        <rect id="Rectangle_1959" data-name="Rectangle 1959" width="308" height="61" fill="#f3f3f1"/>
                      </g>
                      <g id="Group_11637" data-name="Group 11637" transform="translate(10 13)">
                        <rect id="Rectangle_1959-2" data-name="Rectangle 1959" width="33" height="36" fill="#a54ee1"/>
                      </g>
                      <text id="Document-V-1.pdf" transform="translate(54 28)" fill="#1d252d" font-size="14"
                            font-family="STCForward-Medium, STC Forward,BetaSTC" font-weight="500">
                        <tspan x="0" y="0">Document-V-1.pdf</tspan>
                      </text>
                      <text id="_12_02_2020" data-name="12/02/2020" transform="translate(54 44)" fill="#8e9aa0"
                            font-size="12" font-family="STCForward-Light, STC Forward,BetaSTC" font-weight="300">
                        <tspan x="0" y="0">12/02/2020</tspan>
                      </text>
                      <g id="pdf-file-format-symbol" transform="translate(18.384 21)">
                        <path id="Path_2981" data-name="Path 2981"
                              d="M118.266,259.319c0-.487-.338-.778-.935-.778a2.044,2.044,0,0,0-.495.047v1.564a1.857,1.857,0,0,0,.4.031C117.873,260.183,118.266,259.861,118.266,259.319Z"
                              transform="translate(-114.034 -250.05)" fill="#fff"/>
                        <path id="Path_2982" data-name="Path 2982"
                              d="M256.9,259.019a2.494,2.494,0,0,0-.543.047v3.466a2.176,2.176,0,0,0,.417.024,1.642,1.642,0,0,0,1.792-1.855A1.519,1.519,0,0,0,256.9,259.019Z"
                              transform="translate(-248.972 -250.513)" fill="#fff"/>
                        <path id="Path_2983" data-name="Path 2983"
                              d="M46.51,6.47h-.434v-2.1a.305.305,0,0,0,0-.039.348.348,0,0,0-.084-.23L42.5.121l0,0A.352.352,0,0,0,42.426.06L42.4.046a.366.366,0,0,0-.07-.029L42.314.01A.354.354,0,0,0,42.233,0H33.662a.71.71,0,0,0-.709.709V6.47h-.434A1.014,1.014,0,0,0,31.5,7.484v5.272a1.014,1.014,0,0,0,1.014,1.014h.434V17.38a.71.71,0,0,0,.709.709h11.7a.71.71,0,0,0,.709-.709V13.77h.434a1.014,1.014,0,0,0,1.014-1.014V7.484A1.014,1.014,0,0,0,46.51,6.47ZM33.662.71h8.217V4.339a.355.355,0,0,0,.355.355h3.133V6.471h-11.7Zm8.708,9.439a2.685,2.685,0,0,1-.881,2.146,3.8,3.8,0,0,1-2.443.684,10.412,10.412,0,0,1-1.36-.078V7.7a10.717,10.717,0,0,1,1.619-.11,3.41,3.41,0,0,1,2.169.566A2.344,2.344,0,0,1,42.37,10.149Zm-9.25,2.774V7.7a9.845,9.845,0,0,1,1.619-.11,2.539,2.539,0,0,1,1.619.425,1.548,1.548,0,0,1,.565,1.226,1.691,1.691,0,0,1-.487,1.257,2.455,2.455,0,0,1-1.721.558,3,3,0,0,1-.408-.024v1.894H33.12Zm12.246,4.265h-11.7V13.77h11.7v3.417Zm1.028-8.579H44.358v1.21h1.9v.975h-1.9v2.13h-1.2v-5.3h3.238Z"
                              transform="translate(-31.504 0)" fill="#fff"/>
                      </g>
                      <rect id="Rectangle_3432" data-name="Rectangle 3432" width="20" height="20" rx="6"
                            transform="translate(284 4)" fill="#fff" opacity="0.71"/>
                      <g id="Icon_feather-download-cloud" data-name="Icon feather-download-cloud"
                         transform="translate(288.302 9.335)">
                        <path id="Path_2978" data-name="Path 2978" d="M12,25.5l1.972,1.972L15.945,25.5"
                              transform="translate(-8.544 -18.591)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                        <path id="Path_2979" data-name="Path 2979" d="M18,18v4.438"
                              transform="translate(-12.571 -13.556)"
                              fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.3"/>
                        <path id="Path_2980" data-name="Path 2980"
                              d="M11.294,11.929a2.465,2.465,0,0,0-1.42-4.482H9.252a3.945,3.945,0,1,0-6.775,3.595"
                              transform="translate(-1.486 -4.482)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                      </g>
                    </svg>
                  </li>
                  <li>
                    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" width="308" height="61" viewBox="0 0 308 61">
                      <g id="Group_11636" data-name="Group 11636">
                        <rect id="Rectangle_1959" data-name="Rectangle 1959" width="308" height="61" fill="#f3f3f1"/>
                      </g>
                      <g id="Group_11637" data-name="Group 11637" transform="translate(10 13)">
                        <rect id="Rectangle_1959-2" data-name="Rectangle 1959" width="33" height="36" fill="#a54ee1"/>
                      </g>
                      <text id="Document-V-1.pdf" transform="translate(54 28)" fill="#1d252d" font-size="14"
                            font-family="STCForward-Medium, STC Forward,BetaSTC" font-weight="500">
                        <tspan x="0" y="0">Document-V-1.pdf</tspan>
                      </text>
                      <text id="_12_02_2020" data-name="12/02/2020" transform="translate(54 44)" fill="#8e9aa0"
                            font-size="12" font-family="STCForward-Light, STC Forward,BetaSTC" font-weight="300">
                        <tspan x="0" y="0">12/02/2020</tspan>
                      </text>
                      <g id="pdf-file-format-symbol" transform="translate(18.384 21)">
                        <path id="Path_2981" data-name="Path 2981"
                              d="M118.266,259.319c0-.487-.338-.778-.935-.778a2.044,2.044,0,0,0-.495.047v1.564a1.857,1.857,0,0,0,.4.031C117.873,260.183,118.266,259.861,118.266,259.319Z"
                              transform="translate(-114.034 -250.05)" fill="#fff"/>
                        <path id="Path_2982" data-name="Path 2982"
                              d="M256.9,259.019a2.494,2.494,0,0,0-.543.047v3.466a2.176,2.176,0,0,0,.417.024,1.642,1.642,0,0,0,1.792-1.855A1.519,1.519,0,0,0,256.9,259.019Z"
                              transform="translate(-248.972 -250.513)" fill="#fff"/>
                        <path id="Path_2983" data-name="Path 2983"
                              d="M46.51,6.47h-.434v-2.1a.305.305,0,0,0,0-.039.348.348,0,0,0-.084-.23L42.5.121l0,0A.352.352,0,0,0,42.426.06L42.4.046a.366.366,0,0,0-.07-.029L42.314.01A.354.354,0,0,0,42.233,0H33.662a.71.71,0,0,0-.709.709V6.47h-.434A1.014,1.014,0,0,0,31.5,7.484v5.272a1.014,1.014,0,0,0,1.014,1.014h.434V17.38a.71.71,0,0,0,.709.709h11.7a.71.71,0,0,0,.709-.709V13.77h.434a1.014,1.014,0,0,0,1.014-1.014V7.484A1.014,1.014,0,0,0,46.51,6.47ZM33.662.71h8.217V4.339a.355.355,0,0,0,.355.355h3.133V6.471h-11.7Zm8.708,9.439a2.685,2.685,0,0,1-.881,2.146,3.8,3.8,0,0,1-2.443.684,10.412,10.412,0,0,1-1.36-.078V7.7a10.717,10.717,0,0,1,1.619-.11,3.41,3.41,0,0,1,2.169.566A2.344,2.344,0,0,1,42.37,10.149Zm-9.25,2.774V7.7a9.845,9.845,0,0,1,1.619-.11,2.539,2.539,0,0,1,1.619.425,1.548,1.548,0,0,1,.565,1.226,1.691,1.691,0,0,1-.487,1.257,2.455,2.455,0,0,1-1.721.558,3,3,0,0,1-.408-.024v1.894H33.12Zm12.246,4.265h-11.7V13.77h11.7v3.417Zm1.028-8.579H44.358v1.21h1.9v.975h-1.9v2.13h-1.2v-5.3h3.238Z"
                              transform="translate(-31.504 0)" fill="#fff"/>
                      </g>
                      <rect id="Rectangle_3432" data-name="Rectangle 3432" width="20" height="20" rx="6"
                            transform="translate(284 4)" fill="#fff" opacity="0.71"/>
                      <g id="Icon_feather-download-cloud" data-name="Icon feather-download-cloud"
                         transform="translate(288.302 9.335)">
                        <path id="Path_2978" data-name="Path 2978" d="M12,25.5l1.972,1.972L15.945,25.5"
                              transform="translate(-8.544 -18.591)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                        <path id="Path_2979" data-name="Path 2979" d="M18,18v4.438"
                              transform="translate(-12.571 -13.556)"
                              fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.3"/>
                        <path id="Path_2980" data-name="Path 2980"
                              d="M11.294,11.929a2.465,2.465,0,0,0-1.42-4.482H9.252a3.945,3.945,0,1,0-6.775,3.595"
                              transform="translate(-1.486 -4.482)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                      </g>
                    </svg>
                  </li>
                  <li>
                    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" width="308" height="61" viewBox="0 0 308 61">
                      <g id="Group_11636" data-name="Group 11636">
                        <rect id="Rectangle_1959" data-name="Rectangle 1959" width="308" height="61" fill="#f3f3f1"/>
                      </g>
                      <g id="Group_11637" data-name="Group 11637" transform="translate(10 13)">
                        <rect id="Rectangle_1959-2" data-name="Rectangle 1959" width="33" height="36" fill="#a54ee1"/>
                      </g>
                      <text id="Document-V-1.pdf" transform="translate(54 28)" fill="#1d252d" font-size="14"
                            font-family="STCForward-Medium, STC Forward,BetaSTC" font-weight="500">
                        <tspan x="0" y="0">Document-V-1.pdf</tspan>
                      </text>
                      <text id="_12_02_2020" data-name="12/02/2020" transform="translate(54 44)" fill="#8e9aa0"
                            font-size="12" font-family="STCForward-Light, STC Forward,BetaSTC" font-weight="300">
                        <tspan x="0" y="0">12/02/2020</tspan>
                      </text>
                      <g id="pdf-file-format-symbol" transform="translate(18.384 21)">
                        <path id="Path_2981" data-name="Path 2981"
                              d="M118.266,259.319c0-.487-.338-.778-.935-.778a2.044,2.044,0,0,0-.495.047v1.564a1.857,1.857,0,0,0,.4.031C117.873,260.183,118.266,259.861,118.266,259.319Z"
                              transform="translate(-114.034 -250.05)" fill="#fff"/>
                        <path id="Path_2982" data-name="Path 2982"
                              d="M256.9,259.019a2.494,2.494,0,0,0-.543.047v3.466a2.176,2.176,0,0,0,.417.024,1.642,1.642,0,0,0,1.792-1.855A1.519,1.519,0,0,0,256.9,259.019Z"
                              transform="translate(-248.972 -250.513)" fill="#fff"/>
                        <path id="Path_2983" data-name="Path 2983"
                              d="M46.51,6.47h-.434v-2.1a.305.305,0,0,0,0-.039.348.348,0,0,0-.084-.23L42.5.121l0,0A.352.352,0,0,0,42.426.06L42.4.046a.366.366,0,0,0-.07-.029L42.314.01A.354.354,0,0,0,42.233,0H33.662a.71.71,0,0,0-.709.709V6.47h-.434A1.014,1.014,0,0,0,31.5,7.484v5.272a1.014,1.014,0,0,0,1.014,1.014h.434V17.38a.71.71,0,0,0,.709.709h11.7a.71.71,0,0,0,.709-.709V13.77h.434a1.014,1.014,0,0,0,1.014-1.014V7.484A1.014,1.014,0,0,0,46.51,6.47ZM33.662.71h8.217V4.339a.355.355,0,0,0,.355.355h3.133V6.471h-11.7Zm8.708,9.439a2.685,2.685,0,0,1-.881,2.146,3.8,3.8,0,0,1-2.443.684,10.412,10.412,0,0,1-1.36-.078V7.7a10.717,10.717,0,0,1,1.619-.11,3.41,3.41,0,0,1,2.169.566A2.344,2.344,0,0,1,42.37,10.149Zm-9.25,2.774V7.7a9.845,9.845,0,0,1,1.619-.11,2.539,2.539,0,0,1,1.619.425,1.548,1.548,0,0,1,.565,1.226,1.691,1.691,0,0,1-.487,1.257,2.455,2.455,0,0,1-1.721.558,3,3,0,0,1-.408-.024v1.894H33.12Zm12.246,4.265h-11.7V13.77h11.7v3.417Zm1.028-8.579H44.358v1.21h1.9v.975h-1.9v2.13h-1.2v-5.3h3.238Z"
                              transform="translate(-31.504 0)" fill="#fff"/>
                      </g>
                      <rect id="Rectangle_3432" data-name="Rectangle 3432" width="20" height="20" rx="6"
                            transform="translate(284 4)" fill="#fff" opacity="0.71"/>
                      <g id="Icon_feather-download-cloud" data-name="Icon feather-download-cloud"
                         transform="translate(288.302 9.335)">
                        <path id="Path_2978" data-name="Path 2978" d="M12,25.5l1.972,1.972L15.945,25.5"
                              transform="translate(-8.544 -18.591)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                        <path id="Path_2979" data-name="Path 2979" d="M18,18v4.438"
                              transform="translate(-12.571 -13.556)"
                              fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.3"/>
                        <path id="Path_2980" data-name="Path 2980"
                              d="M11.294,11.929a2.465,2.465,0,0,0-1.42-4.482H9.252a3.945,3.945,0,1,0-6.775,3.595"
                              transform="translate(-1.486 -4.482)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                      </g>
                    </svg>
                  </li>
                  <li>
                    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" width="308" height="61" viewBox="0 0 308 61">
                      <g id="Group_11636" data-name="Group 11636">
                        <rect id="Rectangle_1959" data-name="Rectangle 1959" width="308" height="61" fill="#f3f3f1"/>
                      </g>
                      <g id="Group_11637" data-name="Group 11637" transform="translate(10 13)">
                        <rect id="Rectangle_1959-2" data-name="Rectangle 1959" width="33" height="36" fill="#a54ee1"/>
                      </g>
                      <text id="Document-V-1.pdf" transform="translate(54 28)" fill="#1d252d" font-size="14"
                            font-family="STCForward-Medium, STC Forward,BetaSTC" font-weight="500">
                        <tspan x="0" y="0">Document-V-1.pdf</tspan>
                      </text>
                      <text id="_12_02_2020" data-name="12/02/2020" transform="translate(54 44)" fill="#8e9aa0"
                            font-size="12" font-family="STCForward-Light, STC Forward,BetaSTC" font-weight="300">
                        <tspan x="0" y="0">12/02/2020</tspan>
                      </text>
                      <g id="pdf-file-format-symbol" transform="translate(18.384 21)">
                        <path id="Path_2981" data-name="Path 2981"
                              d="M118.266,259.319c0-.487-.338-.778-.935-.778a2.044,2.044,0,0,0-.495.047v1.564a1.857,1.857,0,0,0,.4.031C117.873,260.183,118.266,259.861,118.266,259.319Z"
                              transform="translate(-114.034 -250.05)" fill="#fff"/>
                        <path id="Path_2982" data-name="Path 2982"
                              d="M256.9,259.019a2.494,2.494,0,0,0-.543.047v3.466a2.176,2.176,0,0,0,.417.024,1.642,1.642,0,0,0,1.792-1.855A1.519,1.519,0,0,0,256.9,259.019Z"
                              transform="translate(-248.972 -250.513)" fill="#fff"/>
                        <path id="Path_2983" data-name="Path 2983"
                              d="M46.51,6.47h-.434v-2.1a.305.305,0,0,0,0-.039.348.348,0,0,0-.084-.23L42.5.121l0,0A.352.352,0,0,0,42.426.06L42.4.046a.366.366,0,0,0-.07-.029L42.314.01A.354.354,0,0,0,42.233,0H33.662a.71.71,0,0,0-.709.709V6.47h-.434A1.014,1.014,0,0,0,31.5,7.484v5.272a1.014,1.014,0,0,0,1.014,1.014h.434V17.38a.71.71,0,0,0,.709.709h11.7a.71.71,0,0,0,.709-.709V13.77h.434a1.014,1.014,0,0,0,1.014-1.014V7.484A1.014,1.014,0,0,0,46.51,6.47ZM33.662.71h8.217V4.339a.355.355,0,0,0,.355.355h3.133V6.471h-11.7Zm8.708,9.439a2.685,2.685,0,0,1-.881,2.146,3.8,3.8,0,0,1-2.443.684,10.412,10.412,0,0,1-1.36-.078V7.7a10.717,10.717,0,0,1,1.619-.11,3.41,3.41,0,0,1,2.169.566A2.344,2.344,0,0,1,42.37,10.149Zm-9.25,2.774V7.7a9.845,9.845,0,0,1,1.619-.11,2.539,2.539,0,0,1,1.619.425,1.548,1.548,0,0,1,.565,1.226,1.691,1.691,0,0,1-.487,1.257,2.455,2.455,0,0,1-1.721.558,3,3,0,0,1-.408-.024v1.894H33.12Zm12.246,4.265h-11.7V13.77h11.7v3.417Zm1.028-8.579H44.358v1.21h1.9v.975h-1.9v2.13h-1.2v-5.3h3.238Z"
                              transform="translate(-31.504 0)" fill="#fff"/>
                      </g>
                      <rect id="Rectangle_3432" data-name="Rectangle 3432" width="20" height="20" rx="6"
                            transform="translate(284 4)" fill="#fff" opacity="0.71"/>
                      <g id="Icon_feather-download-cloud" data-name="Icon feather-download-cloud"
                         transform="translate(288.302 9.335)">
                        <path id="Path_2978" data-name="Path 2978" d="M12,25.5l1.972,1.972L15.945,25.5"
                              transform="translate(-8.544 -18.591)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                        <path id="Path_2979" data-name="Path 2979" d="M18,18v4.438"
                              transform="translate(-12.571 -13.556)"
                              fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.3"/>
                        <path id="Path_2980" data-name="Path 2980"
                              d="M11.294,11.929a2.465,2.465,0,0,0-1.42-4.482H9.252a3.945,3.945,0,1,0-6.775,3.595"
                              transform="translate(-1.486 -4.482)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                      </g>
                    </svg>
                  </li>
                  <li>
                    <svg class="w-100" xmlns="http://www.w3.org/2000/svg" width="308" height="61" viewBox="0 0 308 61">
                      <g id="Group_11636" data-name="Group 11636">
                        <rect id="Rectangle_1959" data-name="Rectangle 1959" width="308" height="61" fill="#f3f3f1"/>
                      </g>
                      <g id="Group_11637" data-name="Group 11637" transform="translate(10 13)">
                        <rect id="Rectangle_1959-2" data-name="Rectangle 1959" width="33" height="36" fill="#a54ee1"/>
                      </g>
                      <text id="Document-V-1.pdf" transform="translate(54 28)" fill="#1d252d" font-size="14"
                            font-family="STCForward-Medium, STC Forward,BetaSTC" font-weight="500">
                        <tspan x="0" y="0">Document-V-1.pdf</tspan>
                      </text>
                      <text id="_12_02_2020" data-name="12/02/2020" transform="translate(54 44)" fill="#8e9aa0"
                            font-size="12" font-family="STCForward-Light, STC Forward,BetaSTC" font-weight="300">
                        <tspan x="0" y="0">12/02/2020</tspan>
                      </text>
                      <g id="pdf-file-format-symbol" transform="translate(18.384 21)">
                        <path id="Path_2981" data-name="Path 2981"
                              d="M118.266,259.319c0-.487-.338-.778-.935-.778a2.044,2.044,0,0,0-.495.047v1.564a1.857,1.857,0,0,0,.4.031C117.873,260.183,118.266,259.861,118.266,259.319Z"
                              transform="translate(-114.034 -250.05)" fill="#fff"/>
                        <path id="Path_2982" data-name="Path 2982"
                              d="M256.9,259.019a2.494,2.494,0,0,0-.543.047v3.466a2.176,2.176,0,0,0,.417.024,1.642,1.642,0,0,0,1.792-1.855A1.519,1.519,0,0,0,256.9,259.019Z"
                              transform="translate(-248.972 -250.513)" fill="#fff"/>
                        <path id="Path_2983" data-name="Path 2983"
                              d="M46.51,6.47h-.434v-2.1a.305.305,0,0,0,0-.039.348.348,0,0,0-.084-.23L42.5.121l0,0A.352.352,0,0,0,42.426.06L42.4.046a.366.366,0,0,0-.07-.029L42.314.01A.354.354,0,0,0,42.233,0H33.662a.71.71,0,0,0-.709.709V6.47h-.434A1.014,1.014,0,0,0,31.5,7.484v5.272a1.014,1.014,0,0,0,1.014,1.014h.434V17.38a.71.71,0,0,0,.709.709h11.7a.71.71,0,0,0,.709-.709V13.77h.434a1.014,1.014,0,0,0,1.014-1.014V7.484A1.014,1.014,0,0,0,46.51,6.47ZM33.662.71h8.217V4.339a.355.355,0,0,0,.355.355h3.133V6.471h-11.7Zm8.708,9.439a2.685,2.685,0,0,1-.881,2.146,3.8,3.8,0,0,1-2.443.684,10.412,10.412,0,0,1-1.36-.078V7.7a10.717,10.717,0,0,1,1.619-.11,3.41,3.41,0,0,1,2.169.566A2.344,2.344,0,0,1,42.37,10.149Zm-9.25,2.774V7.7a9.845,9.845,0,0,1,1.619-.11,2.539,2.539,0,0,1,1.619.425,1.548,1.548,0,0,1,.565,1.226,1.691,1.691,0,0,1-.487,1.257,2.455,2.455,0,0,1-1.721.558,3,3,0,0,1-.408-.024v1.894H33.12Zm12.246,4.265h-11.7V13.77h11.7v3.417Zm1.028-8.579H44.358v1.21h1.9v.975h-1.9v2.13h-1.2v-5.3h3.238Z"
                              transform="translate(-31.504 0)" fill="#fff"/>
                      </g>
                      <rect id="Rectangle_3432" data-name="Rectangle 3432" width="20" height="20" rx="6"
                            transform="translate(284 4)" fill="#fff" opacity="0.71"/>
                      <g id="Icon_feather-download-cloud" data-name="Icon feather-download-cloud"
                         transform="translate(288.302 9.335)">
                        <path id="Path_2978" data-name="Path 2978" d="M12,25.5l1.972,1.972L15.945,25.5"
                              transform="translate(-8.544 -18.591)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                        <path id="Path_2979" data-name="Path 2979" d="M18,18v4.438"
                              transform="translate(-12.571 -13.556)"
                              fill="none" stroke="#a54ee1" stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="1.3"/>
                        <path id="Path_2980" data-name="Path 2980"
                              d="M11.294,11.929a2.465,2.465,0,0,0-1.42-4.482H9.252a3.945,3.945,0,1,0-6.775,3.595"
                              transform="translate(-1.486 -4.482)" fill="none" stroke="#a54ee1" stroke-linecap="round"
                              stroke-linejoin="round" stroke-width="1.3"/>
                      </g>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <div class="p-4 bg-color-white general-box mb-4">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h2 class="text-color-onyx font-18 font-md-22 font-weight-bold">Related cases</h2>
                </div>
              </div>
              <div>
                <ul class="list-unstyled case-docs-list mb-0">
                  <li>
                    <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
                      <div class="mx-2 flex-grow-1">
                        <h3 class="font-16 font-weight-bold text-color-onyx mb-0">Case name example no1</h3>
                        <p class="font-14 font-weight-light text-color-onyx">No.565632</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
                      <div class="mx-2 flex-grow-1">
                        <h3 class="font-16 font-weight-bold text-color-onyx mb-0">Case name example no2</h3>
                        <p class="font-14 font-weight-light text-color-onyx">No.565632</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center position-relative bg-color-light-gray py-2 px-3">
                      <div class="mx-2 flex-grow-1">
                        <h3 class="font-16 font-weight-bold text-color-onyx mb-0">Case name example no3</h3>
                        <p class="font-14 font-weight-light text-color-onyx">No.565632</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-9 content-column">
            <div class="p-4 bg-color-white general-box mb-4">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h2 class="text-color-onyx font-27 font-md-22 font-weight-bold">Case Information</h2>
                </div>
              </div>
              <div class="case-info-list mx-n4">
                <div class="row m-0">
                  <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Name</div>
                      <div class="col-12 col-md-9 info-value">stc complains at the Communications</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Classification</div>
                      <div class="col-12 col-md-9 info-value">financial case</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Case ID</div>
                      <div class="col-12 col-md-9 info-value">#98712</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Litigant</div>
                      <div class="col-12 col-md-9 info-value">Zain</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Group</div>
                      <div class="col-12 col-md-9 info-value">Tele-comunication</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Date opened</div>
                      <div class="col-12 col-md-9 info-value">14-2-2019</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Date publish</div>
                      <div class="col-12 col-md-9 info-value">5-2-2019</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Date close</div>
                      <div class="col-12 col-md-9 info-value">24-1-2020</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Priority</div>
                      <div class="col-12 col-md-9 info-value">High</div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
                    <div class="row">
                      <div class="col-12 col-md-3 info-key">Confidential</div>
                      <div class="col-12 col-md-9 info-value">
                        <mat-slide-toggle></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="case-description-container mt-4">
                <h2 class="font-27 font-weight-bold text-color-onyx">Description</h2>
                <p class="font-18 case-description cursor-pointer" [ngClass]="{'show-more':readMore}" (click)="showMore()">
                  Each of us is expected to act in a way that promotes the Companyís best interests. Personal relationships with suppliers,dealers, and customers must not affect your ability to act in a maPersonal relationships with suppliers,dealers, and customer sner
                  tEach of us is expected to act in a way that promotes the Companyís best interests. Personal relationships with suppliers,dealers, and customers must not affect your ability to act in a maPersonal relationships with
                  suppliers,dealers, and customer sner tEach of us is expected to act in a way that promotes the Companyís best interests. Personal relationships with suppliers,dealers, and customers must not affect your ability to act
                  in a maPersonal relationships with suppliers,dealers, and customer sner t
                  <span class="font-16 font-weight-normal text-color-coral mx-2 cursor-pointer d-inline-flex align-items-center">
                    <span class="mx-2 d-inline">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14.14" height="18.07" viewBox="0 0 14.14 18.07">
  <path d="M11,21.07V7L6.43,11.57l-1.5-1.5L12,3l7.07,7.07-1.5,1.5L13,7V21.07Z" transform="translate(-4.93 -3)"
        fill="#ff375e"/>
</svg>
</span> Show less</span>
                </p>
              </div>
            </div>
            <div class="bg-color-white general-box mb-4">
              <app-case-stages></app-case-stages>
            </div>
            <div class="bg-color-white general-box mb-4">
              <app-results-details></app-results-details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
