@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.case-details-header {
  background-image: url("/assets/images/case-details-bg.png");
  height: 220px;
  position: relative;
  padding: 30px;

  & > div {
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($primary-purple, 76%);
    z-index: 0;
  }

  .case-header-tags {
    color: $white;
    font-weight: normal;
    background: rgba(#8E9AA0, 33%);
    padding: 4px 18px;
    margin: 0 16px;
    display: flex;
    align-items: center;

    .dot {
      width: 8px;
      height: 8px;
      min-width: 8px;
      min-height: 8px;
      max-width: 8px;
      max-height: 8px;
      background: #1BCED8;
      border-radius: 50%;
      display: inline-block;
      margin: 0 8px;
    }
  }
}

.button-white {
  &:hover {
    span, svg path {
      color: $black;
      fill: $black;
    }
  }
}

.case-details-content {
  padding: 30px;
}

.external-emp-img-container {
  width: 49px;
  height: 49px;
  min-width: 49px;
  min-height: 49px;
  max-width: 49px;
  max-height: 49px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    max-width: 100%;
  }
}

.team-members-list {
  li {
    > div {
      margin-bottom: 1rem;
    }
  }

  li:last-child {
    div {
      margin-bottom: 0;
    }
  }
}

.case-docs-list {
  li {
    margin-bottom: 1rem;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.case-info-list {
  .case-info-row {
    padding: 16px 28px;

    .info-key, .info-value {
      display: flex;
      align-items: center;
    }

    .info-key {
      color: $dark-gray;
      font-size: 15px;
      font-weight: $font-medium;
    }

    .info-value {
      color: $onyx;
      font-size: 15px;
      font-weight: $font-medium;
    }
  }
}

.case-description {
  font-weight: normal;
  color: $onyx;
  position: relative;
  max-height: 110px;
  overflow: hidden;
  transition: .3s all ease-in-out;

  &.show-more {
    max-height: 1000px;
    overflow: visible;
    transition: .3s all ease-in-out;

    &:after {
      display: none;
    }
  }

  &:after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(184deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
  }
}

@include media-breakpoint-down(sm) {
  .case-details-header,
  .case-details-content {
    margin-right: 0 !important;
    margin-left: 0 !important;

    .content-column {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
  .case-details-content {
    padding: 16px;
  }
  .case-info-list {
    .case-info-row:nth-child(odd) {
      background-color: $light-gray !important;
    }

    .case-info-row:nth-child(even) {
      background-color: $white !important;
    }
  }
}

.mobile-actions-menu {
  position: absolute;
  width: 92%;
  display: flex;
  justify-content: flex-end;
}

.law-office-button-group {

  .replies-dot {
    position: absolute !important;
    top: 7px;
    right: 7px;
    background-color: $sea-light;
    width: 9px;
    height: 9px;
    min-width: 9px;
    min-height: 9px;
    border-radius: 50%;
  }

  .menu-btn {
    width: 55px;
    border-inline-start: none;
    justify-content: center;
  }
}

