.btn {
  border-radius: 0 !important;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
  height: 55px;
  font-weight: $font-medium;
  &.square{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    z-index: 1;
    position: relative;
    display: inherit;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    transition: all 0.4s;
    transition: all 0.4s;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    top: 0;
    left: 0;
  }

  &:hover:after,
  &:active:after {
    transform: translateX(100%);
  }

  &.button-primary {
    background-color: $transparent;
    border: 2px solid $coral;
    color: $white;

    &:hover {
      color: $coral;

      svg {
        path {
          fill: $coral;
        }
      }
    }

    &:after {
      background: $coral;
    }

    
  }

  &.button-secondary {
    background-color: $coral;
    border: 2px solid $coral;
    color: $coral;

    &:hover {
      color: $white;
      // svg {
      //   path {
      //     fill: $white;
      //   }
      // }
    }

    &:after {
      background: $white;
    }
  }

  &.button-ternary {
    background-color: $transparent;
    border: 2px solid $dark-gray;
    color: $white;

    &:hover {
      color: $dark-gray;
    }

    &:after {
      background: $dark-gray;
    }
  }

  &.button-oasis {
    background-color: $transparent;
    border: 2px solid $oasis-light;
    color: $white;

    &:hover {
      color: $oasis-light;
    }
    &:after {
      background: $oasis-light;
    }
  }

  &.button-sea-light {
    background-color: $transparent;
    border: 2px solid $sea-light;
    color: $white;

    &:hover {
      color: $sea-light;
      svg {
        path {
          fill: $sea-light;
        }
      }
    }

    &:after {
      background: $sea-light;
    }

  }

  &.button-secondary-purple {
    background-color: $transparent;
    border: 2px solid $secondary-purple;
    color: $white;
    &:hover {
      color: $secondary-purple;
      svg {
        path {
          fill: $secondary-purple;
        }
      }
    }


    &:after {
      background: $secondary-purple;
    }
  }

  &.button-danger {
    background-color: $transparent;
    border: 2px solid $danger;
    color: $danger;

    &:hover {
      color: $danger;
    }


    &:after {
      background: $danger;
    }
  }

  &.button-white {
    background-color: $transparent;
    border: 2px solid $white;
    color: $white;

    &:hover {
      color: $black;
      // background-color: $white;
      &:after {
        background: $white;
        transform: translateX(0);
        
      }
    }



    &:after {
      background: $transparent;
    }
  }

  &:disabled {
    background-color: $dark-gray !important;
    border: 2px solid $dark-gray !important;
    color: $white !important;
    opacity: 1 !important;

    &:after {
      background-color: $dark-gray !important;
    }

    &:hover:after,
    &:active:after {
      transform: translate(0, 0) !important;
    }
  }
}

.button-link-square {
  background-color: $transparent;
  border: 0;
  color: $white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-btn {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  line-height: 1;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  &:after {
    content: "";
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:hover:after,
  &:active:after {
    width: 100%;
  }
  span {
    z-index: 1;
    position: relative;
    display: inherit;
  }
  &.collapse-btn {
    background-color: $light-gray;
    color: $coral;
    &:after {
      background-color: rgba($light-gray, 0.3);
    }
  }
  &.btn-link {
    background-color: transparent;
    color: $coral;
    &:after {
      background-color: transparent;
    }
  }
  &.coral-100 {
    background-color: $coral;
    color: $white;
    &:after {
      color: $coral;
      background-color: rgba($coral, 0.3);
    }
  }
  &.coral {
    background-color: rgba($coral, 0.17);
    color: $coral;
    &:after {
      background-color: rgba($coral, 0.3);
    }
  }
  &.edit {
    background-color: rgba($sea-light, 0.2);
    color: $sea-light;
    &:after {
      background-color: rgba($sea-light, 0.3);
    }
  }
  &.download {
    background-color: rgba($secondary-purple, 0.2);
    color: $secondary-purple;
    &:after {
      background-color: rgba($secondary-purple, 0.3);
    }
  }
  &.delete {
    background-color: rgba($coral, 0.2);
    color: $coral;
    &:after {
      background-color: rgba($coral, 0.3);
    }
  }
  &:hover {
    opacity: 0.9;
  }
}

.add-tag-button {
  width: 36px !important;
  height: 36px !important;
  position: relative;
  top: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  .square-btn {
    width: 36px !important;
    min-width: 36px !important;
    height: 36px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-chip-list {
  position: relative;
  top: -10px;
}
