$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
$label-margin-bottom: 0;
$mobile-header-height: 113px;

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: bold;
$font-extra-bold: 800;
$font-family: 'BetaSTC';
$font-size-base: 16;

$black: #000000;
$white: #FFFFFF;
$coral: #FF375E;
$silver: #DDE0E1;
$onyx: #1D242D;
$primary-purple: #4F008C;
$secondary-purple: #A54EE1;
$oasis-light: #00C48C;
$light-gray: #F3F3F1;
$light-gray2: #F4F4F4;
$mid-gray: #BBC8CE;
$dark-gray: #8E9AA0;
$off-white: #f9f9f9;
$off-white2: #F8F8F8;
$danger: #CF2543;
$warning: #FFDD40;
$yellow: #FFBF00;
$sea-light: #1BCED8;
$transparent: transparent;
$orange:#FF6A39;
$colors: (
  black:$black,
  white: $white,
  coral: $coral,
  silver: $silver,
  onyx: $onyx,
  primary-purple: $primary-purple,
  secondary-purple: $secondary-purple,
  oasis-light: $oasis-light,
  light-gray: $light-gray,
  mid-gray: $mid-gray,
  dark-gray:$dark-gray,
  off-white:$off-white,
  off-white2: $off-white2,
  danger: $danger,
  warning: $warning,
  yellow:$yellow,
  sea-light:$sea-light,
  orange:$orange,
  transparent:$transparent,
);

@mixin colors-bg-text {
  @for $i from 1 through length($colors) {
    $key: nth($colors, $i);
    $value: nth($key, 2);
    .bg-color-#{"" + nth($key, 1)} {
      background-color: $value;
    }
    .text-color-#{"" + nth($key, 1)} {
      color: $value;
    }
    .bg-color-#{"" + nth($key, 1)}-imp {
      background-color: $value !important;
    }
    .text-color-#{"" + nth($key, 1)}-imp {
      color: $value !important;
    }

      .#{"" + nth($key, 1)}-checkbox.mat-accent{
          .mat-checkbox-frame{
            border-color: $value !important;
          }
        &.mat-checkbox-checked{
          .mat-checkbox-background{
            background-color: $value !important;
          }
        }

      }

  }
}
