@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.case-info-list {
  .case-info-row {
    padding: 16px 28px;

    .info-key, .info-value {
      display: flex;
      align-items: center;
    }

    .info-key {
      color: $dark-gray;
      font-size: 15px;
      font-weight: $font-medium;
    }

    .info-value {
      color: $onyx;
      font-size: 15px;
      font-weight: $font-medium;
    }
  }
}


@include media-breakpoint-down(sm) {
  .case-info-list {
    .case-info-row:nth-child(odd) {
      background-color: $light-gray !important;
    }

    .case-info-row:nth-child(even) {
      background-color: $white !important;
    }
  }
}
