<div class="popup-container">

  <div class="d-flex justify-content-between" mat-dialog-title>
    <h1 class="font-24 font-weight-medium text-color-onyx mb-0">Case Information</h1>
    <button class="popup-close-btn" matDialogClose>
      <svg xmlns="http://www.w3.org/2000/svg" width="15.997" height="15.992" viewBox="0 0 15.997 15.992">
        <path
          d="M21.179,19.285l5.713-5.713A1.339,1.339,0,0,0,25,11.678l-5.713,5.713-5.713-5.713a1.339,1.339,0,1,0-1.893,1.893l5.713,5.713L11.679,25a1.339,1.339,0,0,0,1.893,1.893l5.713-5.713L25,26.892A1.339,1.339,0,1,0,26.892,25Z"
          transform="translate(-11.285 -11.289)"/>
      </svg>
    </button>
  </div>

  <mat-dialog-content>

    <div class="case-info-list">
      <div class="row m-0">
        <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
          <div class="row">
            <div class="col-12 col-md-4 info-key">Name</div>
            <div class="col-12 col-md-8 info-value">stc complains at the Communications</div>
          </div>
        </div>
        <div class="col-12 col-md-6 case-info-row bg-color-light-gray">
          <div class="row">
            <div class="col-12 col-md-4 info-key">Litigant info</div>
            <div class="col-12 col-md-8 info-value">stc</div>
          </div>
        </div>
        <div class="col-12 col-md-6 case-info-row">
          <div class="row">
            <div class="col-12 col-md-4 info-key">Case Type</div>
            <div class="col-12 col-md-8 info-value">Case Type no 0.1</div>
          </div>
        </div>
        <div class="col-12 col-md-6 case-info-row">
          <div class="row">
            <div class="col-12 col-md-4 info-key">Specialized Cort</div>
            <div class="col-12 col-md-8 info-value">Raydah Cort</div>
          </div>
        </div>
        <div class="col-12 case-info-row bg-color-light-gray">
          <div class="row">
            <div class="col-12 info-key">Description </div>
            <div class="col-12 info-value">Each of us is expected to act in a way that promotes the Company’s best interests.  Personal relationships with suppliers,dealers, and customers must not affect your ability to act in a ma Personal relationships with suppliers,dealers, and customersner</div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-4 border-bottom">
      <div class="row">
        <div class="col-md-6 mb-4">
          <app-docs-uploader></app-docs-uploader>
        </div>
        <div class="col-md-6 mb-4">
          <app-docs-uploader></app-docs-uploader>
        </div>
      </div>
    </div>

    <div class="col-12 mb-3">
      <mat-form-field class="w-100 font-16-imp font-weight-medium custom-textarea" floatLabel="always">
        <label class="w-100">
          <textarea matInput placeholder="Leave Comment" rows="5"></textarea>
        </label>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="center">
    <button class="btn button-danger font-weight-medium font-17"><span>Send Back</span>
    </button>
    <span class="mx-1 mx-md-3"></span>
    <button class="btn button-oasis font-weight-medium font-17"><span>Accept</span>
    </button>
  </mat-dialog-actions>

</div>
