<div class="hub-container">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center">
      <h1 class="font-40 font-md-25 font-weight-bold text-color-onyx mb-0 text-nowrap">Calendar</h1>
      <span class="bg-color-primary-purple px-2 px-md-3 py-1 font-18 font-md-16 text-color-white mx-2 mx-md-4">15</span>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end action">
      <div class="d-flex align-items-center justify-content-end d-block d-md-none">
        <button class="filters-btn coral" (click)="openFilters()">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7.2" viewBox="0 0 12 7.2">
            <g transform="translate(-46.5 -126.9)">
              <line x2="12" transform="translate(46.5 127.5)" fill="none" stroke-width="1.2" />
              <line x2="8" transform="translate(48.5 130.5)" fill="none" stroke-width="1.2" />
              <line x2="4" transform="translate(50.5 133.5)" fill="none" stroke-width="1.2" />
            </g>
          </svg>
          <span class="mx-2">Filters</span>
        </button>
      </div>
      <button class="btn button-primary font-17 font-md-15 font-weight-medium px-4" (click)="openAddEvent()"><span>Add
        New Event</span>
      </button>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-3 col-md-4">
      <app-calendar-filter class="d-none d-md-block"></app-calendar-filter>
    </div>
    <div class="col-lg-9 col-md-8">
      <div id="calendar-container" class="genral-border">
        <div class="bg-color-white py-4">
          <full-calendar
            #calendar
            height="parent"
            defaultView="dayGridMonth"
            [header]="{left: '',center: 'prev,title,next',right: 'dayGridMonth,timeGridWeek,timeGridDay'}"
            [plugins]="calendarPlugins"
            [weekends]="calendarWeekends"
            [events]="calendarEvents"
            (dateClick)="handleDateClick($event)"
            (eventClick)="handleEventClick($event)"

          ></full-calendar>
        </div>
      </div>


      <sat-popover #popover [anchor]="anchor" hasBackdrop restoreFocus="false" verticalAlign="below" horizontalAlign="center">
        <div class="popover-container bg-color-white d-flex" [ngClass]="popoverClass">
          <span class="arrow"></span>
          <div class="side-border"></div>
          <div class="d-flex flex-column flex-grow-1 p-3">
            <h3 class="font-17 font-weight-500 text-color-onyx">Meeting with Abdullah el hamd</h3>
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <div class="d-flex align-items-center mb-2 w-50">
                <span class="d-inline-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12.582" height="14.686" viewBox="0 0 12.582 14.686">
                    <path id="Path_9642" data-name="Path 9642" d="M8.292,1A6.273,6.273,0,0,0,3.743,11.607a.525.525,0,0,0,.1.125l3.631,3.616a1.169,1.169,0,0,0,1.643,0l3.618-3.606.012-.01,0,0a.526.526,0,0,0,.053-.061l.012-.016A6.284,6.284,0,0,0,8.292,1Zm0,1.049A5.234,5.234,0,0,1,12,10.985q-.018.019-.035.039l-3.59,3.582a.1.1,0,0,1-.162,0L4.678,11.083l0,0a.525.525,0,0,0-.088-.09,5.235,5.235,0,0,1,3.7-8.942Zm.016,2.11a3.151,3.151,0,1,0,3.16,3.151A3.157,3.157,0,0,0,8.309,4.159Zm0,1.045a2.106,2.106,0,1,1-2.1,2.106A2.1,2.1,0,0,1,8.309,5.2Z" transform="translate(-2.004 -1)" fill="#ff375e"/>
                  </svg>
                </span>
                <span class="mx-2 d-inline-flex font-14 font-weight-light text-color-onyx">Room 15</span>
              </div>
              <div class="d-flex align-items-center mb-2 w-50">
                <span class="d-inline-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="13.462" height="13.462" viewBox="0 0 13.462 13.462">
                    <path id="Calls_Copy_7" data-name="Calls Copy 7" d="M7.292,6.385v-3.3H6.17V7.077l5.3,2.662a5.61,5.61,0,1,1,.873-3.008h1.122a6.727,6.727,0,1,0-.716,3.023l.252-.5Z" fill="#ff375e" fill-rule="evenodd"/>
                  </svg>
                </span>
                <span class="mx-2 d-inline-flex font-14 font-weight-light text-color-onyx"> 09:15 AM</span>
              </div>
              <div class="d-flex align-items-center mb-2 w-100">
                <span class="d-inline-flex">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19.736" height="15.789" viewBox="0 0 19.736 15.789">
                    <path id="Path_10205" data-name="Path 10205" d="M19.563-116.519,16.2-121.945a.492.492,0,0,0-.412-.22.492.492,0,0,0-.412.22l-3.363,5.426a.958.958,0,0,0-.17.606,3.954,3.954,0,0,0,3.944,3.616,3.954,3.954,0,0,0,3.944-3.616A.958.958,0,0,0,19.563-116.519Zm-3.775,3.235a3,3,0,0,1-2.8-1.974h5.588A2.982,2.982,0,0,1,15.788-113.283ZM13-116.244l2.785-4.495,2.8,4.495Zm3.524,5.921H10.361v-10.924a1.969,1.969,0,0,0,1.48-1.9h4.687a.247.247,0,0,0,.247-.247v-.493a.247.247,0,0,0-.247-.247H11.56a1.587,1.587,0,0,0-.589-.65,1.964,1.964,0,0,0-1.1-.337,1.964,1.964,0,0,0-1.1.337,1.587,1.587,0,0,0-.589.65H3.207a.247.247,0,0,0-.247.247v.493a.247.247,0,0,0,.247.247H7.894a1.969,1.969,0,0,0,1.48,1.9v10.924H3.207a.247.247,0,0,0-.247.247v.493a.247.247,0,0,0,.247.247H16.528a.247.247,0,0,0,.247-.247v-.493A.247.247,0,0,0,16.528-110.323ZM8.881-123.151a.987.987,0,0,1,.987-.987.987.987,0,0,1,.987.987.987.987,0,0,1-.987.987A.987.987,0,0,1,8.881-123.151Zm-.99,7.238a.958.958,0,0,0-.17-.606l-3.363-5.426a.492.492,0,0,0-.412-.22.492.492,0,0,0-.412.22L.172-116.519a.958.958,0,0,0-.17.606A3.954,3.954,0,0,0,3.947-112.3,3.954,3.954,0,0,0,7.891-115.913Zm-3.943-4.826,2.8,4.495H1.163Zm-2.8,5.482H6.735a2.982,2.982,0,0,1-2.788,1.974A3,3,0,0,1,1.147-115.257Z" transform="translate(0 125.125)" fill="#ff375e"/>
                  </svg>
                </span>
                <span class="mx-2 d-inline-flex font-14 font-weight-light text-color-primary-purple underline">Case name</span>
              </div>
            </div>

          </div>
        </div>
      </sat-popover>
      <app-upcoming-events></app-upcoming-events>
    </div>
  </div>
</div>


