@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


:host {
  display: flex;
  background-color: $light-gray;
  min-height: 100%;
  ::ng-deep{
    .sat-popover-container {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
      padding: 16px;
      background: white;
      max-width: 160px;
      line-height: 28px;
    }
    @include media-breakpoint-down(sm) {
      .fc-dayGrid-view .fc-day-top .fc-day-number {
        float: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .fc th, .fc td,
    .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td{
      border-color: #EBEDEF !important;
      @include media-breakpoint-down(sm){
        border:0 !important;
      }
    }
    .fc-day-number{
      padding: 5px !important;
    }

    .fc-dayGrid-view .fc-body .fc-row {
      min-height: 4em;
      max-height: 6em;
      @include media-breakpoint-down(sm){
        min-height: 2em;
        max-height: 3em;
      }
    }
    .fc-axis{
      span{
        margin: 5px;
      }
    }
    .fc-toolbar.fc-header-toolbar {
      flex-wrap:wrap;
      margin-bottom: 0;
      @include media-breakpoint-down(md){
        justify-content: center;
        flex-direction: column-reverse;
      }
      .fc-center {
        margin-bottom: 1.5em;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          .fc-button {
            background-color: transparent;
            border-radius: 0;
            border: 2px solid $coral;
            color: $coral;
            transition: all .3s;
            width: 34px;
            height: 34px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background-color: $coral;
              color: $white;
            }
            .fc-icon{
              width:100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          h2 {
            margin: 0 1.5rem;
            line-height: 1;
            width: 230px;
            text-align: center;
          }
        }
      }
      .fc-right{
        margin-bottom: 1.5rem;
        .fc-button-group > .fc-button {
          background-color: $light-gray;
          border-color: $light-gray;
          color: $onyx;
          font-size: 1rem;
          height:34px;
          border-radius: 0;
          line-height: 1;
          margin: 0;
          width: 80px;
          box-shadow: none !important;
          &:focus{
            box-shadow: none;
            outline: none;
          }
          &.fc-button-active{
            background-color: $coral;
            border-color: $coral;
            color: $white;
          }
        }
      }
    }
    .fc-head-container {
      border: 0;
    }
    .fc-day-header {
      background: #F9F9F9;
      color: #C4C4C4;
      border: none !important;
      text-align: center !important;
      font-size: 16px;
      font-weight: normal;
      padding: 7px 10px !important;
      @include media-breakpoint-down(sm){
        background: transparent;
        color: $primary-purple;
        font-weight: 500;
      }
    }

    .fc-event-container {
      position: relative;
      padding-bottom: 5px;
    }

    .fc-event {
      border-radius: 0;
      background: rgba($yellow, 0.9);
      margin: 0;
      font-size: 17px;
      color: $white;
      border: none;
      cursor: pointer;
      color: $onyx;
      font-size: 1rem !important;
      margin-left: 50px !important;
      height: 36px;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        min-width: 36px;
        height: 36px;
        background-color: $yellow;
        margin: 0;
      }
      .fc-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        padding: 0 20px;
      }
      &:hover {
        opacity: 0.95;
      }

      &.pending {
        background-color: rgba($yellow, 0.33);
        &::before {
          background-color: rgba($yellow, 1);
        }
      }

      &.confirmed {
        background-color: rgba($oasis-light, 0.33);
        &::before {
          background-color: rgba($oasis-light, 1);
        }
      }

      &.enrolled {
        background-color: rgba($coral, 0.33);
        &::before {
          background-color: rgba($coral, 1);
        }
      }

      .fc-time {
        display: none;
      }
    }
  }
}



.legend-indicator {
  width: 12px;
  height: 12px;

  &.pending {
    background-color: $yellow;
  }

  &.confirmed {
    background-color: $oasis-light;
  }

  &.enrolled {
    background-color: $coral;
  }
}

.legend-text {
  font-size: 14px;
  color: $onyx;
  margin: 0 1rem;
}

.popover-container {
  z-index: 2;
  box-shadow: 0 0 3px #cccccc;
  min-width: 300px;
  margin-top: 15px;
  span.arrow {
    position: absolute;
    top: 0;
    //margin: 0 45px;
    //width: 40px;
    height: 16px;
    overflow: hidden;
    transform: translateX(50%);
    width: 100%;
  }

  span.arrow:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg); /* Prefixes... */
    top: 10px;
    left: 4px;
    box-shadow: 0px 0px 1px 0px #cccccc;
  }
  .side-border {
    min-width: 8px;
    background-color: $yellow;
  }

  &.pending {
    .side-border {
      background-color: $yellow;
    }
  }

  &.confirmed {
    .side-border {
      background-color: $oasis-light;
    }
  }

  &.enrolled {
    .side-border {
      background-color: $coral;
    }
  }
}

@include media-breakpoint-down(md) {
  .action {
    justify-content: space-between !important;
    margin-top: 1.5rem;

    .button-primary {
      height: 35px;
    }

    .filters-btn {
      margin-right: 1rem;
    }
  }
}



[dir="rtl"] {
  :host ::ng-deep .fc-event {
    margin-right: 50px !important;
    margin-left: 0 !important;
  }
}


