@import "src/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
:host {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index:1000;
    .mat-icon-button {
        width: 62px;
        height: 62px;
        background: $coral;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.21);
        .mat-icon {
            display: flex;
            height: 100%;
            width: 100%;
            line-height: 1 !important;
            svg {
                transition: all .3s linear;
            }
        }
        &[aria-expanded="true"] {
            .mat-icon {
                svg {
                    transform: rotate(45deg);
                }
            }
        }
    }
}
