<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="18.486" height="18.486" viewBox="0 0 18.486 18.486">
            <path id="Path_10253" data-name="Path 10253" d="M22.166,15.563h-6.6v6.6a1.32,1.32,0,0,1-2.641,0v-6.6H6.32a1.32,1.32,0,0,1,0-2.641h6.6V6.32a1.32,1.32,0,0,1,2.641,0v6.6h6.6a1.32,1.32,0,0,1,0,2.641Z" transform="translate(-5 -5)" fill="#fff"/>
          </svg>
          
    </mat-icon>
  </button>
<mat-menu #menu="matMenu" class="floating-menu" backdropClass="floating-menu-backdrop"> 
    <button mat-menu-item>
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="25.772" height="20.617" viewBox="0 0 25.772 20.617">
            <path id="Path_10205" data-name="Path 10205" d="M25.546-113.886l-4.391-7.086a.642.642,0,0,0-.538-.287.642.642,0,0,0-.538.287l-4.391,7.086a1.251,1.251,0,0,0-.222.791,5.164,5.164,0,0,0,5.151,4.722,5.164,5.164,0,0,0,5.151-4.722A1.251,1.251,0,0,0,25.546-113.886Zm-4.929,4.225a3.914,3.914,0,0,1-3.656-2.577h7.3A3.894,3.894,0,0,1,20.617-109.662Zm-3.635-3.866,3.637-5.87,3.662,5.87Zm4.6,7.732H13.53v-14.266a2.571,2.571,0,0,0,1.933-2.486h6.121a.322.322,0,0,0,.322-.322v-.644a.322.322,0,0,0-.322-.322H15.1a2.072,2.072,0,0,0-.77-.848,2.565,2.565,0,0,0-1.441-.44,2.565,2.565,0,0,0-1.441.44,2.072,2.072,0,0,0-.77.848H4.188a.322.322,0,0,0-.322.322v.644a.322.322,0,0,0,.322.322h6.121a2.571,2.571,0,0,0,1.933,2.486V-105.8H4.188a.322.322,0,0,0-.322.322v.644a.322.322,0,0,0,.322.322h17.4a.322.322,0,0,0,.322-.322v-.644A.322.322,0,0,0,21.584-105.8ZM11.6-122.548a1.289,1.289,0,0,1,1.289-1.289,1.289,1.289,0,0,1,1.289,1.289,1.289,1.289,0,0,1-1.289,1.289A1.289,1.289,0,0,1,11.6-122.548ZM10.3-113.1a1.251,1.251,0,0,0-.222-.791l-4.391-7.086a.642.642,0,0,0-.538-.287.642.642,0,0,0-.538.287L.225-113.886A1.251,1.251,0,0,0,0-113.1a5.164,5.164,0,0,0,5.151,4.722A5.164,5.164,0,0,0,10.3-113.1Zm-5.149-6.3,3.662,5.87h-7.3ZM1.5-112.239H8.8a3.894,3.894,0,0,1-3.641,2.577A3.914,3.914,0,0,1,1.5-112.239Z" transform="translate(0 125.125)" fill="#fff"/>
          </svg>          
      </mat-icon>
      <span>Add case</span>
    </button>
    <button mat-menu-item>
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="19.943" height="14.957" viewBox="0 0 19.943 14.957">
            <path id="Path_9550" data-name="Path 9550" d="M1030.45-366.75a2.493,2.493,0,0,1,2.493,2.493v9.971a2.493,2.493,0,0,1-2.493,2.493H1013v-12.464a2.493,2.493,0,0,1,2.493-2.493Zm0,1.662h-14.957a.831.831,0,0,0-.831.831v10.8h15.788a.831.831,0,0,0,.831-.831v-9.971A.831.831,0,0,0,1030.45-365.088Zm-7.063,2.077v7.478h-6.648v-7.478Zm6.232,4.986v1.662h-4.155v-1.662Zm-7.894-3.324H1018.4v4.155h3.324Zm7.894,0v1.662h-4.155v-1.662Z" transform="translate(-1013 366.75)" fill="#fff" fill-rule="evenodd"/>
          </svg>          
      </mat-icon>
      <span>Add Content</span>
    </button>
    <button mat-menu-item>
      <mat-icon>
        <svg xmlns="http://www.w3.org/2000/svg" width="20.615" height="17.609" viewBox="0 0 20.615 17.609">
            <path id="Path_10274" data-name="Path 10274" d="M144.439-364.635l-2.233-2.871a2.577,2.577,0,0,0-2.034-.995h-2.6A2.577,2.577,0,0,0,135-365.923v15.032h18.038a2.577,2.577,0,0,0,2.577-2.577v-8.59a2.577,2.577,0,0,0-2.577-2.577Zm-7.721,1.718h16.32a.859.859,0,0,1,.859.859v8.59a.859.859,0,0,1-.859.859h-16.32Zm5.545-1.718h-5.545v-1.288a.859.859,0,0,1,.859-.859h2.6a.859.859,0,0,1,.678.332Z" transform="translate(-135 368.5)" fill="#fff" fill-rule="evenodd"/>
          </svg>          
      </mat-icon>
      <span>Add Contract </span>
    </button>
    <button mat-menu-item>
        <mat-icon>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path id="Path_10262" data-name="Path 10262" d="M279-485.5a2.5,2.5,0,0,1-2.5,2.5H259v-15.833a2.5,2.5,0,0,1,2.5-2.5H264V-503h1.667v1.667h6.667V-503H274v1.667h2.5a2.5,2.5,0,0,1,2.5,2.5Zm-1.667-9.167H260.667v10H276.5a.833.833,0,0,0,.833-.833Zm-7.5,6.667v1.667h-1.667V-488ZM274-488v1.667h-1.667V-488Zm-8.333,0v1.667H264V-488Zm4.167-4.583v1.667h-1.667v-1.667Zm4.167,0v1.667h-1.667v-1.667Zm-8.333,0v1.667H264v-1.667ZM264-499.667h-2.5a.833.833,0,0,0-.833.833v2.5h16.666v-2.5a.833.833,0,0,0-.833-.833H274v2.083h-1.667v-2.083h-6.667v2.083H264Z" transform="translate(-259 503)" fill="#fff" fill-rule="evenodd"/>
              </svg>              
        </mat-icon>
        <span>Add event</span>
      </button>
    <button mat-menu-item>
        <mat-icon>
            <svg xmlns="http://www.w3.org/2000/svg" width="15.517" height="19.6" viewBox="0 0 15.517 19.6">
                <path id="Path_10268" data-name="Path 10268" d="M523.368-371.8l4.4,4.717v12.433a2.45,2.45,0,0,1-2.45,2.45H512.25v-17.15a2.45,2.45,0,0,1,2.45-2.45Zm-.71,1.633H514.7a.817.817,0,0,0-.817.817v15.516h11.433a.817.817,0,0,0,.817-.817V-366.44Zm-2.684,8.89v1.633h-4.458v-1.633Zm2.076-3.267v1.633h-6.533v-1.633Zm-2.076-3.267v1.633h-4.458v-1.633Z" transform="translate(-512.25 371.8)" fill="#fff" fill-rule="evenodd"/>
              </svg>              
        </mat-icon>
        <span>Add task </span>
      </button>
</mat-menu>